

.b1w_1,.b1w_2,.b1w_3,.b1w_4{background:url(../img/b1w.png) no-repeat 0 0;}
.b1w_1{width:640px;height:406px;background-position:0 0;}
.b1w_2{width:640px;height:83px;background-position:0 -404px;}
.b1w_3{width:640px;height:84px;background-position:0 -489px;}
.b1w_4{width:640px;height:463px;background-position:0 -572px;}





.b2w_1,.b2w_2,.b2w_3,.b2w_4{background:url(../img/b2w.png) no-repeat 0 0;}
.b2w_1{width:640px;height:477px;background-position:0 0;}
.b2w_2{width:640px;height:83px;background-position:0 -478px;}
.b2w_3{width:640px;height:84px;background-position:0 -562px;}
.b2w_4{width:640px;height:397px;background-position:0 -645px;}



.b3w_1,.b3w_2,.b3w_3{background:url(../img/b3w.png) no-repeat 0 0;}
.b3w_1{width:640px;height:340px;background-position:0 0;}
.b3w_2{width:640px;height:336px;background-position:0 -340px;}
.b3w_3{width:640px;height:444px;background-position:0 -676px;}

.b4w_1,.b4w_2,.b4w_3{background:url(../img/b4w.png) no-repeat 0 0;}
.b4w_1{width:640px;height:340px;background-position:0 0;}
.b4w_2{width:640px;height:336px;background-position:0 -340px;}
.b4w_3{width:640px;height:444px;background-position:0 -676px;}

.b5w_1,.b5w_2,.b5w_3{background:url(../img/b5w.png) no-repeat 0 0;}
.b5w_1{width:640px;height:340px;background-position:0 0;}
.b5w_2{width:640px;height:336px;background-position:0 -340px;}
.b5w_3{width:640px;height:444px;background-position:0 -676px;}


.b6w_1,.b6w_2,.b6w_3{background:url(../img/b6w.png) no-repeat 0 0;}
.b6w_1{width:640px;height:340px;background-position:0 0;}
.b6w_2{width:640px;height:336px;background-position:0 -340px;}
.b6w_3{width:640px;height:444px;background-position:0 -676px;}


.b7w_1,.b7w_2,.b7w_3{background:url(../img/b7w.png) no-repeat 0 0;}
.b7w_1{width:640px;height:340px;background-position:0 0;}
.b7w_2{width:640px;height:336px;background-position:0 -340px;}
.b7w_3{width:640px;height:444px;background-position:0 -676px;}



.b8w_1,.b8w_2,.b8w_3{background:url(../img/b8w.png) no-repeat 0 0;}
.b8w_1{width:640px;height:340px;background-position:0 0;}
.b8w_2{width:640px;height:336px;background-position:0 -340px;}
.b8w_3{width:640px;height:444px;background-position:0 -676px;}


.b9w_1,.b9w_2,.b9w_3{background:url(../img/b9w.png) no-repeat 0 0;}
.b9w_1{width:640px;height:340px;background-position:0 0;}
.b9w_2{width:640px;height:336px;background-position:0 -340px;}
.b9w_3{width:640px;height:444px;background-position:0 -676px;}


.b10w_1,.b10w_2,.b10w_3{background:url(../img/b10w.png) no-repeat 0 0;}
.b10w_1{width:640px;height:340px;background-position:0 0;}
.b10w_2{width:640px;height:336px;background-position:0 -340px;}
.b10w_3{width:640px;height:444px;background-position:0 -676px;}