.register-box{
    height: 490px;
    color:#221815;
}
.register ul{
    margin: 0 auto;
}



/*bar*/
.steps{
    position: relative;
    width: 344px;
    height: 40px;
}
ul.step1{
    position: relative;
    margin-bottom: 11px;
    width: 344px;
    height: 19px;
    font-size: 14px;
}
ul.step1 li{
    position: absolute;
}
ul.bar{
    position: relative;
    margin-top: 3px;
    width: 302px;
    height: 6px;
    overflow: hidden;
}
ul.bar li{
    
    width: 151px;
    height: 6px;
    background-color: #e5e5e5;
}
ul.bar li.left-bar{
    float: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
ul.bar li.right-bar{
    float: right;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
ul.bar li.left-barbg{
    background-color: #f8285d;
}
ul.bar li.right-barbg{
    background-color: #e5e5e5;
}
.steps{
    margin: 22px auto 0;
}
.dot{
    width: 12px;
    height: 12px;
    background: url(../images/icons/list-style.png) no-repeat;
}
.dot-red{
    background-position: 0 -79px;
    
}
.dot-gray{
    background-position: 0 0;
}

.left-txt{
    left: 0;
}
.center-txt{
    left: 141px;
}
.right-txt{
    left: 310px;
}
.red-txt{
    color: #e3063e;
}

.left,
.center,
.right{
    position: absolute;
}
.left{
    /*top: -3px;
    left: -4px;*/
}
.center{
    /*top: -3px;*/
}
.right{
    /*top: -3px;*/
    left: 297px;
}
ul.dot-list{
    position: absolute;
    top: 27px;
    left: 18px;
    overflow: hidden;
    width: 315px;
    height: 12px;
}
ul.dot-list li{
    float: left;
}





.register-box ul.phone-verification{
    margin: 46px auto 0;
}
.red-small{
    float: left;
    width: 200px;
    height: 44px;
}
.cancel{
    float: right;
    width: 120px;
    height: 44px;
    line-height: 44px;
    color: #6b6b6b;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;

}
.btn-box{
    height: 44px;
}
.btn-box{
    margin-top: 33px;
}
.red-bg{
    margin-top: 0;
}
.wrong{
    color: #959595;
}
.wrong a.once-again{
    color: #221815;
}
.wrong a.once-again:hover{
    color: #e3063e;
}