a {
  color: #8d8d8d;
}
.header-wrap {
  width: 100%;
  height: 70px;
  background: #fff;
  font-size: 12px;
  margin-bottom: 95px;
  line-height: 70px;
  font-family: "Microsoft Yahei";
  border-bottom: 1px solid #e0e0e0;
}
.header-wrap .header {
  width: 1200px;
  margin: 0 auto;
}
.header-wrap .header .logo {
  float: left;
  width: 170px;
  height: 27px;
  margin-top: 21px;
  background: url(../images/logo.png) no-repeat;
}
.header-wrap .header .righttips div {
  display: inline-block;
  vertical-align: middle;
}
.righttips{

}
.header-wrap .header .common-question {
padding-left: 18px;
display: inline-block;
line-height: 20px;
background: url(../images/icons/uc-icon.png) 0 -23px no-repeat;
}
.header-wrap .uc-header-private {
  margin-right: 20px;
}
.header-wrap .uc-header-private .exit-btn {
  width: 16px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  background: url(../images/icons/uc-icon.png) no-repeat;
}
body{
    background: #f9f9f9;
}
.mo-container{
    margin:0 auto;
    width: 1000px;
    margin-top: 95px;
}
.mo-logo {
    width: 100%;
    text-align: left;
}
.mo-logo img{
    width: 128px;
    height: 68px;
    margin: 70px 0 50px 0;
}
.mo-warper {
    border:solid 1px #e0e0e0;
    border-radius: 5px;
    background: #fff;
}
.mo-title {
    text-align: center;
    font-size: 22px;
    color: #221815;
    padding: 39px 0;
    background: #fff;
    border-bottom: solid 1px #e0e0e0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.mo-form-item {
    width: 342px;
    color: #c6c6c6;
    font-size: 13px;
    padding-top: 15px;
    margin:0 auto;
    padding: 39px 0 30px 0;
}
.formitem {
    margin-bottom: 30px;
}
.formitem label{
    font-size: 14px;
    color: #221815;
    display: inline-block;
    margin-bottom: 20px;
}
.formitem input {
    width: 342px;
    height: 40px;
    line-height: 40px;
    font-size:16px;
    color: #434343;
    padding-left: 10px;
    /*border: 1px solid #ececec;  */
}
.mo-form-item .check input{
    font-size: 12px;
    width: 194px;
    box-shadow: 1px 2px 7px -3px #e0e0e0 inset;
}
.checkcode{
    width: 124px;
    height: 45px;
    margin-left: 24px;
}
.checkcode img{
    width: 124px;
    height: 45px;
}
/*input:focus {
    background-color: #f2fafd;
    border-color: #00a1d7;
}*/
.sign{
    background: #e3063e;
    width: 342px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 16px;
    box-shadow: none;
    cursor: pointer;
    margin-bottom: 18px;
}
.sign:hover{
    background-color: #f2174e;
}
.mo-copyright {
    font-size: 12px;
    color: #848484;
    text-align: center;
    padding: 35px 0;
}
.mo-copyright a {
    color: #848484;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}
.ct-red{
    color: #ff0000;
}
.mo-tip {
    font-size: 12px;
    color: #221815;
}
.send-code {
    box-shadow: none;
    width: 136px;
    height: 40px;
    line-height: 40px;
    border: solid 1px #e3063e;
    color: #e3063e;
    font-size: 14px;
    background: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.send-code:hover {
    color:#ff4861;
}
.send-code-gray{
    color: #fff;
    border: 1px solid #e0e0e0;
    background-color: #959595;
}
.mo-why{
    font-size: 12px;
    color: #221815;
}
.mo-why a{
    font-size: 12px;
    color: #221815;
}
.mo-why a:hover{
    color: #e3063e;
}
.none{
    display: none;
}
.mg-b18{
    margin-bottom: 18px;
}
.repass input{
    font-size: 12px;
    color: #434343;
    box-shadow: -1px 2px 7px -3px #e0e0e0 inset;
}
.repass .tips{
    color: #362c2a;
    font-size: 12px;
    margin:-7px 0 23px 0;
}
.success .result {
    font-size: 20px;
    color: #221815;
    text-align: center;
    margin-top: 30px;
    height: 37px;
    line-height: 37px;
    margin-left: 32px;
    padding-left: 26px;
    letter-spacing: 2px;
    background: url(../images/icons/succ.png) 0 center no-repeat;
}
.success .return {
    color: #757575;
    font-size: 12px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}
.success .return span{
    color: #e3063e;
}
.success .center{
    margin-left: 87px;
}
.success .goback{
    display: block;
}
.success .reindex{
    text-align: center;
    width: 168px;
    height: 44px;
    line-height: 44px;
    background: #e3063e;
    color: #fff;
    font-size: 16px;
    box-shadow: none;
    border-radius: 5px;
    margin-bottom: 49px;
    cursor: pointer;
}
.success .reindex:hover{
    background-color: #f2174e;
}
.top{
    margin: 69px auto 0;
    width: 1000px;
}
.log-out{
    display: block;
    float: right;
    padding-top: 32px;
    font-size: 18px;
    line-height: 18px;
    color: #414141;
}
 .special-log-out{
    margin-bottom: 22px;
 }
 .login-bottom{
    margin-top: 37px;
    text-align: center;
    font-size: 12px;
    color: #848484;
    line-height: 25px;
}