.log-out{
    display: block;
    float: right;
    padding-top: 32px;
    font-size: 18px;
    line-height: 18px;
    color: #414141;
}
.password-modify-result{
    margin-top: 95px;
    height: 530px;
}
.register ul{
    position: relative;
    height: auto;
}
.right-wrong{
    position: absolute;
    width: 19px;
    height: 19px;
    background: url(../images/icons/right-wrong.png) no-repeat;
    background-position: 0 0;
}
.wrong{
    background-position: 0 -62px;
}
.origin{
    top: 53px;
    right: -1px;
}
.new{
    top: 156px;
    right: -1px;
}
.new-repeat{
    top: 217px;
    right: -1px;
}
