ul.modify-password{
    font-size: 14px;
    color: #221815;
}
ul.modify-password label{
    display: block;
    margin-bottom: 20px;
}
ul.modify-password input{
    margin-bottom: 20px;
    width: 341px;
    font-size: 12px;
    box-shadow: 1px 2px 7px -3px #e0e0e0 inset 
}
.register ul{
    margin: 22px auto 0;
}
