body {
  background: #f9f9f9;
}
a {
  color: #8d8d8d;
}
.header-wrap {
  width: 100%;
  height: 70px;
  background: #fff;
  font-size: 12px;
  line-height: 70px;
  border-bottom: 1px solid #e0e0e0;
}
.header-wrap .header {
  width: 1200px;
  margin: 0 auto;
}
.header-wrap .header .logo {
  float: left;
  width: 170px;
  height: 27px;
  margin-top: 21px;
  background: url(/images/logo.png) no-repeat;
}
.header-wrap .header .righttips div {
  display: inline-block;
  vertical-align: middle;
}
.header-wrap .header .common-question {
  padding-left: 18px;
  background: url(/images/icons/uc-icon.png) 0 -25px no-repeat;
}
.header-wrap .uc-header-private {
  width: 210px;
}
.header-wrap .uc-header-private .avatar-wrap {
  width: 154px;
  height: 50px;
  padding-right: 32px;
  line-height: 50px;
  margin-right: 20px;
  border-right: 1px solid #e7e7e7;
}
.header-wrap .uc-header-private .avatar-wrap .avadar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 18px;
  text-align: center;
  background: #e2e2e2 url(/images/avadar.png) no-repeat center center;
  background-size: 55% 55%;
}
.header-wrap .uc-header-private .avatar-wrap .avadar img {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 25px;
}
.header-wrap .uc-header-private .exit-btn {
  width: 16px;
  height: 25px;
  background: url(/images/icons/uc-icon.png) no-repeat;
}
#footer {
  color: #848484;
  text-align: center;
  line-height: 70px;
  margin-bottom: 260px;
}
.main {
  width: 524px;
  margin: auto;
  padding-top: 95px;
}
.main h1 {
  color: #434343;
  font-size: 20px;
  text-align: center;
  padding: 40px 0;
}
.main .content {
  width: 524px;
  height: 390px;
  border-radius: 5px;
  padding-top: 70px;
  border: 1px solid #ddd;
  background: #fff;
}
.main .content .formitem{
  width: 322px;
  height: 40px;
  margin:auto;

}
.main .content .formitem input{
  width: 100%;
  height: 40px;
  padding-left: 50px;
  border:1px solid #e2e2e2;
  border-radius: 5px;
  background:url(/images/icons/uc-icon.png) 0 -380px no-repeat;;
}
.main .content .formitem input:focus{
  border-color: #919191;
}
.main .content .tips{
  width: 245px;
  margin:auto;
  text-align: center;
}
#psd{
  margin-top: 25px;
  background-position: 15px -405px;
}
.main .btn-wrap {
  width: 322px;
  margin: auto;
  padding-top: 55px;
}
.main .btn-wrap button {
  height: 40px;
  font-size: 16px;
  line-height: 40px;
}
.main .btn-wrap .old-num {
  margin-top: 16px;
}
