.myForm ul li input{
    width: 342px;
    height: 40px;
}
.tip{
    margin-bottom: 20px;
}
.password,
.repeat-password{
    margin-bottom: 30px;
}
.tip2{
    margin-bottom: 30px;
    color: #362c2a;
    font-size: 12px;
}
.next-step{
    display: block;
    background: #e3063e;
    width: 342px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    box-shadow: none;
    cursor: pointer;
    margin-bottom: 18px;
    border-radius: 3px;
}