body{
    /*letter-spacing: 2px;*/
}
.title-inner{
    margin:25px 0 0 30px;
    width: 360px;
    height: 46px;
}
.inner-left{
    display: block;
    float: left;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border-radius: 5px;
}
.register .register-box{
    height: auto;
    /*font:normal 18px "Microsoft Yahei";*/
}
.register-title .title-inner ul.inner-right{
    float: left;
    margin: 6px 0 0 14px;
    width: 300px;
    height: 44px;
    text-align: left;

}
ul.inner-right li{
    overflow: hidden;
    width: 300px;

}
.nick-name{
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    color: #2e2d2d;

}
.email{
    margin-top: 9px;
    font-size: 12px;
    line-height: 18px;
    color: #8d8d8d;
}
.main ul.left-bar{
    float: left;
    padding: 45px 0 0 35px;
    margin: 0;
    width: 178px;
}
.main ul.left-bar li{
    margin-bottom:25px;
    font-size: 18px;
    line-height: 19px;
}
.main ul.left-bar li a.personal-info{
    background-position: 0 -44px;
    color: #878787;
}
.main ul.left-bar li a{
    display: block;
    padding-left: 27px;
    background: url(../images/icons/icon1.png) no-repeat;
    color: #f8285d;
}
.main{
    overflow: hidden;
}
.main ul.right-content{
    float: right;
    margin: 0;
    width: 773px;
    height: auto;
}
.main ul.right-content li{
    padding:34px 0 34px 35px;
    margin: 0 auto;
    width: 774px;
    height: 100px;
    /*
    height: 110px;
    padding-left: 35px;
    */
    border-bottom: 1px solid #e6e6e6;
}
.main ul.right-content li.safe-stage{
    padding: 0;
    width: 100%;
    height: 86px;
}
.right-content .safe-stage .stage{
    padding: 32px 0 0 43px;
    margin: 0;
    overflow: hidden;
    width: auto;
    height: 60px;
    line-height: 28px;
}
.right-content .safe-stage .stage li{
    float: left;
    padding: 0;
    width: auto;
    height: auto;
    font-size: 14px;
    color: #8d8d8d;
    border-bottom: none;
}
ul.right-content li.safe-email,
.safe-question{
    border-bottom: none;
}
.right-content .safe-stage .stage span{
    display: inline-block;
}
.red-txt{
    font-weight: bold;
    color: #f8285d;
}
.big-tip{
    font-size: 20px;
    font-weight:bold;
}
.mark{
    font-size: 20px;
}
.terms{
    font-size: 18px;
}
li.safe-stage ul.stage li.stage-center{
    position: relative;
    margin: 12px 20px 0 20px;
    width: 320px;
    height: 14px;
}
.gray-bar-box{

}
.red-bar-box{
    position: absolute;
    /*overflow: hidden;*/
    margin:4px 0 0 6px;
    width: 300px;
    height: 6px;
    border-radius: 3px;
    background-color: #e5e5e5;
}
.red-bar{
    position: absolute;
    top: 0;
    width: 0;
    height: 6px;
    background-color: #f8285d;
    border-radius: 3px;
}
.red-point{
    z-index: 12;
    width: 14px;
    height: 14px;
    margin-left: -2px;
    margin-top: -4px;
    display: inline-block;
    background: url(../images/icons/list-style.png) 1px -78px no-repeat;
}
.line{
    height:6px;
    background:#f8285d;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: inline-block;
}
li.safe-stage ul.stage li.stage-right{

}
.terms-icons{
    float: left;
    width: 76px;
    height: 40px;
    background: url(../images/icons/icon2.png) no-repeat;
}
.term1{
    background-position: 25px -411px;
}
.term1.binded{
    background-position: 25px 3px;
}
.term2{
    background-position: 20px -471px;

}
.term2.binded{
    background-position: 20px -71px;
}
.term3{
    background-position: 20px -526px;
}
.term3.binded{
    background-position: 20px -130px;
}
.term4{
    background-position: 22px -579px;

}
.term4.binded{
    background-position: 23px -332px;
}
.term5{
    background-position: 22px -634px;
}
.term5.binded{
    background-position: 23px -192px;
}
.term6{
    background-position: 20px -684px;

}
.term6.binded{
    background-position: 20px -256px;
}
.description{
    float: left;
}
.btns{
    display: block;
    float: right;
    margin-right: 20px;
    width: 110px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 3px;
}
.btn-bind{
    color: #f8285d;
    border: 1px solid rgba(245,78,121, .34);
}
.btn-modify{
    color: #6b6b6b;
    border: 1px solid rgba(150,150,150, .34);
}
.other .other-top button{
    margin-top: 0;
    background:none;
}
.other .other-top .special-btn-bind{
    margin-right: 19px;
    color: #fff;
    background-color: #f8285d;
    border: none;
}
.main ul.right-content li.other{
    padding: 0;
    height: auto;
    border-bottom: none;
}
.main ul.right-content li.other .other-top{
    padding:34px 0 34px 35px;
    height: 108px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
ul.right-content li.other ul.third-party{
    /*display: inline-block;*/
    display: none;
    padding: 0;
    margin: 0 auto;
    width: 774px;
    height: 216px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

ul.right-content li.other ul.third-party li{
    padding: 0 0 0 86px;
    margin: 30px auto;
    border: none;
}
.main ul.right-content li.bind-card{
    border-bottom: none;
}
.description-top{
    font-size: 13px;
    color: #484848;
}
.description-bottom{
    margin-top: 5px;
    font-size: 12px;
    color: #9b9b9b;
}
.btns{
    width: 110px;
    height: 35px;
}
.bind-state{
    padding:0 0 3px 20px;
    margin-left: 30px;
    font-size: 14px;
    background: url(../images/icons/icon3.png) no-repeat;
}
.bind-already{
    color: #0eb70e;
    background-position: 0 3px;
}
.bind-not{
    color: #f8285d;
    background-position: 0 -68px;
}
.third-party-description{
    float: left;

}
.third-logo{
    float: left;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    background: url(../images/icons/third-agent.png) no-repeat;
}
.qq{
    background-position: 0 0;
}
.weibo{
    background-position: -55px 1px;
}
.wechat{
    background-position: -110px 0;
}
