body {
  background: #f9f9f9;
}
a {
  color: #8d8d8d;
}
.header-wrap {
  width: 100%;
  height: 70px;
  background: #fff;
  font-size: 12px;
  line-height: 70px;
  font-family: "Microsoft Yahei";
  border-bottom: 1px solid #e0e0e0;
}
.header-wrap .header {
  width: 1200px;
  margin: 0 auto;
}
.header-wrap .header .logo {
  float: left;
  width: 170px;
  height: 27px;
  margin-top: 21px;
  background: url(../images/logo.png) no-repeat;
}
.header-wrap .header .righttips div {
  display: inline-block;
  padding-bottom: 6px;
  vertical-align: middle;
}
.header-wrap .header .common-question {
  padding-left:18px;
  display: inline-block;
  line-height: 16px;
  background: url(../images/icons/uc-icon.png) 0 -23px no-repeat;
}
.header-wrap .uc-header-private {
  margin-right: -30px;
}
.header-wrap .menu{
  width: 160px;
  /*padding:0 12px;*/
  display: none;
  font-size: 13px;
  color:#919191;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 100;
  background:#fff;
  text-align: left;
  border:1px solid #e2e2e2;
  border-top: 0;
}
.header-wrap .menu li{
  line-height: 50px;
  background: url(../images/icons/uc-icon2.png) no-repeat;
}
.header-wrap .menu li a{
  display: block;
  width: 136px;
  margin:auto;
  padding-left: 45px;
  border-bottom: 1px solid #f3f3f3;
}
.header-wrap .menu li:last-child a{
  border-bottom: 0;
}
.header-wrap .menu li:hover{
  background-color: #f3f3f3;
}
.header-wrap .menu li.num-safety{
  background-position:21px -245px;
}
.header-wrap .menu li.property-safety{
  background-position:20px -342px;
}
.header-wrap .menu li.truename-verify{
  background-position:20px -388px
}
.header-wrap .menu li.set-id{
  background-position:22px -293px;
}
.header-wrap .menu li.exit{
  background-position:24px -476px;
}

.user-menu{
  top: 57px;
  left: 0;
  right: 0;
  display: none;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
}
.user-menu b{
  position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 8px solid #e5e5e5;
    top: -14px;
    left: 0;
    right: 0;
    margin:auto;
}
.user-menu b i{
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    right: 0;
    margin:auto;
    border: 8px solid transparent;
    top: -6px;
    margin-top: initial;
    border-bottom: 8px solid #fff;
}
.user-menu b i.hover{
    border-bottom: 8px solid #f3f3f3;
}
#user-menu{
  display: none;
}
.avatar-wrap .v-line{
  display: inline-block;
  height: 20px;
  position:  absolute;
  top:15px;
  padding-left: 16px;
  border-right: 1px solid #e2e2e2;
}
.avatar-wrap {
  height: 50px;
  line-height: 50px;
  position: relative;
}
.avatar-wrap:hover .menu,.avatar-wrap:hover #user-menu{
  display: block;
}
.avatar-wrap .avadar {
  /*padding-left: 19px;*/
}
#nickname{
  padding-right: 14px;
}
.avatar-wrap {
  width: 160px;
  text-align: center;
}
.avatar-wrap .avadar img {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 24px;
}
.header-wrap .uc-header-private .exit-btn {
  width: 16px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  background: url(../images/icons/uc-icon.png) no-repeat;
}
.main-wrap {
  padding-top: 98px;
  background: #f9f9f9;
}
.main {
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  background: #fff;
  position: relative;
}
.main .main-title {
  width: 100%;
  height: 98px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 98px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
.main .main-content-wrap .left-menu {
  width: 180px;
  color: #919191;
  line-height: 20px;
  font-size: 18px;
  padding-top: 45px;
}
.main .main-content-wrap .left-menu li {
  width: 110px;
  margin: auto;
  padding-left: 30px;
  margin-bottom: 30px;
  background: url(../images/icons/uc-icon.png) no-repeat;
}
.main .main-content-wrap .left-menu li.item1 {
  background-position: 0 -43px;
}
.main .main-content-wrap .left-menu li.item1.active {
  color: #e60039;
  background-position: 0 -180px;
}
.main .main-content-wrap .left-menu li.item2 {
  background-position: 0 -67px;
}
.main .main-content-wrap .left-menu li.item2.active {
  color: #e60039;
  background-position: 1px -205px;
}
.main .main-content-wrap .left-menu li.item3 {
  background-position: 0 -90px;
}
.main .main-content-wrap .left-menu li.item3.active {
  color: #e60039;
  background-position: 0 -158px;
}
.main .main-content-wrap .left-menu li.item4 {
  background-position: 0 -113px;
}
.main .main-content-wrap .left-menu li.item4.active {
  color: #e60039;
  background-position: 0 -135px;
}
.main .main-content-wrap .right-con-wrap {
  padding: 0 22px;
  border-left: 1px solid #e0e0e0;
}
.main .num-safety {
  display: none;
}
.main .property-safety {
  display: none;
}
.main .name-verify {
  display: none;
}
.main .personal-info .formitem {
  width: 772px;
  height: 60px;
  color: #919191;
  padding-top: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.main .personal-info .formitem input[type="text"] {
  width: 322px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.main .personal-info .formitem input[type="text"]:focus {
  border-color: #919191;
}
.main .personal-info .formitem label {
  width: 90px;
  height: 40px;
  color: #484848;
  margin-right: 45px;
  display: inline-block;
  line-height: 40px;
  text-align: right;
}
.main .personal-info .formitem label.reset-label {
  line-height: 30px;
}
.main .personal-info .formitem label.avatar-label {
  line-height: 132px;
}
.main .personal-info .formitem .select-wrap:hover {
  border-color: #919191;
  background-position-y: -258px;
}
.main .personal-info .mod-avadar {
  height: 156px;
  margin-top: 10px;
}
.main .personal-info .mod-avadar div {
  display: inline-block;
}
.main .personal-info .mod-avadar .big-avatar {
  height: 125px;
  margin-right: 30px;
  position: relative;
}
.main .personal-info .mod-avadar .big-avatar .avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #e2e2e2 url(../images/avatar.png) no-repeat center center;
}
.main .personal-info .mod-avadar .big-avatar span {
  color: #c6c6c6;
  left: 32px;
  bottom:0;
  position: absolute;
}
.main .personal-info .mod-avadar .small-avatar {
  height: 100px;
  margin-right: 26px;
  position: relative;
}
.main .personal-info .mod-avadar .small-avatar .avatar-img {
  width: 68px;
  height: 68px;
  border-radius: 34px;
  background: #e2e2e2 url(../images/avatar.png) no-repeat center center;
  background-size: 40%;
}
.main .personal-info .mod-avadar .small-avatar span {
  color: #c6c6c6;
  left: 20px;
  bottom:0;
  position: absolute;
}
.main .personal-info .mod-avadar .mod-btn {
  width: 90px;
  height: 40px;
  color: #e60039;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  top: 5px;
  border: 1px solid #e60039;
}
.main .personal-info .mod-avadar .mod-btn:hover{
  color: #ff4861;
}
.main .personal-info .sex .man,
.main .personal-info .sex .woman {
  margin-right: 10px;
}
.main .personal-info .birthday {
  padding-top: 15px;
}
.main .personal-info .birthday .select-wrap {
  width: 97px;
  height: 30px;
  margin-right: 15px;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: url(../images/icons/uc-icon.png) 78px -226px no-repeat;
}
.main .personal-info .birthday .select-wrap.day {
  margin-right: 0;
}
.main .personal-info .birthday .select-wrap select {
  width: 97px;
  height: 30px;
  z-index: 2;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
}
.main .personal-info .birthday .select-wrap .selected-item {
  width: 97px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  position: absolute;
}
.main .personal-info .place {
  padding-top: 15px;
}
.main .personal-info .place .select-wrap {
  width: 154px;
  height: 30px;
  margin-right: 15px;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: url(../images/icons/uc-icon.png) 135px -226px no-repeat;
}
.main .personal-info .place .select-wrap.day {
  margin-right: 0;
}
.main .personal-info .place .select-wrap select {
  width: 154px;
  height: 30px;
  z-index: 2;
   -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
}
.main .personal-info .place .select-wrap .selected-item {
  width: 154px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  position: absolute;
}
.main .personal-info .industry {
  padding-top: 15px;
}
.main .personal-info .industry .select-wrap {
  width: 212px;
  height: 30px;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: url(../images/icons/uc-icon.png) 193px -226px no-repeat;
}
.main .personal-info .industry .select-wrap.day {
  margin-right: 0;
}
.main .personal-info .industry .select-wrap select {
  width: 212px;
  height: 30px;
  z-index: 2;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
}
.main .personal-info .industry .select-wrap .selected-item {
  width: 212px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  position: absolute;
}
.main .personal-info .submit-wrap {
  width: 322px;
  margin: 42px 134px;
  display: block;
}
.mask_avatar {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}
.img_wrap {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  width: 380px;
  height: 490px;
  font-size: 14px;
  margin: auto;
  background: #fff;
  position: fixed;
  z-index: 102;
  color: #404040;
  border-radius: 5px;
}
.img_wrap .closebtn {
  text-align: right;
  padding: 16px 16px 0 0;
}
.img_wrap .closebtn span {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../images/icons/uc-icon.png) 0 -295px no-repeat;
}
.img_wrap .choose_img {
  width: 80px;
  height: 30px;
  color: #e60039;
  cursor: pointer;
  margin-right: 15px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #e60039;
  position: relative;
}
.img_wrap .choose_img:hover{
  color: #ff4861;
}
.img_wrap .choose_img #choose {
  width: 100%;
  height: 100%;
   -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
}
.img_wrap .confirm {
  width: 80px;
  height: 30px;
}
#avatar_editor_control{
  /*width: 292px;*/
  height: 324px;
}
.img_wrap .avatar_editor_show {
  width: 292px;
  height: 324px;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  background:#fcfcfc url(../images/img_add.png) no-repeat 50% 50%;

}
.img_wrap .tips {
  color: #919191;
  line-height: 35px;
  text-align: center;
}
.img_wrap .btn-wrap {
  padding: 15px 0 0 102px;
}
#footer {
  color: #848484;
  text-align: center;
  line-height: 70px;
}
#bgDiv {
  display: none;
}
#bgDiv #dragDiv {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 148px;
  height: 148px;
}
#bgDiv #dragDiv #rRightDown {
  font-size: 0;
  position: absolute;
  z-index: 500;
  right: -5px;
  bottom: -5px;
  width: 12px;
  height: 12px;
  border: 3px solid #434343;
  border-width: 0 3px 3px 0;
}
#bgDiv #dragDiv #rLeftDown {
  font-size: 0;
  position: absolute;
  z-index: 500;
  bottom: -5px;
  left: -5px;
  width: 12px;
  height: 12px;
  border: 3px solid #434343;
  border-width: 0 0 3px 3px;
}
#bgDiv #dragDiv #rRightUp {
  font-size: 0;
  position: absolute;
  z-index: 500;
  top: -5px;
  right: -5px;
  width: 12px;
  height: 12px;
  border: 3px solid #434343;
  border-width: 3px 3px 0 0;
}
#bgDiv #dragDiv #rLeftUp {
  font-size: 0;
  position: absolute;
  z-index: 500;
  top: -5px;
  left: -5px;
  width: 12px;
  height: 12px;
  border: 3px solid #434343;
  border-width: 3px 0 0 3px;
}
#bgDiv #dragDiv #rRight,
#bgDiv #dragDiv #rLeft,
#bgDiv #dragDiv #rUp,
#bgDiv #dragDiv #rDown {
  display: none;
}
.icheckbox_polaris,
.iradio_polaris {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 36px;
  background: url(../images/icons/polaris.png) no-repeat;
  border: none;
  cursor: pointer;
}
.icheckbox_polaris {
  background-position: 0 0;
}
.icheckbox_polaris.hover {
  background-position: -26px 0;
  color: #434343;
}
.icheckbox_polaris.checked {
  background-position: -52px 0;
}
.iradio_polaris {
  background-position: -77px 0;
}
.iradio_polaris.hover {
  background-position: -103px 0;
}
.iradio_polaris.checked {
  background-position: -129px 0;
}
.Validform_wrong {
  line-height: 40px;
  margin-left: 15px;
  color: #e60039;
}
.Validform_right {
  display: none;
}
