/*! common */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
body,
button,
input,
select,
textarea{
    color: #434343;
    /*font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,"Microsoft YaHei",sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","STHeiti","微软雅黑","Microsoft YaHei",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
html{
    font-size: 62.5%;
    overflow-y: scroll;
}
body{
    font-size: 1.3em;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

a{
    color:#00a1d7;
    text-decoration: none;
}
a:focus{
    outline: none;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * 表单元素
 */
select,
textarea,
input[type="text"],
input[type="search"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"]{
    height:42px;
    width:100%;
    padding:0 .8em;
    border:1px solid #e2e2e2;
    border-radius: 3px;
    outline-style:none;
    vertical-align: middle;
    font-size: 1.3rem;
    line-height:40px;
    font-weight: normal;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:focus,textarea:focus,input:focus{
    border-color:#00a1d7;
}
textarea {
    height: auto;
    resize: vertical;
}
select{
    width: auto;
}
button,.button{
    height:40px;
    width:100%;
    border:none;
    padding:0;
    outline-style:none;
    border-radius: 3px;
    box-shadow: 0 2px 0 0 #919191;
    line-height:40px;
    background:transparent;
}

.graybtn {
    display: block;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    background-color: #aab9c8;
    box-shadow: 0 2px 0 0 #7d879b;
    cursor: pointer;
}
.graybtn:hover {
    color: #fff;
    background-color: #b3c0ce;
}
.graybtn:active {
    color: #fff;
    background-color: #7d879b;
}
.bluebtn {
    display: block;
    width: 100%;
    height: 36px;
    border-radius: 3px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #3ebde0;
    box-shadow: 0 2px 0 0 #32a0be;
}

.bluebtn:hover {
    color: #fff;
    background-color: #4ac7e9;
}
.bluebtn:active {
    color: #fff;
    background-color: #32a0be;
}
.orangebtn {
  display: block;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  color: #fff;
   cursor: pointer;
  background-color: #ff8062; /*ff7300*/
  box-shadow: 0 2px 0 0 #d06850;/*cf5e02*/
}

.orangebtn:hover {
  color: #fff;
  background-color: #ff957c;/*f78120*/
}
.orangebtn:active {
  color: #fff;
  background-color: #d06850;/*cf5e02*/
}
.greenbtn {

  display: block;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  background-color: #87c80a;
  box-shadow: 0 2px 0 0 #689908;
}

.greenbtn:hover {
    color: #fff;
    background-color: #8dcb16;
}

.greenbtn:active {
    color: #fff;
    background-color: #689908;
}
.pinkbtn {

  display: block;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  background-color: #ff4861;
  box-shadow: 0 2px 0 0 #bd2f42;
}
.pinkbtn:hover {
    color: #fff;
    background-color: #fe677b;
}
.pinkbtn:active {
    color: #fff;
    background-color: #bd2f42;
}
.disabled{
    background:#e2e2e2;
    box-shadow: none;
    height: 42px;
}
.disabled:hover{
    background:#e2e2e2;
}
.disabled:active{
    background:#e2e2e2;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
    overflow: hidden;
}
.cf{
    zoom:1;
}
.center{
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
}
.underline{
    text-decoration: underline;
}
.respons_wp{
    width: 1000px;
    margin: 0 auto;
}
.leftradius {
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}
.rightradius {
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}
.topradius {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.bottomradius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* footer吸底start */
html{
    height:100%;
}
body{
    position: relative;
    min-height: 100%;
    height: auto;
    padding-bottom: 80px;
    background:#f9f9f9;
}
footer{
    position: absolute;
    bottom:0;
    z-index:2;
    width:100%;
}
/* footer吸底end */