*{margin:0;bottom:0;box-sizing:border-box;}
#pics{
    
}
#pics img{
    float:left;
    height:39px;
    width:39px;
    margin:1px;
}
body.first #pics img{
    opacity: 0.5;
}
body.first #pics img.c{
    height:39px;
    width:39px;
    border-radius: 3px;
    opacity: 1;
    box-shadow: 0 0 3px 3px #fff;
}
.transition{
    transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
}
#main{
    float: right;
    width:312px;
    height:624px;
    background: url(../img/mainbg.jpg) no-repeat 0 0;
    text-align: center;
}
.num-warp{
    font-size:0;
    position: relative;
    margin-top:260px;
}
.num-main{
    font-size:0;
    margin-left:-20px;
    display: inline-block;
}
.num{
    width:70px;
    height:90px;
    margin-right:-20px;
    display: inline-block;
}
.num-0{
    background: url(../img/img_number_0.png) no-repeat 100% 0;
}
.num-1{
    background: url(../img/img_number_1.png) no-repeat 100% 0;
}
.num-2{
    background: url(../img/img_number_2.png) no-repeat 100% 0;
}
.num-3{
    background: url(../img/img_number_3.png) no-repeat 100% 0;
}
.num-4{
    background: url(../img/img_number_4.png) no-repeat 100% 0;
}
.num-5{
    background: url(../img/img_number_5.png) no-repeat 100% 0;
}
.num-6{
    background: url(../img/img_number_6.png) no-repeat 100% 0;
}
.num-7{
    background: url(../img/img_number_7.png) no-repeat 100% 0;
}
.num-8{
    background: url(../img/img_number_8.png) no-repeat 100% 0;
}
.num-9{
    background: url(../img/img_number_9.png) no-repeat 100% 0;
}
.num-d{
    margin-left:10px;
    width:20px;
    background: url(../img/img_number_d.png) no-repeat 100% 100%;
}
.zhong-main{
    font-size:0;
    position: relative;
    margin-top:90px;
}
.zhong{
    font-size:14px;
    color:#ffffff;
    width:60px;
    display: inline-block;
}
.btn{
    width:114px;
    height:114px;
    margin :25px auto 0 auto;
    background: url(../img/btn_cj_primary.png) no-repeat 0 0;
}
.btn.act{
    width:114px;
    height:114px;
    background: url(../img/btn_cj_primary.png) no-repeat 0 100%;
}