* {
    margin: 0;
    padding: 0;
}
.main {
    overflow: hidden;
    width: 832px;
    height: 624px;
    margin:0 auto;
    background: url(../img/timebg.jpg) no-repeat 0 0;
}
.time{
    width:466px;
    height:145px;
    margin:226px auto 0;
}
.countdown{
    width: 236px;
    height:76px;
    margin:0 auto 0;
    padding-top:22px;
    transform:scale(1.8);
}
.countdown .xdsoft_flipcountdown.xdsoft_size_lg .xdsoft_digit.xdsoft_space{
    width: 24px;
}
.num_wrap{
    height:45px;
    width:200px;
    margin:100px auto 0;
    box-shadow: 0 0 1px 1px #fff;
    border-radius: 10px;
    text-align: center;
    background: rgba(0,0,0,.5);
    vertical-align: middle;
}
.num_wrap i{
    font-size:30px;
    line-height: 45px;
    color:#fff;
    letter-spacing: 4px;
    font-style: normal;
    vertical-align: middle;
}
.num_wrap b{
    line-height: 45px;
    color:#1ec6fe;
    font-size:20px;
    vertical-align: middle;
}
.num_wrap span{
    line-height: 45px;
    color:#1ec6fe;
    font-size:20px;
    vertical-align: middle;
}
