/*! reset */
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  /* Prevent copy paste for all elements except text fields */
  -moz-user-select: -moz-none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* set highlight color for user interaction */
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  /* set highlight color for user interaction */
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  /* prevent the popup menu on any links*/
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
img {
  border: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
p {
  word-wrap: break-word;
}
@-ms-viewport {
  width: device-width;
}
/*! 总体样式 */
html,
body {
  font-size: 62.5%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  display: -webkit-box;
  overflow-x: hidden;
  color: #000;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #000;
}
a:active {
  color: #000;
}
.none {
  display: none;
}
select,
textarea,
input[type="text"],
input[type=search],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
  height: 44px;
  width: 100%;
  padding: 0 .8em 0 48px;
  border: 0;
  border-radius: 5px;
  outline-style: none;
  vertical-align: middle;
  font-size: 1.7rem;
  line-height: 44px;
  font-weight: normal;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: text;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(255, 255, 255, 0.5);
}
/* allow users to select text that appears in input fields */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
}
textarea {
  resize: none;
}
/*浮动*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.cf:before,
.cf:after {
  display: table;
  content: ' ';
}
.cf:after {
  clear: both;
}
#iui {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
#iui .iui-content {
  position: relative;
  z-index: 180;
  overflow: hidden;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
#iui .iui-footer {
  position: absolute;
  z-index: 180;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: 45px;
  padding: 7.5px 0 7.5px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #e2e2e2;
}
#iui .y-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}
#iui .iui-scroll {
  padding-bottom: 55px;
}
#iui .panel {
  position: absolute;
  z-index: 180;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
}
/*!ui */
.underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.center {
  right: 0;
  left: 0;
  margin: auto;
}
.middle-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
}
.hide {
  display: none;
}
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000000;
  background: rgba(0, 0, 0, 0.85);
  font-size: 175px;
  color: #bf3052;
  line-height: 300px;
}
body {
  background: #f3f3f3;
}
.pc #iui {
  width: 320px;
  height: 480px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.head {
  height: 0;
  padding-bottom: 31.25%;
  background: url(http://static.idaiyan.cn/special/h5_20150416_zhaopin/img/headimg.jpg) no-repeat 0 0;
  background-size: cover;
}
.list li {
  background-color: #e2e2e2;
  height: 45px;
  margin-top: 10px;
  padding-right: 12px;
  margin-left: 10px;
  overflow: hidden;
}
.list li a {
  display: block;
  height: 45px;
}
.list b {
  position: relative;
  top: -5px;
  left: -5px;
  width: 32px;
  font-size: 30px;
  font-weight: 400;
  font-family: simsun;
  background: #f3f3f3;
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  text-indent: 6px;
}
.list b i {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid solid solid solid;
  border-width: 32px 32px 32px 0;
  border-color: transparent #e2e2e2 transparent transparent;
}
.list b.ten {
  font-size: 25px;
  text-indent: 2px;
}
.list .title {
  font-size: 18px;
  color: #434343;
  line-height: 45px;
}
.list .desc {
  font-size: 12px;
  color: #919191;
}
.list .tc {
  display: table-cell;
  height: 45px;
  vertical-align: middle;
}
.ft-btn {
  float: left;
  margin-right: 10px;
  width: 134px;
  height: 30px;
  background: url(http://static.idaiyan.cn/special/h5_20150416_zhaopin/img/footbtn.png) no-repeat 0 0;
}
.ft-tel-btn {
  background-position: 0 0;
  background-size: 399px 30px;
}
.ft-email-btn {
  margin-right: 0;
  background-position: -146px 0;
  background-size: 399px 30px;
}
.ft-back-btn {
  width: 109px;
  margin-right: 10px;
  background-position: 100% 0;
  background-size: 399px 30px;
}
.text-email {
  font-size: 12px;
  line-height: 15px;
  color: #7d879b;
  -webkit-user-select: text;
}
.item-head {
  color: #434343;
  font-size: 24px;
  height: 50.5px;
  line-height: 50.5px;
  width: 100%;
  background: url(http://static.idaiyan.cn/special/h5_20150416_zhaopin/img/head-img.png) no-repeat 0 0;
  background-size: 320px 50.5px;
}
.content {
  padding: 0 20px;
  font-size: 14px;
  color: #6a6a6a;
}
.content h2 {
  height: 45px;
  line-height: 45px;
  color: #434343;
  font-weight: normal;
}
.content ol {
  margin-left: 20px;
  line-height: 20px;
  margin-bottom: 15px;
  list-style: decimal;
}
.content ol li {
  list-style: decimal;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .panel,
  .iui-footer {
    zoom: 1.17;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .panel,
  .iui-footer {
    zoom: 1.29;
  }
}
