html,div,span,em,img,strong,sub,sup,tt,label,table,caption,tbody,tfoot,thead,tr,
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,blockquote,form,fieldset,legend,button,input,textarea,dl,dt,dd,ul,ol,li,th,td{margin:0px;padding:0px;}
body{
    font-size: 12px;
    background:#f3f3f3;
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","STHeiti","微软雅黑","Microsoft YaHei",sans-serif;
}
select, textarea, input[type="text"], input[type="search"], input[type="submit"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"] {
    height: 42px;
    width: 100%;
    padding: 0 .8em; 
    border: 1px solid #e2e2e2; 
    border-radius: 3px; 
    outline-style: none; 
    vertical-align: middle; 
    font-size: 1.3rem; 
    line-height: 40px; 
    font-weight: normal; 
    background: #fff; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}
/* <<<<<<<<清除浮动* >>>>>>>>*/
.cf:after{  
   content: " ";  
   display: block;  
   height: 0;  
   clear: both;  
   visibility: hidden;   
} 
.cf {  
   zoom: 1; /* 触发 hasLayout */ 
}
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}
ol, ul {
    list-style: none;
}
*{

}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a,a:focus, a:hover{
  text-decoration: none;
}

/*响应式重置样式*/

 .container{
    margin:auto;
    padding:0;
 }

@media (min-width: 1200px){
    .container {
        width: 1000px;
    }
}

 .row{
    margin:0;
 }
 .table{
    margin:0;
 }
 /*每列1/5*/
.col1-5 , .col4-5{
    float: left;
}
.col1-5{
    width: 20%;
 }
.col4-5{
    width: 78%;
    margin-left: 2%;
 }

/*数据中心common.css*/

.wrap{
    padding-top: 50px;
}
.border-wrap{
    border-radius: 3px;
    padding:0 15px;
    border:1px solid #e2e2e2;
    background-color: #fff;
}
.wrap .wrap-title{
    height: 60px;
    color: #434343;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #e2e2e2;
}
.wrap .wrap-title .title-right{
    color: #c6c6c6;
    font-size: 12px;
}
.wrap .wrap-title .title-right a{
    color: #c6c6c6;
    font-size: 12px;
}
.round-border{
    border-radius: 3px;
    border:1px solid #e2e2e2;
}
.tips{
  color: #c6c6c6;
}
.tips a{
    color: #c6c6c6;
}
.formitem{
    width: 100%;
    font-size: 13px;
    padding-bottom: 20px;
}
.formitem input , .formitem select, .formitem button{
    height: 40px;
    outline: 0;
}
.formitem input{
    width: 320px;
    height: 40px;
    padding-left: 20px;
    border-radius: 3px;
    border:1px solid #e2e2e2;
}
.formitem input:focus,.formitem textarea:focus{
    border-color: #919191;
}
.redbtn{
    border:0;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    box-shadow: none;
    background:#e30d3e;
}
.redbtn:hover{
    background:#ff4861;
}
.whitebtn-new{
    color: #c6c6c6;
    background: #fcfcfc;
    border-radius: 3px;
    box-shadow: none;
    text-align: center;
    border:1px solid #e2e2e2;
}
.whitebtn-new:hover{
    color: #919191;
    background-color: #fff;
    border-color: #c6c6c6;
}
/*头部公共样式*/
.header-wrap {
    width: 100%;
    height: 70px;
    background: #fff;
    font-size: 12px;
    line-height: 70px;
    font-family: "Microsoft Yahei";
    border-bottom: 1px solid #ddd;
}
.header{
    width: 1200px;
    margin:auto;
}
.header .logo{
    width: 170px;
    height: 27px;
    margin-top: 21px;
    background: url(../images/logo.png) no-repeat;
}
.right-menu {
    height: 70px;
    font-size: 13px;
}
.right-menu li{

    margin-right: 30px;
    float: left;

}
.right-menu li.down {
    width: 280px;
    height: 80px;
    margin-right: 0;
    padding:24px 30px 0 0;
    position: relative;
}
.right-menu li.down .icon{
    display: block;
    width: 22px;
    height: 22px;
    background:url(../images/icon.png) no-repeat 0 -120px;
}
.right-menu li.down .downmenu{
    width: 280px;
    height: 390px;
    padding-top:25px;
    display: none;
    position: absolute;
    top: 56px;
    right: -35px;
    z-index: 100;
    border:1px solid #e2e2e2;
    background:#fff;
}
.right-menu li.down .downmenu li{
    float: left;
    text-align: center;
    margin:0 0 18px 25px;
}
.color-1{
    background:#51d76a;
}
.color-1:hover{
    background:#53de6d;
}
.color-2{
    background:#ecdb5c;
}
.color-2:hover{
    background:#efdf5c;
}
.color-3{
    background:#434343;
}
.color-3:hover{
    background:#4a4a4a;
}
.color-4{
    background:#ec8e49;
}
.color-4:hover{
    background:#f09448;
}
.color-5{
    background:#52d8d0;
}
.color-5:hover{
    background:#50dfd7;
}
.color-6{
    background:#4d8bd6;
}
.color-6:hover{
    background:#5190de;
}
.color-7{
    background:#a350d6;
}
.color-7:hover{
    background:#ab53de;
}
.color-8{
    background:#d74c6a;
}
.color-8:hover{
    background:#de5471;
}
.color-9{
    background:#d64b4d;
}
.color-9:hover{
    background:#de5555;
}
.right-menu li.down .downmenu li a,.right-menu li.down .downmenu li span{
    display: block;
}
.right-menu li.down .downmenu li a{
    color: #919191;
    line-height: 28px;
}
.right-menu li.down .downmenu li a:hover{
    color: #c6c6c6;
}
.right-menu li.down .downmenu li .iconblock{
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 60px;
    border-radius: 10px;
}
.right-menu li.down .downmenu li.arrow{
    top: -15px;
    right: 66px;
    height: 0;
    width: 0;
    bottom: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #e2e2e2;
    position: absolute;
}
.right-menu li.down .downmenu li.arrow span{
    left: -7px;
    top: -5px;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
}

.right-menu li.down .downmenu li.lookmore{
    width: 100%;
    margin:0;
}
.right-menu li.down .downmenu li.lookmore a{
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0;
    margin:0;
    background:#f3f3f3;
}
.right-menu li.down:hover .downmenu{
    display: block;
    -webkit-transition: all 4s;
}
.right-menu li.down:hover .icon{
    background-position-y:-153px;
}
.right-menu li.news{
    height: 34px;
    width: 34px;
    margin-top: 20px;
    position: relative;
    background:url(../images/icon.png) 0 -185px;
}
.right-menu li.news .news-num{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: -6px;
    right: 0;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 10px;
    background:#cf391a;
}
.right-menu li.news:hover{
    background-position-y:-220px; 
}
.right-menu li.portrait{
    width: 40px;
    height: 40px;
    position: relative;
}
.right-menu li.portrait img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    box-shadow: 0 2px 4px 0px #c4c4c4;
}
#exit{
    width: 40px;
    height: 40px;
    top: 15px;
    left: 0;
    display: none;
    position: absolute;
    background:rgba(0,0,0,0.5) url(../images/icon.png) 10px -250px;
}
.right-menu li.portrait:hover #exit{
    display: block;
}
.right-menu li.common-question-new{
    padding-left: 22px;
    background:url(../images/icon.png) 0 -267px no-repeat;
}
.right-menu li.common-question-new a{
    color: #c6c6c6;
}
.right-menu li.prelogin a{
    color: #c6c6c6;

}
.right-menu li.prelogin a:hover{
    color: #f39065;

}
/*tab页面公共样式*/
.left-menu {
    padding: 0;
}
.left-menu li {
    padding: 0 15px;
}
.left-menu li.basic-info a {
    background: url(../images/icon.png) no-repeat 10px -320px;
}
.left-menu li.account-set a {
    background: url(../images/icon.png) no-repeat 10px -382px;
}
.left-menu li.founder-valid a {
    background: url(../images/icon.png) no-repeat 10px -442px;
}
.left-menu li.deal a {
    background: url(../images/icon.png) no-repeat 10px -503px;
}
.left-menu li.founder-service a {
    background: url(../images/icon.png) no-repeat 10px -564px;
}
.left-menu li:hover {
    background-color: #f9f9f9;
}
.left-menu a {
    display: block;
    width: 100%;
    height: 60px;            /*margin:0 15px;*/
    color: #6a6a6a;
    line-height: 60px;
    padding-left: 24.5%;
    border-bottom: 1px solid #f3f3f3;
}
/*网站尾部公共样式*/
#footer{
    line-height: 60px;
    color: #c6c6c6;
    font-size: 11px;
    text-align: center;
}
#exitlogin{
    /*display: block;*/
}
#exitlogin .mask-content{
    width: 300px;
    height: 250px;
    color: #434343;
    font-size: 16px;
    padding-top: 80px;

}
#exitlogin .mask-content .btn-wrap{
    padding-top: 30px;
}
#exitlogin .mask-content button{
    width:80px;
    height: 40px;
    font-size: 16px;
    outline: 0;
}
.mask{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.mask-content{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    width: 300px;
    height: 350px;
    padding:0 55px;
    background: #fff;
}
/*placeholder颜色重置*/
 ::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #c6c6c6; 
} 
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: #c6c6c6; 
} 
    ::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: #c6c6c6; 
} 
    :-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: #c6c6c6; 
} 
/*数据中心common.css ---end----*/