*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form-wrap{
    width:640px;
    height: 1138px;
    overflow: hidden;
    text-align: center;
}
.form-wrap.info{
     background:url(http://static.idaiyan.cn/special/h5_20150325_heimahui/img/form-bg1.jpg) no-repeat 50% 0;
    background-size: cover;
}

.info .space{
    height: 40%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cf:before,.cf:after{
    display: table;
    content: " ";
}
.cf:after {
    clear: both;
}
.com-input{
    width: 100%;
    height: 54px;
    color: #59493f;
    background:#fff;
    font-size: 21px;
    padding-left: 60px;
    border-radius: 8px;
    border:1px solid #a3a3a3;
    -webkit-appearance:none;
}
/*.form-wrap.info{
    background:#f9f9f9;
}*/
#info{
    width: 78.125%;
    height: 100%;
    color: #59493f;
    margin:auto;

}
#info .title{
    width: 100%;
    height:74px;
    background: url(http://static.idaiyan.cn/special/h5_20150325_heimahui/img/formtit-bg.png) no-repeat center center;    
}
#info .select{
    padding-left:120px;
    color: #59493f;
    background:#fff url(http://static.idaiyan.cn/special/h5_20150325_heimahui/img/arrow.png) no-repeat 97% 20px;
}
.form-wrap .formitem{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
.form-wrap label{
  position: absolute;
  left: 10px;
  line-height: 54px;
  font-weight: bold;
}

.form-wrap input.type{
    padding-left: 125px;
}

.form-wrap .formitem.btn{
   margin-top:70px;
  
}
.form-wrap .submit{
     width: 100%;
     padding: 0;
    color: #a02429;
     text-align: center;
}
.form-wrap.certificate{
     background:url(http://static.idaiyan.cn/special/h5_20150325_heimahui/img/form-bg2.jpg) no-repeat 50% 0;
    background-size: cover;
}
.certificate .space{
    height: 67.7%;
}
#certificate{
    width: 78.125%;
    height: 100%;
    color: #59493f;
    margin:auto;

}
#certificate .formitem .vip-wrap{
    width: 48%;
    position: relative;
}
#certificate .com-input{
    padding-left: 90px;
    text-align: left;
    line-height: 54px;
}