html,body,ul {
	margin:0;
	padding:0;
	position:relative
}
ul,ol {
	list-style:none
}
html,body {
	width:100%;
	height:100%;
	overflow:hidden;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none
}
body {
	background:#f5f5f5;
	font:12px/21px;
	color:#33234f
}
a {
	color:#33234f;
	text-decoration:none
}
a,button {
	-webkit-appearance:none;
	-moz-appearance:none
}
a:hover,button:hover,span:hover,div:hover {
	-webkit-tap-highlight-color:transparent
}
a {
	text-decoration:none;
	color:#157efb
}
a::-webkit-focus-inner,button::-webkit-focus-inner,span::-webkit-focus-inner,div::-webkit-focus-inner {
	background-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
#bg {
	width:100%;
	height:100%;
	background:#000;
	position:fixed;
	z-index:9999;
	text-align:center;
	color:#FFF
}

.uparrw {
	width:200px;
	height:60px;
	position:absolute;
	z-index:9999;
	bottom:90px;
	left:50%;
	margin-left:-100px;
	text-align:center;
	color:#FFF;
	font-size:28px
}
.uparrw .icon_uparrw {
	display:inline-block;
	width:36px;
	height:36px;
	opacity:1;
	background:url("../images/up.png") no-repeat center;
	background-size:100% auto;
	-webkit-animation:ToptoA 1.6s ease-out infinite;
	-moz-animation:ToptoA 1.6s ease-out infinite;
	-o-animation:ToptoA 1.6s ease-out infinite;
	animation:ToptoA 1.6s ease-out infinite
}
@-webkit-keyframes ToptoA {
	0% {
	-webkit-transform:translate(0,0);
	opacity:0
}
20% {
	-webkit-transform:translate(0,-20px);
	opacity:1
}
100% {
	-webkit-transform:translate(0,-40px);
	opacity:0
}
}@-moz-keyframes ToptoA {
	0% {
	-moz-transform:translate(0,0);
	opacity:0
}
20% {
	-moz-transform:translate(0,-20px);
	opacity:1
}
100% {
	-moz-transform:translate(0,-40px);
	opacity:0
}
}@-o-keyframes ToptoA {
	0% {
	-o-transform:translate(0,0);
	opacity:0
}
20% {
	-o-transform:translate(0,-20px);
	opacity:1
}
100% {
	-o-transform:translate(0,-40px);
	opacity:0
}
}


body {
	display:-webkit-box;
	display:box;
	-webkit-box-orient:vertical;
	box-orient:vertical
}
.content {
	position:relative;
	display:-webkit-box;
	display:box;
	-webkit-box-orient:vertical;
	box-orient:vertical;
	width:100%;
	height:100%;
	max-width:750px;
	min-height:100%;
	margin:0 auto
}

.content .bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(http://static.idaiyan.cn/special/h5_20150317_niutou/img/bg2.jpg) ;
	background-size: cover;
	background-position: center top;
	
}
.tab1,.tab2{
  background-image: url(http://static.idaiyan.cn/special/h5_20150317_niutou/img/bg1.jpg) ;
  background-size: cover;
  background-position: center top;
}
.z-1{
	z-index: -1;
}

#logo{
	transform: scale(1) translateY(0);
	-webkit-transform: scale(1) translateY(0);
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	transform-origin: 50% -20%;
	-webkit-transform-origin: 50% -20%;
}
#logo.sm{
	transform: scale(0.5) ;
	-webkit-transform: scale(0.5) ;
}
#video-wrapper{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.7);
}
#video-wrapper video{
    position: absolute;
    top: 50%;
    bottom: 50%;
    -webkit-transform: translateY(-50%);
}
.img-list{
	width: 100%;
	height: 100%;
	position: relative;
	top:-40px;
	left: 0;
	
}
#videostart-wrap{
    position: absolute;
    width: 100%;
    top: 720px;
    text-align: center;
}
#videostart-wrap img{
     width: 530px;
     margin:auto;
     position: relative;
}
.img-list img{
	width: 100%;
	position: absolute;
	top:-64px;
	left: 0;
}
#regist{
	position: absolute;
	top:110px;
	left:0;
	font-family: "微软雅黑";
	color:#45bbff;
	width: 100%;
	font-size:32px;
}
#regist input{
	color: #3d99ce;
	font-size:24px;
	width:450px;
	height:100px;
	background:rgba(1,209,251,0.2);
	border-radius: 10px;
	border-color:#01D1FB;
	float:left;
}
#regist table{
	width:100%;
}
#regist table tr{
	margin-bottom:20px;
	
}
#regist table td{
	border:none;
	padding:10px 5px;
}
#regist table .first_t{}
#regist table .second_t{}
.tabs {
	-webkit-box-flex:1;
	box-flex:1;
	width:100%
}
.tips {
	position:absolute;
	background:url("../images/up.png") no-repeat;
	background-size:100% auto;
	top:90%;
	height:36px;
	width:36px;
	left:50%;
	text-align:center;
	opacity:0;
	margin-left:-14px;
	-webkit-animation:ToptoA 1.6s ease-out infinite;
	-moz-animation:ToptoA 1.6s ease-out infinite;
	-o-animation:ToptoA 1.6s ease-out infinite
}
.tabs {
	position:relative;
	overflow:hidden
}
.tabs > ul {
	position:absolute;
	width:100%;
	height:100%
}
.tabs > ul > li {
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
/*.tab2{
	width: 100%;
	height: 100%;
	background:url("../imgs/bg2.jpg");
	background-size:cover;
}*/

.tab7 .baoming_btn{
	position: absolute;
	width:100%;
	top: 60%;
	left: 0;
}

.rongzi_btn{
  position: absolute;
  margin-top:800px;
}
.angel_btn{
  position:absolute;
  margin-top:885px;
}
.icon_audio {
	background:url("../images/on_off.png") no-repeat;
	background-size:100% 100%;
	width:48px;
	height:48px;
	position:absolute;
	z-index:999;
	top:8%;
	right:6%
}
.border_anim .icon_audio_anim {
	display:block;
	position:absolute;
	width:20px;
	height:20px;
	opacity:0;
	background:url("../images/icon_audio_sign.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation:audio_anim 2s ease-out infinite;
	-moz-animation:audio_anim 2s ease-out infinite;
	-o-animation:audio_anim 2s ease-out infinite;
	animation:audio_anim 2s ease-out infinite
}
.border_anim .iconaudio1,.border_anim .iconaudio2,.border_anim .iconaudio3 {
	position:relative;
	display:block
}
.border_anim .iconaudio1 {
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg)
}
.border_anim .iconaudio2 {
	-webkit-transform:rotate(30deg);
	-moz-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg)
}
.border_anim .iconaudio2 .icon_audio_anim {
	-webkit-animation-duration:2s;
	-webkit-animation-delay:.9s;
	-moz-animation-duration:2s;
	-moz-animation-delay:.9s;
	-o-animation-duration:2s;
	-o-animation-delay:1.9s
}
.border_anim .iconaudio3 {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg)
}
.border_anim .iconaudio3 .icon_audio_anim {
	-webkit-animation-duration:2s;
	-webkit-animation-delay:1.9s;
	-moz-animation-duration:2s;
	-moz-animation-delay:.9s;
	-o-animation-duration:2s;
	-o-animation-delay:1.9s
}



/*动画*/
.delay0020{
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.delay0040{
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.delay0060{
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}
.delay0080{
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.delay0100{
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.delay0120{
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}
.delay0140{
	animation-delay: 1.4s;
	-webkit-animation-delay: 1.4s;
}
.delay0160{
	animation-delay: 1.6s;
	-webkit-animation-delay: 1.6s;
}
.delay0180{
	animation-delay: 1.8s;
	-webkit-animation-delay: 1.8s;
}
.delay0220{
  animation-delay: 2.2s;
  -webkit-animation-delay: 2.2s;
}
@-webkit-keyframes audio_anim {
	0% {
	-webkit-transform:translate(0,0);
	opacity:0
}
30% {
	-webkit-transform:translate(-20px,-20px);
	opacity:1
}
100% {
	-webkit-transform:translate(-30px,-30px);
	opacity:0
}
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInDown{
	visibility: hidden;
}

.on .fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}
.fadeInUp{
	visibility: hidden;
}
.on .fadeInUp{
-webkit-animation-name:fadeInUpBig;
-moz-animation-name:fadeInUpBig;
 -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
 -webkit-animation-fill-mode: both;
         animation-fill-mode: both; 
visibility: visible;
}

@-webkit-keyframes fadeInUpBig{
0%{opacity:0;
-webkit-transform: translate3d(0,100%, 0);
            transform: translate3d(0,100%, 0);}
100%{opacity:1;
  opacity: 1;
    -webkit-transform: none;
            transform: none;}
}

@-moz-keyframes fadeInUpBig{
0%{opacity:0;
-webkit-transform: translate3d(0,100%, 0);
            transform: translate3d(0,100%, 0);}
100%{opacity:1;
  opacity: 1;
    -webkit-transform: none;
            transform: none;}
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft{
	visibility: hidden;
}

.on .fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}


@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight{
	visibility: hidden;
}

.on .fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}



@-webkit-keyframes shake {
  0%{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            opacity: 0;
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}


.shake{
	visibility: hidden;
}

.on .shake {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}



@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
            transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
            transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
            transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
            transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInDown{
	visibility: hidden;
}

.on .zoomInDown {
  -webkit-animation-name: zoomInDown;
          animation-name: zoomInDown;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}


@-webkit-keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
            transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
            transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
            transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
            transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}


.zoomInLeft{
	visibility: hidden;
}

.on .zoomInLeft {
  -webkit-animation-name: zoomInLeft;
          animation-name: zoomInLeft;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}


@-webkit-keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
            transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
            transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
            transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
            transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}


.zoomInRight{
	visibility: hidden;
}

.on .zoomInRight {
  -webkit-animation-name: zoomInRight;
          animation-name: zoomInRight;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}


@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown{
	visibility: hidden;
}

.on .bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}


@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}


.bounceInLeft{
	visibility: hidden;
}

.on .bounceInLeft {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}

@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}


.bounceInRight{
	visibility: hidden;
}

.on .bounceInRight {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInUp{
	visibility: hidden;
}

.on .bounceInUp {
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.tada{
	visibility: hidden;
}

.on .tada {
  -webkit-animation-name: tada;
          animation-name: tada;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}



@-webkit-keyframes logoOut {
  20% {
    -webkit-transform: translate3d(0, -10px, 0) scale(0.5);
            transform: translate3d(0, -10px, 0) scale(0.5);
	
	-webkit-transform: scale(0.5) ;
	-webkit-transform-origin: 50% -20%;
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0) scale(0.5);
            transform: translate3d(0, 20px, 0) scale(0.5);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0) scale(0.5);
            transform: translate3d(0, -2000px, 0) scale(0.5);
  }
}

@keyframes logoOut {
  20% {
    -webkit-transform: translate3d(0, -10px, 0) scale(0.5);
            transform: translate3d(0, -10px, 0) scale(0.5);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0) scale(0.5);
            transform: translate3d(0, 20px, 0) scale(0.5);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0) scale(0.5);
            transform: translate3d(0, -2000px, 0) scale(0.5);
  }
}

.logoOut {
  -webkit-animation-name: logoOut;
          animation-name: logoOut;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}

@-webkit-keyframes logoIn {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000) scale(0.5);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000) scale(0.5);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scale(0.5);
            transform: translate3d(0, -3000px, 0) scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scale(0.5);
            transform: translate3d(0, 25px, 0) scale(0.5);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0) scale(0.5);
            transform: translate3d(0, -10px, 0) scale(0.5);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0) scale(0.5);
            transform: translate3d(0, 5px, 0) scale(0.5);
  }

  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes logoIn {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000) scale(0.5);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000) scale(0.5);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scale(0.5);
            transform: translate3d(0, -3000px, 0) scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scale(0.5);
            transform: translate3d(0, 25px, 0) scale(0.5);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0) scale(0.5);
            transform: translate3d(0, -10px, 0) scale(0.5);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0) scale(0.5);
            transform: translate3d(0, 5px, 0) scale(0.5);
  }

  100% {
    -webkit-transform:  scale(0.5);
            transform:  scale(0.5);
  }
}

.logoIn {
  -webkit-animation-name: logoIn;
          animation-name: logoIn;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes pulse-notrans{
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
  }

  50% {
    -webkit-transform: scale3d(1.05,1,1);
            transform: scale3d(1.05,1,1);
  }

  100% {
    -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
  }
}

@keyframes pulse-notrans {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.pulse-notrans{
  visibility: hidden;
}
.on .pulse-notrans {
  visibility: visible;
  -webkit-animation-name: pulse-notrans;
          animation-name: pulse-notrans;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
  }

  50% {
    -webkit-transform: scale3d(1.05,1.05,1.05);
            transform: scale3d(1.05,1.05,1.05);
  }

  100% {
    -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.pulse{
  visibility: hidden;
}
.on .pulse {
  visibility: visible;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.opacity{
  visibility: hidden;
}
.on .opacity{
visibility: visible;
-webkit-animation:opacity; 
-moz-animation-name:opacity;
 -webkit-animation-duration: 1s;
          animation-duration:1s;
        
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes opacity{

 0%{opacity: 0;}
100%{opacity: 1;}
}
@-moz-keyframes opacity{
0%{opacity: 0;}
100%{opacity: 1;}
}
.flash{
	visibility: hidden;
}
.on .flash{
	visibility: visible;
-webkit-animation:flash  infinite; 
-moz-animation-name:flash;
 -webkit-animation-duration: 2s;
          animation-duration:2s;
        
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;}
@-webkit-keyframes flash{

 0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}
@-moz-keyframes flash{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}
.flash1{
  visibility: hidden;
}
.on .flash1{
  visibility: visible;
-webkit-animation:flash1  infinite; 
-moz-animation-name:flash1;
 -webkit-animation-duration: 3s;
          animation-duration:3s;
        
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;}
@-webkit-keyframes flash1{

 0%,50%,100%{opacity: 0;}
25%,75%{opacity: 1;}
}
@-moz-keyframes flash1{
0%,50%,100%{opacity: 0;}
25%,75%{opacity: 1;}
}
.flash2{
  visibility: hidden;
}
.on .flash2{
  visibility: visible;
-webkit-animation:flash2  infinite; 
-moz-animation-name:flash2;
 -webkit-animation-duration: 2.5s;
          animation-duration:2.5s;
        
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;}
@-webkit-keyframes flash2{

 0%,40%,80%{opacity: 1;}
20%,100%{opacity: 0;}
}
@-moz-keyframes flash2{
0%,40%,80%{opacity: 1;}
20%,100%{opacity: 0;}
}
.rotate{
visibility: hidden;
}
.on .rotate{
			-webkit-animation-name: Rotate;
			-webkit-animation-fill-mode: both;
          animation-fill-mode: both;
			-webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
			 -webkit-transform-origin:left bottom;
			 visibility: visible;
		}
		@-webkit-keyframes Rotate{
			0%{
				
				-webkit-transform: perspective(100px) rotateZ(-90deg);
			}
			100%{
				-webkit-transform: perspective(100px) rotateZ(0deg);
			}
		}
    .rotate1{
visibility: hidden;
}
.on .rotate1{
      -webkit-animation-name: Rotate1;
      -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
      -webkit-animation-duration: 1s;
          animation-duration: 1s;
       -webkit-transform-origin:center top;
       visibility: visible;
    }
    @-webkit-keyframes Rotate1{
      0%{
        opacity: 0;
        -webkit-transform: perspective(0px) rotateZ(15deg);
      }
      30%{
        
        -webkit-transform: perspective(0px) rotateZ(-15deg);
      }
       60%{
        
        -webkit-transform: perspective(0px) rotateZ(10 deg);
      }
      100%{
        -webkit-transform: perspective(0px) rotateZ(0deg);
      }
    }
    @-moz-keyframes  Rotate1{
      0%{
        
        -webkit-transform: perspective(100px) rotateX(180deg);
      }
      100%{
        -webkit-transform: perspective(100px) rotateX(360deg);
      }
    }
  .rotateLeft{
visibility: hidden;
}
.on .rotateLeft{
      -webkit-animation-name: rotateLeft;
      -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
      -webkit-animation-duration: 1s;
          animation-duration: 1s;
       -webkit-transform-origin:right bottom;
       visibility: visible;
    }
    @-webkit-keyframes rotateLeft{
      0%{
        opacity: 0;
        -webkit-transform: perspective(0px) rotateZ(90deg);
      }
      100%{
        -webkit-transform: perspective(0px) rotateZ(0deg);
      }
    }
    @-moz-keyframes  rotateLeft{
      0%{
        
        -webkit-transform: perspective(100px) rotateZ(90deg);
      }
      100%{
        -webkit-transform: perspective(100px) rotateZ(0deg);
      }
    }
.rotateTop{
visibility: hidden;
}
.on .rotateTop{
      -webkit-animation-name:rotateTop;
      -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
      -webkit-animation-duration: 1s;
          animation-duration: 1s;
       -webkit-transform-origin:center top;
       visibility: visible;
    }
    @-webkit-keyframes rotateTop{
      0%{
        opacity: 0;
        -webkit-transform: perspective(100px) rotateX(180deg);
      }
      100%{
        -webkit-transform: perspective(100px) rotateX(360deg);
      }
    }
    @-moz-keyframes  rotateTop{
      0%{
        
        -webkit-transform: perspective(100px) rotateZ(180deg);
      }
      100%{
        -webkit-transform: perspective(100px) rotateZ(0deg);
      }
    }

      .tab0 {
        color: #45bbff;
        font-family: "微软雅黑";
        letter-spacing: 4px;
        width: 640px;
        
      }
      

      .header {
        font-size: 32px;
        width: 640px;
        height: 446px;
        padding-top: 50px;
        box-sizing:border-box;
        background: url("../img/header_bg.png") no-repeat;
        line-height: 60px;
      }
      #text2,
      #text4 {
        font-weight: bold;
        font-size: 45px;
      }
      .article {
       
      }
      
      #ar_title {
        font-size: 50px;
      }
      #ar_title h1 {
        display: inline;
      }
      .ar_text {
        font-size: 30px;
      }
      .ar_text .ask {
        font-size: 60px;
      }
      .share {
        width: 453px;
        height: 107px;
        background: url("../img/btn_bg.png");
        border: none;
        outline: none;
      }
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      .show {
        z-index: 100;
        display: block;
        }
.lt900 {

}
.lt900 .lt1{
  margin-top:-80px;
}
.lt900 .lt2{
  margin-top:-80px;
}
.lt900 .lt3{
  margin-top:-150px;
}
.lt900 .lt4{
  margin-top:-160px;
}
.lt900 .lt5{
  margin-top:-20px;
}
.lt900 .lt6{
  margin-top:-15px;
}
.lt900 .lt7{
  margin-top:-30px;
}
.lt900 .lt8{
  margin-top:-60px;
}
.lt900 .lt9{
  margin-top:-50px;
}