.sharepic {
  display: none;
}
.swiper-container {
  position: relative;
  z-index: 12;
}
.swiper-slide {
  overflow: visible;
  color: #fff;
  background: transparent;
}
.anim-bouncein {
  -webkit-animation: bounceIn .7s linear 0 1;
  -moz-animation: bounceIn .7s linear 0 1;
  -ms-animation: bounceIn .7s linear 0 1;
  animation: bounceIn .7s linear 0 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* cover */
.slide-cover.swiper-slide {
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/blue-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.slide-cover .ui-middle-space {
  height: 5%;
}
.slide-cover .ui-small-space {
  height: 3%;
}
.slide-cover .ui-logo {
  overflow: hidden;
  padding: 0 28px;
}
.slide-cover .ui-logo .ui-logo-left {
  float: left;
  width: 94px;
  height: 52px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/logo.png) no-repeat 50% 50%;
}
.slide-cover .ui-logo .ui-logo-right {
  display: none;
  float: right;
  width: 47px;
  height: 47px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/help.png) no-repeat 50% 50%;
}
.slide-cover .ui-main-image {
  position: relative;
  width: 90%;
  height: 554px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/cover-bg.png) no-repeat 50% 50%;
  background-size: cover;
}
.slide-cover .ui-main-image .bckimg {
  position: absolute;
  top: 0;
  left: 0;
}
.slide-cover .ui-main-image .ui-main-text {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 220px;
  margin: auto;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/cover-text.png) no-repeat 50% 50%;
}
.slide-cover .ui-main-image .ui-main-text-share {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 420px;
  margin: auto;
  text-align: center;
}
.slide-cover .ui-main-image .ui-main-text-share .ui-avatar img {
  width: 236px;
  height: 100px;
  border: 2px solid #dad9d9;
}
.slide-cover .ui-main-image .ui-main-text-share .ui-name {
  font-size: 34px;
  margin: 20px 0;
  color: #4aa5b8;
}
.slide-cover .ui-main-image .ui-main-text-share .ui-text {
  height: 130px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/cover-share-text.png) no-repeat 50% 50%;
}
.slide-cover .ui-date-image {
  width: 100%;
  height: 137px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/cover-date.png) no-repeat 50% 50%;
}
.gt1000 .slide-cover .ui-middle-space {
  height: 10%;
}
.gt1000 .slide-cover .ui-small-space {
  height: 8%;
}
.gt1000 .ui-main-image {
  width: 100%;
  height: 615px;
}
/* intro */
.slide-intro.swiper-slide {
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/white-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.slide-intro .ui-middle-space {
  height: 7.5%;
}
.slide-intro .ui-small-space {
  height: 5%;
}
.slide-intro .ui-text {
  width: 100%;
  height: 310px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/intro.png) no-repeat 50% 0;
}
.slide-intro .ui-step {
  width: 100%;
  height: 320px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/intro.png) no-repeat 50% 100%;
}
.gt1000 .slide-intro .ui-middle-space {
  height: 10%;
}
.gt1000 .slide-intro .ui-small-space {
  height: 8%;
}
/* mypage */
.slide-mypage.swiper-slide {
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/blue-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.slide-mypage .ui-big-space {
  height: 10%;
}
.slide-mypage .ui-middle-space {
  height: 7.5%;
}
.slide-mypage .ui-small-space {
  height: 3%;
}
.slide-mypage .ui-mini-space {
  height: 2%;
}
.slide-mypage .ui-min-space {
  height: 1%;
}
.slide-mypage .ui-avatar img {
  width: 190px;
  height: 190px;
  border: 8px solid #d4d3d3;
  border-radius: 103px;
}
.slide-mypage .ui-title {
  font-size: 34px;
  text-align: center;
}
.slide-mypage .ui-desc {
  font-size: 24px;
  text-align: center;
}
.slide-mypage .ui-line {
  margin: 2% 8%;
  border-bottom: 1px solid #fff;
}
.slide-mypage .ui-choose-teacher {
  font-size: 22px;
  text-align: center;
}
.slide-mypage .ui-info {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 8%;
  text-align: center;
}
.slide-mypage .ui-info .tt {
  font-size: 17px;
  line-height: 2;
}
.slide-mypage .ui-like-btn {
  width: 110px;
  height: 110px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/like-big.png) no-repeat 50% 50%;
}
.slide-mypage .ui-like-text {
  font-size: 18px;
  line-height: 2;
  text-align: center;
}
.slide-mypage .ui-bottons {
  padding: 0 53px;
}
.slide-mypage .ui-bottons.othershare .ui-botton {
  width: 234px;
}
.slide-mypage .ui-bottons.myshare .ui-botton {
  width: 380px;
}
.slide-mypage .ui-botton {
  font-size: 26px;
  line-height: 64px;
  width: 100%;
  height: 64px;
  text-align: center;
  color: #4aa5b8;
  border: 2px solid #4093a4;
  border-radius: 34px;
  background: #fff;
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.4);
}
.gt1000 .slide-mypage .ui-mini-space {
  height: 4%;
}
.gt1000 .slide-mypage .ui-min-space {
  height: 2%;
}
/* top5 */
.slide-top5 .ui-big-space {
  height: 10%;
}
.slide-top5 .ui-middle-space {
  height: 7.5%;
}
.slide-top5 .ui-small-space {
  height: 3%;
}
.slide-top5 .ui-mini-space {
  height: 2%;
}
.slide-top5 .ui-min-space {
  height: 1%;
}
.slide-top5.swiper-slide {
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/blue-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.slide-top5 .ui-text {
  font-size: 34px;
  text-align: center;
}
.slide-top5 .ui-order {
  font-size: 22px;
  text-align: center;
}
.slide-top5 .ui-top5-list-wrap {
  height: 600px;
}
.slide-top5 .ui-top5-list {
  width: 90%;
  height: 100%;
}
.slide-top5 .ui-top5-list li {
  height: 126px;
  background-color: rgba(255, 255, 255, 0.2);
}
.slide-top5 .ui-top5-list li.ui-min-space {
  height: 1%;
  background-color: transparent;
}
.slide-top5 .ui-top5-list li .num {
  font-size: 70px;
  font-weight: 300;
  line-height: 126px;
  float: left;
  width: 120px;
  text-align: center;
}
.slide-top5 .ui-top5-list li .avatar {
  float: left;
  width: 110px;
  height: 110px;
  margin: 5px;
  border: 3px solid #cde3e8;
  border-radius: 58px;
}
.slide-top5 .ui-top5-list li .info {
  float: left;
  padding: 25px 10px 0;
}
.slide-top5 .ui-top5-list li .info .name {
  font-size: 34px;
  float: left;
  width: 138px;
}
.slide-top5 .ui-top5-list li .info .likenum {
  font-size: 24px;
  line-height: 32px;
  float: left;
  height: 32px;
  padding-left: 38px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/like.png) no-repeat 0 0;
}
.slide-top5 .ui-top5-list li .info .prodname {
  font-size: 22px;
  clear: both;
  padding-top: 20px;
}
.slide-top5 .ui-bottons {
  clear: both;
  padding: 0 53px;
}
.slide-top5 .ui-bottons.othershare .ui-botton {
  width: 234px;
}
.slide-top5 .ui-botton {
  font-size: 26px;
  line-height: 64px;
  width: 100%;
  height: 64px;
  text-align: center;
  color: #4aa5b8;
  border: 2px solid #4093a4;
  border-radius: 34px;
  background: #fff;
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.4);
}
.gt1000 .slide-top5 .ui-mini-space {
  height: 7%;
}
.gt1000 .slide-top5 .ui-min-space {
  height: 2.5%;
}
.gt1000 .ui-top5-list-wrap {
  height: 650px;
}
.gt1000 .ui-top5-list li.ui-min-space {
  height: 2%;
}
/* choose */
.slide-choose.swiper-slide {
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/white-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.slide-choose .ui-middle-space {
  height: 7.5%;
}
.slide-choose .ui-small-space {
  height: 5%;
}
.slide-choose .ui-title {
  width: 100%;
  height: 106px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/teacher-choose.png) no-repeat 50% 50%;
}
.slide-choose .ui-teacher-list {
  font-size: 0;
  padding: 0 40px;
}
.slide-choose .ui-teacher-list li {
  display: inline-block;
  width: 50%;
  margin-bottom: 5%;
  text-align: center;
}
.slide-choose .ui-teacher-list li .avatar {
  display: inline-block;
  width: 240px;
  height: 104px;
}
.slide-choose .ui-teacher-list li .avatar img {
  width: 236px;
  height: 100px;
  border: 2px solid #dad9d9;
}
.slide-choose .ui-teacher-list li .name {
  font-size: 30px;
  margin: 25px 0;
  color: #4aa5b8;
}
.gt1000 .slide-choose .ui-middle-space {
  height: 9%;
}
.gt1000 .slide-choose .ui-small-space {
  height: 6%;
}
/* detail */
.slide-detail.swiper-slide {
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/white-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.slide-detail .ui-big-space {
  height: 10%;
}
.slide-detail .ui-middle-space {
  height: 5%;
}
.slide-detail .ui-small-space {
  height: 5%;
}
.slide-detail .ui-mini-space {
  height: 2.5%;
}
.slide-detail .ui-detail-card {
  width: 80%;
  height: 75%;
  text-align: center;
  border: 2px solid #bfbfbf;
  background: rgba(255, 255, 255, 0.3);
}
.slide-detail .ui-name {
  font-size: 26px;
  line-height: 1.4;
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  background-color: #4aa5b8;
}
.slide-detail .ui-avatar img {
  width: 236px;
  height: 100px;
  border: 2px solid #dad9d9;
}
.slide-detail .ui-title {
  height: 64px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/teacher-detail.png) no-repeat 50% 0;
}
.slide-detail .ui-line {
  width: 86%;
  margin: 0 auto;
  border-top: 1px solid #777;
}
.slide-detail .ui-text {
  font-size: 23px;
  line-height: 1.7;
  text-align: center;
  color: #777;
}
.slide-detail .ui-avatar-wrap {
  height: 40%;
}
.slide-detail .ui-slider {
  position: relative;
  height: 60%;
}
.slide-detail .ui-slider .ui-slider-main {
  height: 100%;
}
.slide-detail .ui-slider .ui-slider-main li {
  display: none;
  height: 100%;
}
.slide-detail .ui-slider .ui-slider-main li .ui-text {
  width: 86%;
}
.slide-detail .ui-slider .ui-slider-main li .tt {
  padding: 0 4px;
  color: #fff;
  background-color: #777;
}
.slide-detail .ui-slider .ui-slider-main li.on {
  display: block;
}
.slide-detail .ui-slider .ui-slider-main li:nth-child(1) .ui-title {
  background-position: 50% 0;
}
.slide-detail .ui-slider .ui-slider-main li:nth-child(2) .ui-title {
  background-position: 50% -74px;
}
.slide-detail .ui-slider .ui-slider-main li:nth-child(3) .ui-title {
  background-position: 50% -148px;
}
.slide-detail .ui-slider .ui-slider-nav {
  font-size: 0;
  position: absolute;
  bottom: -38px;
}
.slide-detail .ui-slider .ui-slider-nav li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 7px;
  border-radius: 10px;
  background-color: #dcdcdc;
}
.slide-detail .ui-slider .ui-slider-nav li.on {
  background-color: #4aa5b8;
}
.slide-detail .ui-bottom-button {
  font-size: 40px;
  line-height: 88px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 88px;
  text-align: center;
  color: #fff;
  background-color: #4aa5b8;
}
.gt1000 .slide-detail .ui-big-space {
  height: 12%;
}
.gt1000 .slide-detail .ui-middle-space {
  height: 9%;
}
.gt1000 .slide-detail .ui-small-space {
  height: 6%;
}
.gt1000 .slide-detail .ui-mini-space {
  height: 3%;
}
.gt1000 .ui-detail-card {
  height: 70%;
}
.ui-form-wrap {
  width: 320px;
  margin: 0 auto;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/white-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.ui-form-wrap * {
  box-sizing: border-box;
}
.ui-form-wrap body .content {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.ui-form-wrap form {
  width: 90%;
}
.ui-form-wrap .picture-upload .picture-uploader {
  position: relative;
  overflow: hidden;
  width: 88px;
  height: 88px;
  margin-top: 16px;
  border: 3px solid #c2c0c0;
  border-radius: 44px;
  background: url(http://static.idaiyan.cn/special/h5_20150320_yunmantou/img/filebg.png) no-repeat 50% 50%;
  background-size: cover;
}
.ui-form-wrap .picture-upload .picture-uploader .picture-preview {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100%;
  border-radius: 41px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.ui-form-wrap .picture-upload .picture-uploader input[type='file'] {
  font-size: 200px;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.ui-form-wrap .picture-upload .picture-upload-text {
  font-size: 13px;
  margin: 8px 0 18px;
  text-align: center;
  color: #ababab;
}
.ui-form-wrap .formitem {
  font-size: 0;
  margin-bottom: 24px;
}
.ui-form-wrap .leftlabel {
  font-size: 11px;
  display: inline-block;
  width: 20.97378277%;
  padding-right: 12px;
  text-align: right;
}
.ui-form-wrap .formobject {
  font-size: 12px;
  display: inline-block;
  width: 79.02621723%;
}
.ui-form-wrap input[type='text'] {
  font-size: 12px;
  line-height: 30px;
  width: 100%;
  height: 30px;
  padding: 0 .5em;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}
.ui-form-wrap input[type='text']:focus {
  border-color: #4aa5b8;
  outline: none;
  box-shadow: 0 0 1px 1px #4aa5b8;
}
.ui-form-wrap textarea {
  font-size: 12px;
  line-height: 1.4;
  width: 100%;
  padding: .5em;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}
.ui-form-wrap textarea:focus {
  border-color: #4aa5b8;
  outline: none;
  box-shadow: 0 0 1px 1px #4aa5b8;
}
.ui-form-wrap .formitem.people-intro .leftlabel {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  text-align: left;
}
.ui-form-wrap .formitem.people-intro .formobject {
  display: block;
  width: 100%;
}
.ui-form-wrap .formitem.people-intro textarea {
  height: 68px;
}
.ui-form-wrap .formitem.product-intro .leftlabel {
  margin-top: 10px;
  vertical-align: top;
}
.ui-form-wrap .formitem.product-intro textarea {
  height: 55px;
}
.ui-form-wrap .submit {
  margin-top: 25px;
  text-align: center;
}
.ui-form-wrap .submit button {
  font-size: 13px;
  width: 205px;
  height: 34px;
  color: #fff;
  border: none;
  border-radius: 17px;
  background-color: #4aa5b8;
}
.ui-form-wrap .check .leftlabel {
  vertical-align: top;
}
.ui-form-wrap .check .formobject {
  line-height: 1.5;
  color: #777;
}
