body {
  font-family: "Microsoft Yahei";
  font-size: 14px;
  overflow-x: hidden;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/body-bg.jpg) repeat;
}
.reseponse {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.times {
  margin-top: 3px;
  font-size: 30px;
  color: #ffcb0c;
  display: inline-block;
  height: 72px;
  line-height: 72px;
}
.times .blue-color {
  color: #03fdfd;
  font-size: 22px;
  margin-left: 10px;
  height: 72px;
  line-height: 72px;
}
.blink-small {
  -webkit-animation: blueblink 2s ease-in-out alternate infinite;
}
@-webkit-keyframes blueblink {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.part1 {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/bg1.jpg) no-repeat left top;
  position: relative;
  overflow: hidden;
  height: 620px;
  width: 1920px;
  margin-left: -460px;
}
.part1 .small-blue {
  position: absolute;
  background: #22fcfe;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  left: 470px;
  bottom: 180px;
  box-shadow: 2px 2px 16px #66feff;
}
.part2 {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/bg2.jpg) no-repeat left top;
  width: 1920px;
  height: 832px;
  position: relative;
  margin-left: -460px;
  color: #e2f9e1;
}
.part2 .small-blue {
  position: absolute;
  background: #22fcfe;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  left: 380px;
  top: 55px;
  box-shadow: 2px 2px 16px #66feff;
}
.bg-t {
  text-align: center;
  overflow: hidden;
  width: 1104px;
  height: 458px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/border-top.png) no-repeat left top;
}
.charts-wrap {
  position: absolute;
  margin-top: 533px;
  width: 1010px;
  z-index: 2;
}
.charts-wrap .tab .btn {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/city-btn.png) no-repeat left top;
  width: 156px;
  height: 62px;
  font-size: 20px;
  text-align: center;
  line-height: 67px;
  color: #e2f9e1;
  border: none;
  outline: none;
  margin-top: 44px;
  text-shadow: 2px 2px 10px rgba(255, 155, 0, 0.91);
  cursor: pointer;
}
.charts-wrap .tab .content-box {
  width: 1130px;
  margin: 0 -60px;
  display: none;
  overflow: hidden;
  color: #e2f9e1;
  padding-bottom: 63px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/border-bottom.png) no-repeat 0 100%;
}
.charts-wrap .tab .content-box .actproduct-list-wrap {
  width: 100%;
  float: left;
  padding: 0 60px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/border-m.png) repeat-y 0 0;
}
.charts-wrap .tab .content-box .box-wrap {
  position: relative;
  margin-top: -380px;
}
.charts-wrap .tab .content-box .box-wrap li {
  border: solid 1px #123538;
  width: 1000px;
  height: 80px;
  line-height: 80px;
  background: rgba(14, 31, 35, 0.5);
  margin-bottom: 13px;
}
.charts-wrap .tab .content-box .box-wrap li .left {
  width: 784px;
}
.charts-wrap .tab .content-box .box-wrap li .left .l-type {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums.png) no-repeat 0 0;
}
.charts-wrap .tab .content-box .box-wrap li .left .num1 {
  background-position: 20px 20px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num2 {
  background-position: 20px -70px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num3 {
  background-position: 20px -160px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num4 {
  background-position: 20px -252px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num5 {
  background-position: 20px -345px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num6 {
  background-position: 20px -440px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num7 {
  background-position: 20px -530px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num8 {
  background-position: 20px -625px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num9 {
  background-position: 20px -720px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num10 {
  background-position: 20px -818px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num11 {
  background-position: 20px -911px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num12 {
  background-position: 20px -1006px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num13 {
  background-position: 20px -1100px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num14 {
  background-position: 20px -1200px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num15 {
  background-position: 20px -1293px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num16 {
  background-position: 20px -1387px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num17 {
  background-position: 20px -1482px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num18 {
  background-position: 20px -1577px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num19 {
  background-position: 20px -1675px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num20 {
  background-position: 20px -1769px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num21 {
  background-position: 20px -1866px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num22 {
  background-position: 20px -1959px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num23 {
  background-position: 20px -2053px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num24 {
  background-position: 20px -2153px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num25 {
  background-position: 20px -2245px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num26 {
  background-position: 20px -2341px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num27 {
  background-position: 20px -2433px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num28 {
  background-position: 20px -2530px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num29 {
  background-position: 20px -2624px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num30 {
  background-position: 20px -2720px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num31 {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px 20px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num32 {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -70px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num33 {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -165px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num34 {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -260px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num35 {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -355px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num36 {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -452px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num37 {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -544px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num38 {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -640px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num39 {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -737px;
}
.charts-wrap .tab .content-box .box-wrap li .left .num40 {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -832px;
}
.charts-wrap .tab .content-box .box-wrap li .left .m-img {
  height: 80px;
  line-height: 80px;
  margin-right: 25px;
  padding-top: 11px;
}
.charts-wrap .tab .content-box .box-wrap li .left .m-img a {
  display: inline-block;
  width: 91px;
  height: 57px;
}
.charts-wrap .tab .content-box .box-wrap li .left .m-img img {
  width: 91px;
  height: 57px;
}
.charts-wrap .tab .content-box .box-wrap li .left .r-content {
  width: 567px;
}
.charts-wrap .tab .content-box .box-wrap li .left .r-content .title {
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  color: #03fdfd;
}
.charts-wrap .tab .content-box .box-wrap li .left .r-content .content {
  color: #b5d6bd;
  font-size: 14px;
  width: 560px;
  line-height: 24px;
  float: left;
  display: none;
  opacity: 0;
  height: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.charts-wrap .tab .content-box .box-wrap li .right {
  font-size: 24px;
  width: 214px;
  text-align: center;
}
.charts-wrap .tab .content-box .box-wrap li .right .r-top {
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.charts-wrap .tab .content-box .box-wrap li .right .r-bottom {
  width: 210px;
  height: 44px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/btn.png) no-repeat;
  background-position: 35px 0px;
  cursor: pointer;
  display: none;
}
.charts-wrap .tab .content-box .box-wrap li:hover {
  border: solid 2px #41fefe;
  height: 157px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left {
  width: 784px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .l-type {
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums.png) no-repeat 0 0;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num1 {
  background-position: 20px 20px;
  margin-top: 38px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num2 {
  margin-top: 38px;
  background-position: 20px -70px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num3 {
  margin-top: 38px;
  background-position: 20px -160px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num4 {
  margin-top: 38px;
  background-position: 20px -252px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num5 {
  margin-top: 38px;
  background-position: 20px -345px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num6 {
  margin-top: 38px;
  background-position: 20px -440px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num7 {
  margin-top: 38px;
  background-position: 20px -530px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num8 {
  margin-top: 38px;
  background-position: 20px -625px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num9 {
  margin-top: 38px;
  background-position: 20px -720px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num10 {
  margin-top: 38px;
  background-position: 20px -818px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num11 {
  margin-top: 38px;
  background-position: 20px -911px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num12 {
  margin-top: 38px;
  background-position: 20px -1006px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num13 {
  margin-top: 38px;
  background-position: 20px -1100px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num14 {
  margin-top: 38px;
  background-position: 20px -1200px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num15 {
  margin-top: 38px;
  background-position: 20px -1293px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num16 {
  margin-top: 38px;
  background-position: 20px -1387px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num17 {
  margin-top: 38px;
  background-position: 20px -1482px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num18 {
  margin-top: 38px;
  background-position: 20px -1577px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num19 {
  margin-top: 38px;
  background-position: 20px -1675px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num20 {
  margin-top: 38px;
  background-position: 20px -1769px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num21 {
  margin-top: 38px;
  background-position: 20px -1866px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num22 {
  margin-top: 38px;
  background-position: 20px -1959px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num23 {
  margin-top: 38px;
  background-position: 20px -2053px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num24 {
  margin-top: 38px;
  background-position: 20px -2153px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num25 {
  margin-top: 38px;
  background-position: 20px -2245px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num26 {
  margin-top: 38px;
  background-position: 20px -2341px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num27 {
  margin-top: 38px;
  background-position: 20px -2433px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num28 {
  margin-top: 38px;
  background-position: 20px -2530px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num29 {
  margin-top: 38px;
  background-position: 20px -2624px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num30 {
  margin-top: 38px;
  background-position: 20px -2720px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num31 {
  margin-top: 38px;
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px 20px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num32 {
  margin-top: 38px;
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -70px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num33 {
  margin-top: 38px;
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -165px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num34 {
  margin-top: 38px;
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -260px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num35 {
  margin-top: 38px;
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -355px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num36 {
  margin-top: 38px;
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -452px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num37 {
  margin-top: 38px;
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -544px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num38 {
  margin-top: 38px;
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -640px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num39 {
  margin-top: 38px;
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -737px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .num40 {
  margin-top: 38px;
  width: 100px;
  height: 80px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/nums-4.png) no-repeat 0 0;
  background-position: 20px -832px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .m-img {
  height: 80px;
  line-height: 80px;
  margin-right: 25px;
  padding-top: 11px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .m-img a {
  display: inline-block;
  width: 205px;
  height: 128px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .m-img img {
  width: 205px;
  height: 128px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .r-content {
  width: 450px;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .r-content .title {
  height: 68px;
  line-height: 68px;
  font-size: 24px;
  color: #03fdfd;
}
.charts-wrap .tab .content-box .box-wrap li:hover .left .r-content .content {
  color: #b5d6bd;
  font-size: 14px;
  width: 450px;
  line-height: 24px;
  float: left;
  display: block;
  opacity: 1;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.charts-wrap .tab .content-box .box-wrap li:hover .right {
  font-size: 24px;
  width: 210px;
  text-align: center;
}
.charts-wrap .tab .content-box .box-wrap li:hover .right .r-top {
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.charts-wrap .tab .content-box .box-wrap li:hover .right .r-bottom {
  width: 210px;
  height: 44px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/btn.png) no-repeat;
  background-position: 35px 0px;
  cursor: pointer;
  display: block;
  margin-bottom: 25px;
}
.charts-wrap .tab .content-box .not-start {
  font-size: 20px;
  margin: 80px 500px;
  text-shadow: 2px 2px 16px rgba(255, 115, 0, 0.9);
}
.charts-wrap .tab .btn.active {
  cursor: pointer;
  outline: none;
  color: #e2f9e1;
  text-shadow: 2px 2px 10px rgba(168, 255, 0, 0.91);
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/active-btn.png) no-repeat left top;
}
.charts-wrap .tab .content-box.active {
  display: block;
}
.part3 {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/ranking/bg3.jpg) no-repeat left top;
  width: 1920px;
  height: 780px;
  position: relative;
  margin-left: -460px;
  color: #e2f9e1;
}
.copyright {
  width: 1920px;
  height: 230px;
  color: #477384;
  font-size: 14px;
  position: relative;
  margin-left: -460px;
}
.copyright .address {
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 56px;
  position: absolute;
}
.text2em {
  text-indent: 2em;
}
.pinkblink {
  text-shadow: 2px 2px 10px rgba(255, 115, 0, 0.91);
}
.yellowlink {
  color: #e2f9e1;
  text-shadow: 2px 2px 16px rgba(168, 255, 0, 0.52);
}
.blueblink {
  color: #e2f9e1;
  text-shadow: 2px 2px 16px rgba(0, 222, 255, 0.7);
}
.none {
  display: none;
}
.sq-btn {
  position: fixed;
  width: 249px;
  height: 110px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/goodproduct/sq-btn.png) no-repeat left top;
  cursor: pointer;
  box-shadow: none;
  top: 30%;
  z-index: 2;
}
.sq-btn .dian-big {
  width: 110px;
  height: 3px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/goodproduct/dian-big.png) repeat-x left top;
  position: absolute;
  top: 25px;
  left: 98px;
}
.sq-btn .text {
  position: absolute;
  left: 60px;
  top: 44px;
  font-size: 28px;
}
.sq-btn .cricle {
  width: 54px;
  height: 54px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/goodproduct/dq-btn.png) no-repeat left top;
  position: absolute;
  right: 8px;
  bottom: 3px;
}
.sq-btn.chartlink {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "STHeiti", "微软雅黑", "Microsoft YaHei", sans-serif;
  margin-top: 110px;
}
@media screen and (min-width: 1400px) {
  .sq-btn {
    right: 10%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1400px) {
  .sq-btn {
    right: 0;
  }
}
.rotate {
  -webkit-animation: rotate 2s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
