body {
  font-size: 1.3em;
}
header {
  line-height: 44px;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 44px;
  background: #2e2e2e;
}
header a:hover {
  text-decoration: underline;
}
header .mainnav a,
header .mainnav span {
  margin-right: 20px;
  color: #e2e2e2;
}
header .userstatus a,
header .userstatus span {
  margin-right: 0;
  margin-left: 20px;
  color: #e2e2e2;
}
header .userstatus .blue {
  color: #3caece;
}
header .home {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  padding-left: 18px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/icon-home.png) no-repeat 0 0;
}
header .home:hover {
  background-position: 0 -27px;
}
header .qrcodebtn {
  vertical-align: -10%;
  display: inline-block;
  width: 18px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/icon-qrcode.png) no-repeat 0 0;
}
header .qrcodebtn:hover {
  background-position: 0 100%;
}
.rightnav {
  position: absolute;
  z-index: 20;
  top: 10%;
  right: 40px;
  height: 80%;
}
.rightnav ul {
  height: 100%;
}
.rightnav li {
  position: relative;
  height: 12.5%;
}
.rightnav li:after {
  position: absolute;
  right: 0;
  top: 20%;
  width: 2px;
  height: 75%;
  content: ' ';
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/line.png) repeat-y 0 0;
}
.rightnav li:last-child:after {
  display: none;
}
.rightnav a {
  position: relative;
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  display: block;
  width: 12px;
  height: 12px;
  margin-right: -5px;
  opacity: .5;
  color: #ff8062;
  border-radius: 6px;
  background: #ff8062;
}
.rightnav a .text {
  position: absolute;
  right: 20px;
  width: 110px;
  margin-top: -2px;
  padding-right: 5px;
  text-align: right;
}
.rightnav a .text .english {
  visibility: hidden;
}
.rightnav a.active,
.rightnav a:hover {
  opacity: 1;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  width: 16px;
  height: 16px;
  margin: 0 -7px 0 -2px;
  top: -2px;
  border-radius: 8px;
}
.rightnav a.active .english,
.rightnav a:hover .english {
  visibility: visible;
}
.rightnav a.active .text,
.rightnav a:hover .text {
  margin-top: 0px;
  margin-right: 2px;
}
#fullpage {
  height: 100%;
}
#section-intro {
  text-align: center;
  color: #fff;
}
#section-intro .intro-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
#section-intro .intro-bg:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
}
#section-intro .title {
  font-size: 4.61538462em;
}
#section-intro .desc {
  line-height: 2.30769231;
}
#section-intro .countdown {
  margin: 0 -100px;
}
#section-intro .countdown span {
  font-size: 1.84615385em;
  margin-left: 10px;
  vertical-align: -10%;
}
#section-intro .countdown:before {
  display: inline-block;
  width: 30%;
  height: 1px;
  margin-right: 10px;
  content: '';
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, left top, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(100% #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, #ffffff 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0, #ffffff 100%);
}
#section-intro .countdown:after {
  display: inline-block;
  width: 30%;
  height: 1px;
  margin-left: 10px;
  content: '';
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, left top, left top, color-stop(0, #ffffff), color-stop(100% rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, #ffffff 0, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(left, #ffffff 0, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(left, #ffffff 0, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, #ffffff 0, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(left, #ffffff 0, rgba(255, 255, 255, 0) 100%);
}
#section-intro .social {
  position: relative;
  font-size: 0;
}
#section-intro .social .btn {
  display: inline-block;
  overflow: hidden;
  width: 110px;
  height: 42px;
  margin: 0 25px;
  cursor: pointer;
  text-indent: -9999px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}
#section-intro .social .btn.sharebtn {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/social.png) no-repeat 38px 50% rgba(255, 255, 255, 0.1);
}
#section-intro .social .btn.msgbtn {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/social.png) no-repeat -197px 50% rgba(255, 255, 255, 0.1);
}
#section-intro .social .btn.likebtn {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/social.png) no-repeat -123px 50% rgba(255, 255, 255, 0.1);
}
#section-intro .social .btn.likebtn.liked {
  background-position: -40px 50%;
}
#section-intro .social .btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
}
#section-support {
  text-align: left;
  color: #434343;
  background: #e2eaf0;
}
#section-support .ceo_wrap {
  width: 130px;
  margin: 0 auto;
  text-align: center;
}
#section-support .ceo_wrap:hover .followbtn {
  display: block;
}
#section-support .ceo_avatar {
  position: relative;
  display: inline-block;
  width: 130px;
}
#section-support .ceo_avatar .avatar_cover {
  position: absolute;
  top: 78px;
  left: 50%;
  width: 294px;
  height: 134px;
  margin-left: -147px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/avatar_cover.png) no-repeat 50% 0;
}
#section-support .avatar {
  font-size: 0;
  display: block;
  width: 130px;
  height: 130px;
  padding: 9px;
  border: 1px solid #aab9c8;
  border-radius: 65px;
}
#section-support .avatar img {
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 55px;
}
#section-support .followbtn {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  display: none;
  overflow: hidden;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-indent: -9999px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/home/follow.png) no-repeat 0 -29px;
}
#section-support .followbtn:hover {
  background-position: 0 -85px;
}
#section-support .followbtn.hover {
  background-position: 0 -85px;
}
#section-support .followbtn.hover:hover {
  background-position: 0 -58px;
}
#section-support h1 {
  line-height: 70px;
  position: relative;
  z-index: 10;
  margin-top: -25px;
  text-align: center;
}
#section-support .bigspace {
  position: relative;
  z-index: 10;
}
#section-support .detail {
  position: relative;
  z-index: 10;
}
#section-support .intros {
  width: 390px;
  height: 350px;
}
#section-support .intros .introcontent {
  height: 245px;
}
#section-support .intros .title {
  font-size: 1.07692308em;
  font-weight: 700;
  line-height: 1.71428571em;
  margin-top: -5px;
}
#section-support .intros .content {
  line-height: 1.84615385;
  color: #6a6a6a;
}
#section-support .intros .origin-price {
  text-decoration: line-through;
  color: #6a6a6a;
}
#section-support .intros .now-price {
  font-size: 1.84615385em;
  color: #ff7300;
}
#section-support .intros .buybtn {
  margin-top: 12px;
}
#section-support .intros .orangebtn {
  font-size: 1.38461538em;
  line-height: 2.22222222;
  display: block;
  width: 180px;
  height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background: #ff8062;
  box-shadow: 0 2px 0 0 #d06850;
}
#section-support .intros .orangebtn:hover {
  background: #fe9178;
}
#section-support .intros .orangebtn:active {
  background: #d06850;
}
#section-support .intros .graybtn {
  font-size: 1.38461538em;
  line-height: 2.22222222;
  display: block;
  width: 180px;
  height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}
#section-support .intros .graybtn:hover {
  background: #aab9c8;
}
#section-support .intros .graybtn:active {
  background: #aab9c8;
}
#section-support .coverpic {
  height: 350px;
  width: 560px;
  box-shadow: 0 0 20px 0 rgba(60, 68, 82, 0.5);
}
#section-support .coverpic img {
  display: block;
}
#section-video {
  text-align: center;
  color: #fff;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/videobg.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#section-video .videobox {
  width: 720px;
  height: 433px;
  margin: 0 auto;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.5);
}
#section-video .idea {
  display: inline-block;
  width: 43px;
  height: 50px;
  margin-top: -1%;
  margin-right: 10px;
  vertical-align: middle;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/idea.png) no-repeat 0 0;
}
#section-video .desc {
  line-height: 2.30769231;
  color: #f3f3f3;
}
#section-feature {
  text-align: left;
  color: #434343;
  background: #f3f3f3;
}
#section-feature h1 {
  font-size: 36px;
  line-height: 100px;
  height: 100px;
  text-align: center;
  color: #6b6b6b;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/feacher.png) no-repeat 70% 0;
}
#section-feature ul {
  font-size: 0;
  margin: 0 -30px;
}
#section-feature ul li {
  font-size: 14px;
  display: inline-block;
  width: 33.33333333%;
  height: 210px;
  padding: 30px;
}
#section-feature ul li .icon {
  float: left;
  width: 90px;
  height: 90px;
  margin-right: 20px;
  border-radius: 45px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/feachers.png) no-repeat -5px -5px #ffffff;
}
#section-feature ul li .fl {
  width: 180px;
}
#section-feature ul li .fl h3 {
  color: #434343;
}
#section-feature ul li .fl p {
  font-size: 12px;
  line-height: 2;
  margin-top: 5px;
  color: #6a6a6a;
}
#section-feature ul .li2 .icon {
  background-position: -105px -5px;
}
#section-feature ul .li3 .icon {
  background-position: -205px -5px;
}
#section-feature ul .li4 .icon {
  background-position: -5px -105px;
}
#section-feature ul .li5 .icon {
  background-position: -105px -105px;
}
#section-feature ul .li6 .icon {
  background-position: -205px -105px;
}
#section-feature ul .li7 .icon {
  background-position: -5px -205px;
}
#section-feature ul .li8 .icon {
  background-position: -105px -205px;
}
#section-feature ul .li9 .icon {
  background-position: -205px -205px;
}
#section-figure {
  text-align: center;
  color: #434343;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/desktop_poster_thin.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#section-figure ul {
  font-size: 0;
}
#section-figure ul li {
  font-size: 13px;
  display: inline-block;
  width: 25%;
  text-align: center;
}
#section-figure ul li .icon {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/figure.png) no-repeat 0 0;
}
#section-figure ul li .num {
  font-size: 2.76923077em;
}
#section-figure ul li .num sup {
  font-size: 0.5em;
}
#section-figure ul li h3 {
  display: inline-block;
  margin: 0 auto;
  padding-top: 1.2em;
  border-top: 2px solid #434343;
}
#section-figure ul .li1 .icon {
  background-position: 10px 0;
}
#section-figure ul .li2 .icon {
  background-position: -245px 0;
}
#section-figure ul .li3 .icon {
  background-position: -501px 0;
}
#section-figure ul .li4 .icon {
  background-position: -760px 0;
}
#section-partner {
  text-align: center;
  background: #fff;
}
#section-partner h1 {
  font-size: 36px;
  line-height: 100px;
  height: 100px;
  text-align: center;
  color: #6b6b6b;
}
#section-partner ul {
  font-size: 0;
}
#section-partner ul li {
  font-size: 13px;
  line-height: 65px;
  display: inline-block;
  width: 25%;
  min-height: 65px;
  margin: 2.30769231em 0;
  vertical-align: top;
}
#section-partner ul li img {
  vertical-align: middle;
}
#section-images {
  text-align: center;
  color: #fff;
  background: #000;
}
#section-images .intro {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 44px;
}
#section-images ul {
  position: relative;
  width: 100%;
  height: 100%;
}
#section-images ul.none {
  display: none;
}
#section-images li {
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
#section-images li .desc {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(255, 128, 98, 0.8);
  -webkit-transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#section-images li .desc p {
  line-height: 24px;
  padding: 30px 36px;
  text-align: left;
}
#section-images .ul-9 .li1,
#section-images .ul-9 .li9 {
  width: 40%;
  height: 66.66666667%;
}
#section-images .ul-9 .li2,
#section-images .ul-9 .li3,
#section-images .ul-9 .li4,
#section-images .ul-9 .li5,
#section-images .ul-9 .li6,
#section-images .ul-9 .li7,
#section-images .ul-9 .li8 {
  width: 20%;
  height: 33.33333333%;
}
#section-images .ul-9 .li1,
#section-images .ul-9 .li2,
#section-images .ul-9 .li3,
#section-images .ul-9 .li4 {
  top: 0;
}
#section-images .ul-9 .li5,
#section-images .ul-9 .li9 {
  top: 33.33333333%;
}
#section-images .ul-9 .li6,
#section-images .ul-9 .li7,
#section-images .ul-9 .li8 {
  top: 66.66666667%;
}
#section-images .ul-9 .li1,
#section-images .ul-9 .li6 {
  left: 0;
}
#section-images .ul-9 .li7 {
  left: 20%;
}
#section-images .ul-9 .li2,
#section-images .ul-9 .li5,
#section-images .ul-9 .li8 {
  left: 40%;
}
#section-images .ul-9 .li3,
#section-images .ul-9 .li9 {
  left: 60%;
}
#section-images .ul-9 .li4 {
  left: 80%;
}
#section-images .ul-8 .li1,
#section-images .ul-8 .li4,
#section-images .ul-8 .li5,
#section-images .ul-8 .li8 {
  width: 50%;
  height: 33.33333333%;
}
#section-images .ul-8 .li2,
#section-images .ul-8 .li3,
#section-images .ul-8 .li6,
#section-images .ul-8 .li7 {
  width: 25%;
  height: 33.33333333%;
}
#section-images .ul-8 .li1,
#section-images .ul-8 .li2,
#section-images .ul-8 .li3 {
  top: 0;
}
#section-images .ul-8 .li1,
#section-images .ul-8 .li4,
#section-images .ul-8 .li6 {
  left: 0;
}
#section-images .ul-8 .li4,
#section-images .ul-8 .li5 {
  top: 33.33333333%;
}
#section-images .ul-8 .li7 {
  left: 25%;
}
#section-images .ul-8 .li3 {
  left: 75%;
}
#section-images .ul-8 .li2,
#section-images .ul-8 .li5,
#section-images .ul-8 .li8 {
  left: 50%;
}
#section-images .ul-8 .li6,
#section-images .ul-8 .li7,
#section-images .ul-8 .li8 {
  top: 66.66666667%;
}
#section-images .ul-1 .li1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#section-images .ul-2 .li1,
#section-images .ul-2 .li2 {
  width: 50%;
  height: 100%;
  top: 0;
}
#section-images .ul-2 .li2 {
  left: 50%;
}
#section-images .ul-3 .li1,
#section-images .ul-3 .li2,
#section-images .ul-3 .li3 {
  width: 50%;
}
#section-images .ul-3 .li1 {
  height: 100%;
  left: 0;
}
#section-images .ul-3 .li1,
#section-images .ul-3 .li2 {
  top: 0;
}
#section-images .ul-3 .li3 {
  top: 50%;
}
#section-images .ul-3 .li2,
#section-images .ul-3 .li3 {
  left: 50%;
  height: 50%;
}
#section-images .ul-4 .li1,
#section-images .ul-4 .li2,
#section-images .ul-4 .li3,
#section-images .ul-4 .li4 {
  width: 50%;
  height: 50%;
}
#section-images .ul-4 .li1,
#section-images .ul-4 .li2 {
  top: 0;
}
#section-images .ul-4 .li3,
#section-images .ul-4 .li4 {
  top: 50%;
}
#section-images .ul-4 .li1,
#section-images .ul-4 .li3 {
  left: 0;
}
#section-images .ul-4 .li2,
#section-images .ul-4 .li4 {
  left: 50%;
}
#section-images .ul-5 .li1,
#section-images .ul-5 .li2,
#section-images .ul-5 .li3 {
  width: 33.33333333%;
  top: 0;
}
#section-images .ul-5 .li1,
#section-images .ul-5 .li2,
#section-images .ul-5 .li3,
#section-images .ul-5 .li4,
#section-images .ul-5 .li5 {
  height: 50%;
}
#section-images .ul-5 .li4,
#section-images .ul-5 .li5 {
  width: 50%;
  top: 50%;
}
#section-images .ul-5 .li4,
#section-images .ul-5 .li1 {
  left: 0;
}
#section-images .ul-5 .li2 {
  left: 33.33333333%;
}
#section-images .ul-5 .li3 {
  left: 66.66666667%;
}
#section-images .ul-5 .li5 {
  left: 50%;
}
#section-images .ul-6 .li6,
#section-images .ul-6 .li1 {
  width: 50%;
  height: 75%;
}
#section-images .ul-6 .li2,
#section-images .ul-6 .li3,
#section-images .ul-6 .li4,
#section-images .ul-6 .li5 {
  width: 25%;
  height: 25%;
}
#section-images .ul-6 .li1,
#section-images .ul-6 .li2,
#section-images .ul-6 .li3 {
  top: 0;
}
#section-images .ul-6 .li4,
#section-images .ul-6 .li5 {
  top: 75%;
}
#section-images .ul-6 .li6 {
  top: 25%;
}
#section-images .ul-6 .li2,
#section-images .ul-6 .li6 {
  left: 50%;
}
#section-images .ul-6 .li3 {
  left: 75%;
}
#section-images .ul-6 .li5 {
  left: 25%;
}
#section-images .ul-7 .li1,
#section-images .ul-7 .li3,
#section-images .ul-7 .li5,
#section-images .ul-7 .li7 {
  width: 37.5%;
  height: 50%;
}
#section-images .ul-7 .li2,
#section-images .ul-7 .li4,
#section-images .ul-7 .li6 {
  width: 25%;
  height: 33.33333333%;
  left: 37.5%;
}
#section-images .ul-7 .li5,
#section-images .ul-7 .li7 {
  top: 50%;
}
#section-images .ul-7 .li1,
#section-images .ul-7 .li2,
#section-images .ul-7 .li3 {
  top: 0;
}
#section-images .ul-7 .li4 {
  top: 33.33333333%;
}
#section-images .ul-7 .li6 {
  top: 66.66666667%;
}
#section-images .ul-7 .li1,
#section-images .ul-7 .li5 {
  left: 0;
}
#section-images .ul-7 .li3,
#section-images .ul-7 .li7 {
  left: 62.5%;
}
#section-about {
  text-align: center;
  color: #fff;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/desert_miniplanet_bkg_3.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#section-about .respons_wp {
  position: relative;
}
#section-about #scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#section-about .layer1 {
  width: 707px;
  height: 500px;
  margin-left: 150px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/main_rocks.png) no-repeat 0 0;
}
#section-about .layer2 {
  width: 157px;
  height: 200px;
  margin-top: 180px;
  margin-left: 20px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/small_bkg_rocks.png) no-repeat 0 0;
}
.minspace {
  height: 1.15384615em;
}
.midspace {
  height: 2.30769231em;
}
.bigspace {
  height: 4.61538462em;
}
.share-tip-wrap {
  display: none;
}
.boxy-tip-wrapper .boxy-inner .share-tip {
  margin: 0 -10px;
}
body .shareboxy .boxy-inner {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}
body .shareboxy .boxy-tip-arrow {
  display: none;
}
body .shareboxy .boxy-tip-arrow b {
  height: 12px;
  width: 12px;
  margin-top: -7px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);
}
body .shareboxy .boxy-tip-arrow i {
  display: none;
}
body .shareboxy:hover .boxy-inner {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
}
body .shareboxy:hover .boxy-tip-arrow b {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
}
.share-tip {
  width: 252px;
  height: 44px;
}
.share-tip .sharetitle {
  display: none;
  font-size: 13px;
  color: #434343;
  text-align: center;
}
.share-tip .bdshare {
  padding-left: 12.5px;
}
.share-tip .bdsharebuttonbox a {
  height: 31px;
  width: 31px;
  margin-right: 8px;
  background-image: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/socialw.png);
}
.share-tip .bdsharebuttonbox a:hover {
  opacity: 1;
  filter: none;
}
.share-tip .bdsharebuttonbox .bds_qzone {
  background-position: 0 100%;
}
.share-tip .bdsharebuttonbox .bds_qzone:hover {
  background-position: 0 0;
}
.share-tip .bdsharebuttonbox .bds_tsina {
  background-position: -39px 100%;
}
.share-tip .bdsharebuttonbox .bds_tsina:hover {
  background-position: -39px 0;
}
.share-tip .bdsharebuttonbox .bds_renren {
  background-position: -78px 100%;
}
.share-tip .bdsharebuttonbox .bds_renren:hover {
  background-position: -78px 0;
}
.share-tip .bdsharebuttonbox .bds_weixin {
  background-position: -117px 100%;
}
.share-tip .bdsharebuttonbox .bds_weixin:hover {
  background-position: -117px 0;
}
.share-tip .bdsharebuttonbox .bds_douban {
  background-position: -156px 100%;
}
.share-tip .bdsharebuttonbox .bds_douban:hover {
  background-position: -156px 0;
}
.share-tip .bdsharebuttonbox .bds_tqq {
  background-position: -195px 100%;
}
.share-tip .bdsharebuttonbox .bds_tqq:hover {
  background-position: -195px 0;
}
.share-tip .bdsharebuttonbox .bds_bdysc {
  background-position: -234px 100%;
}
.share-tip .bdsharebuttonbox .bds_bdysc:hover {
  background-position: -234px 0;
}
