body {
  min-height: 1351px;
  background: #f8f8f8;
  padding-bottom: 0;
}
.Validform_right {
  display: none;
}
.gray {
  color: #686868;
}
.Validform_wrong {
  color: #ff8062;
  white-space: nowrap;
}
.ucheader .mainnav {
  padding-left: 20px;
}
.box-warp {
  background: #fff;
  border-bottom: solid 1px #e2e2e2;
  margin-bottom: 100px;
}
.prodeditform_wrap {
  width: 100%;
}
.main_wrap {
  width: 100%;
}
.titles {
  text-align: center;
  color: #434343;
  padding-top: 60px;
  padding-bottom: 68px;
  border-bottom: solid 1px #e2e2e2;
}
.titles h1 {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 2px;
}
.titles p {
  font-size: 14px;
}
.prodedit_wrap {
  background: #fff;
  overflow: hidden;
  position: relative;
}
.prodedit_wrap .formitem {
  margin-top: 30px;
}
.prodedit_wrap .formitem:before,
.prodedit_wrap .formitem:after {
  content: " ";
  display: table;
}
.prodedit_wrap .formitem:after {
  clear: both;
}
.prodedit_wrap input,
.prodedit_wrap textarea {
  background-color: #fcfcfc;
}
.prodedit_wrap .formlabel {
  float: left;
  width: 178px;
  min-height: 42px;
  line-height: 42px;
  text-align: right;
  margin-right: 22px;
  font-size: 14px;
  color: #434343;
}
.prodedit_wrap .formobject {
  float: left;
  width: 600px;
}
.prodedit_wrap #personbox {
  width: 600px;
}
.prodedit_wrap #personbox li {
  width: 82px;
  float: left;
  margin-right: 10px;
  height: 30px;
}
.prodedit_wrap .right2 {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
}
.prodedit_wrap .right2 li {
  color: #919191;
  cursor: pointer;
}
.prodedit_wrap .right2 li.checked {
  color: #ff8062;
}
.prodedit_wrap .right2 li label {
  cursor: pointer;
  padding-left: 5px;
}
.prodedit_wrap .right2 li label:hover {
  color: #434343;
}
.prodedit_wrap .intro textarea {
  width: 600px;
  height: 82px;
  padding: 0.6em 0.8em;
  line-height: 1.5;
}
.prodedit_wrap .video {
  border: none;
}
.prodedit_wrap .video input {
  width: 600px;
}
.prodedit_wrap .detail textarea {
  width: 600px;
  height: 200px;
  padding: 0.6em 0.8em;
  line-height: 1.5;
}
.prodedit_wrap .imgpreview_wrap {
  position: absolute;
  z-index: 9;
  height: 175px;
  top: -2px;
  left: -2px;
}
.prodedit_wrap .imgpreview {
  display: none;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.prodedit_wrap .imgselect {
  position: relative;
  width: 280px;
  border: 1px dashed #e2e2e2;
  background: #fcfcfc url(http://static.idaiyan.cn/website/static/modules/home/images/uc/selectbg.png) no-repeat 50% 25px;
  cursor: pointer;
}
.prodedit_wrap .imgselect .tip {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
  color: #d5d5d5;
}
.prodedit_wrap .imgselect .filewrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.prodedit_wrap .imgselect .filewrap input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 1000px;
  opacity: 0;
  cursor: pointer;
}
.prodedit_wrap .imgselect:hover {
  background-color: #fff;
}
.prodedit_wrap .cover .imgselect {
  height: 175px;
}
.prodedit_wrap .cover .imgpreview_wrap {
  width: 280px;
}
.prodedit_wrap .bigbanner .imgselect {
  height: 130px;
  width: 524px;
  background-position: 50% 10px;
}
.prodedit_wrap .bigbanner .imgpreview_wrap {
  height: 130px;
  width: 524px;
}
.prodedit_wrap .bigbanner .imgpreview .fl,
.prodedit_wrap .bigbanner .imgpreview .fr {
  height: 130px;
  width: 22.43426633%;
  background-color: rgba(0, 0, 0, 0.5);
}
.prodedit_wrap .cover,
.prodedit_wrap .bigbanner {
  position: relative;
}
.prodedit_wrap .cover .formobject,
.prodedit_wrap .bigbanner .formobject {
  min-width: 152px;
}
.prodedit_wrap .cover .formlabel,
.prodedit_wrap .bigbanner .formlabel {
  float: left;
}
.prodedit_wrap .cover b,
.prodedit_wrap .bigbanner b {
  color: #ff8062;
}
.prodedit_wrap .listtitle {
  background: #f9f9f9;
  border-bottom: 1px solid #ccc;
  padding-left: 38px;
  height: 70px;
}
.prodedit_wrap .listtitle h2 {
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  font-weight: normal;
  color: #6a6a6a;
}
.prodedit_wrap .listtitle .back {
  width: 40px;
  height: 40px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/back.png) no-repeat 0 0;
  margin: 15px 44px 0 0;
}
.prodedit_wrap .name .formobject input,
.prodedit_wrap .subname .formobject input {
  width: 600px;
}
.prodedit_wrap #intro,
.prodedit_wrap #detail {
  width: 600px;
  background: #fcfcfc;
}
.prodedit_wrap .bigbanner .imgselect .tip {
  bottom: 18px;
}
.prodedit_wrap .show {
  display: block;
}
.prodedit_wrap .addimg {
  float: left;
  position: relative;
  border: 2px dashed #e2e2e2;
  width: 170px;
  height: 40px;
  margin-top: 5px;
  background: #fcfcfc;
}
.prodedit_wrap .addimg .tip {
  width: 166px;
  height: 36px;
  line-height: 36px;
  color: #c6c6c6;
  padding-left: 46px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/adds.png) no-repeat 18px 50%;
}
.prodedit_wrap .addimg .imgpreview_wrap {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 10;
  width: 170px;
  height: 40px;
}
.prodedit_wrap .addimg .imgpreview {
  display: block;
}
.prodedit_wrap .addimg .filewrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.prodedit_wrap .addimg .filewrap input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 1000px;
  opacity: 0;
  cursor: pointer;
}
.prodedit_wrap .addimg:hover {
  background: #fff;
}
.prodedit_wrap .addimg.hasimg:hover .add_wrap {
  display: block;
  z-index: 20;
}
.prodedit_wrap .addimg2,
.prodedit_wrap .addimg3 {
  margin-left: 7px;
}
.formsubmit {
  margin-top: 40px;
  height: 75px;
  margin-left: 200px;
}
.formsubmit .savebtn {
  float: left;
  width: 180px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  color: #919191;
  font-size: 16px;
  box-shadow: none;
  background: #FFF;
}
.formsubmit .savebtn:hover,
.formsubmit .hover {
  border: 1px solid #c6c6c6;
  color: #434343;
}
.formsubmit .submitbtn {
  float: left;
  width: 180px;
  height: 42px;
  line-height: 42px;
  margin-right: 30px;
  font-size: 16px;
}
