/* ! home */
body {
  background-color: #f8f8f8;
}
.homeheader {
  height: 61px;
  padding: 14px 0 0;
  border-bottom: 1px solid #e2e2e2;
  background: #fff;
}
.homeheader .logo {
  padding: 0 40px 0 2px;
}
.homeheader .logo a,
.homeheader .logo img {
  display: block;
}
.homeheader .mainnav ul {
  float: left;
}
.homeheader .mainnav li {
  float: left;
  margin: 0 8px;
}
.homeheader .mainnav li a {
  padding: 0 8px;
  display: block;
  height: 32px;
  color: #434343;
  line-height: 32px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.homeheader .mainnav li a span {
  display: block;
  font-size: 0;
  height: 1px;
  width: 0;
  margin: 0 auto;
  border-bottom: 1px solid #ff8062;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -ms-transition: width 0.2s;
  transition: width 0.2s;
}
.homeheader .mainnav li a:hover {
  color: #ff8062;
}
.homeheader .mainnav li a:hover span {
  width: 100%;
}
.homeheader .userstatus {
  line-height: 38px;
  margin-top: -3px;
}
.homeheader .userstatus .avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #7d879b;
  border-radius: 20px;
  vertical-align: middle;
}
.homeheader .userstatus a {
  color: #434343;
}
.homeheader .userstatus a:hover {
  color: #3ebde0;
}
.homeheader .userstatus a:hover .icon-message {
  background-position: -280px -20px;
}
.homeheader .userstatus a:hover .icon-sendmessage {
  background-position: -200px -60px;
}
.homeheader .userstatus .login_regist a:hover {
  color: #ff8062;
  text-decoration: underline;
}
.homeheader .userstatus .pipe {
  margin: 0 10px;
  color: #c6c6c6;
}
.homeheader .userstatus .applybtn {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-right: 25px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  line-height: 28px;
  text-align: center;
  color: #6a6a6a;
  background: #f9f9f9;
}
.homeheader .userstatus .applybtn .icon-add {
  margin: -4px 5px 0 0;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/menu_add.png) no-repeat -5px -5px;
}
.homeheader .userstatus .applybtn:hover {
  color: #6a6a6a;
  border-color: #919191;
}
.homeheader .userstatus .applybtn:hover .icon-add {
  margin: -4px 5px 0 0;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/menu_add.png) no-repeat -65px -5px;
}
.homeheader .userstatus .applybtn:active {
  color: #6a6a6a;
  background-color: #fff;
}
.homeheader .userstatus .applybtn.small {
  width: 30px;
  overflow: hidden;
  margin-right: 17px;
}
.homeheader .userstatus .applybtn.small .icon-add {
  margin: -4px 0 0 0;
}
.homeheader .userstatus .uc_link {
  margin: 0 27px 0 9px;
}
.homeheader .userstatus .user_space {
  position: relative;
  z-index: 10;
  padding-bottom: 10px;
}
.homeheader .userstatus .user_space:hover .user_menu {
  display: block;
}
.homeheader .userstatus .user_menu {
  display: none;
  position: absolute;
  top: 49px;
  right: 0;
  width: 146px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: #ffffff;
}
.homeheader .userstatus .user_menu li {
  text-align: right;
}
.homeheader .userstatus .user_menu .bb1 {
  border-bottom: 1px solid #f3f3f3;
}
.homeheader .userstatus .user_menu a {
  display: block;
  padding: 0 27px;
}
.homeheader .userstatus .user_menu a:hover {
  color: #434343;
  background-color: #f9f9f9;
}
.homeheader .userstatus .user_menu a:hover .icon-home {
  background-position: -280px -40px;
}
.homeheader .userstatus .user_menu a:hover .icon-follow {
  background-position: -240px -60px;
}
.homeheader .userstatus .user_menu a:hover .icon-myfollow {
  background-position: -200px -40px;
}
.homeheader .userstatus .user_menu a:hover .icon-order {
  background-position: -200px -20px;
}
.homeheader .userstatus .user_menu a:hover .icon-set {
  background-position: -240px -20px;
}
.homeheader .userstatus .user_menu a:hover .icon-quit {
  background-position: -220px -60px;
}
.homeheader .userstatus .user_menu a:hover .icon-product {
  background-position: -220px -20px;
}
.homeheader .userstatus .user_menu .icon {
  margin: -4px 17px 0 0;
}
.homeheader .userstatus .user_menu_arrow {
  position: absolute;
  top: -9px;
  right: 54px;
}
.homeheader .userstatus .user_menu_arrow b {
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  bottom: 0;
  left: 0;
  border-bottom-color: #e2e2e2;
  top: -7px;
}
.homeheader .userstatus .user_menu_arrow i {
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  top: -7px;
  left: -8px;
}
.homeheader .userstatus .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 9px;
  vertical-align: middle;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/uc_menu.png) no-repeat 0 0;
}
.homeheader .userstatus .icon-home {
  background-position: -80px -40px;
}
.homeheader .userstatus .icon-follow {
  background-position: -40px -60px;
}
.homeheader .userstatus .icon-myfollow {
  background-position: 0 -40px;
}
.homeheader .userstatus .icon-order {
  background-position: 0 -20px;
}
.homeheader .userstatus .icon-set {
  background-position: -40px -20px;
}
.homeheader .userstatus .icon-quit {
  background-position: -20px -60px;
}
.homeheader .userstatus .icon-message {
  background-position: -80px -20px;
}
.homeheader .userstatus .icon-sendmessage {
  background-position: 0 -60px;
}
.homeheader .userstatus .icon-product {
  background-position: -20px -20px;
}
.listtitle h2 {
  font-size: 28px;
  color: #3c4452;
  line-height: 48px;
  font-weight: 400;
}
.listtitle h2 a {
  color: #3c4452;
}
.listtitle .more {
  margin-top: 20px;
  width: 57px;
  height: 22px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/home/more.png) no-repeat 0 0;
}
.listtitle .filter {
  float: left;
  margin: 18px 0 0 20px;
}
.listtitle .filter a {
  float: left;
  margin: 0 5px;
  color: #898b8d;
}
.listtitle .filter span {
  float: left;
  margin: 0 5px;
  color: #898b8d;
}
.slide_wrap {
  width: 100%;
  overflow: hidden;
}
.slide_wrap .slide {
  height: 450px;
  width: 100%;
  overflow: hidden;
}
.slide_wrap .slide li {
  height: 450px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.slide_wrap .slide li a {
  display: block;
  width: 100%;
  height: 100%;
}
.slide_wrap .nav {
  height: 32px;
  margin: 0 auto;
  padding: 11px 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.slide_wrap .nav li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 5px;
  background: #e2e2e2;
  cursor: pointer;
}
.slide_wrap .nav li.on {
  background: #ff8062;
}
/* 代言列表 */
.daiyanlist_wrap {
  padding-top: 20px;
}
.daiyanlist {
  margin-left: -10px;
  margin-right: -10px;
}
.daiyanlist li {
  position: relative;
  float: left;
  width: 490px;
  height: 306px;
  margin: 10px 10px;
  overflow: hidden;
}
.daiyanlist li a {
  display: block;
  width: 100%;
  height: 100%;
}
.daiyanlist li img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -o-transition: 5s;
  -ms-transition: 5s;
  transition: 5s;
}
.daiyanlist li:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* 产品列表 */
/* 创业故事 */
.story_wrap {
  padding-top: 20px;
}
.story .storyimg {
  margin-right: 20px;
  padding: 10px 0;
  width: 480px;
}
.story .storyimg img {
  display: block;
}
.story .storymain {
  padding: 10px 0;
  width: 500px;
}
.story .storyfeature {
  padding: 8px 0;
}
.story .storyfeature img {
  display: block;
}
.story .storytitle {
  margin-top: 10px;
  font-size: 24px;
}
.story .storymate {
  color: #919191;
}
.story .storycontent {
  padding: 20px 0;
  color: #3c4452;
  line-height: 25px;
}
.story .readmore {
  display: block;
  width: 182px;
  height: 42px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #919191;
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100% #ededed));
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background-image: -ms-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background-image: -o-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background-image: linear-gradient(top, #f6f6f6 0%, #ededed 100%);
}
.story .readmore:hover {
  background: #fff;
}
.pagenavi_wrap {
  padding: 50px 0 30px 0;
}
.pagenavi {
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}
.pagenavi li {
  display: inline-block;
  min-width: 36px;
  height: 36px;
  margin-right: 6px;
  text-align: center;
  background-color: #fff;
  vertical-align: top;
}
.pagenavi li a {
  display: block;
  min-width: 36px;
  height: 36px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 36px;
  color: #aaaaaa;
  background-color: #fff;
}
.pagenavi li a:hover {
  color: #ffffff;
  background-color: #aaaaaa;
}
.pagenavi li span {
  display: block;
  font-size: 13px;
  line-height: 36px;
  color: #ffffff;
}
.pagenavi .dot {
  background-color: transparent;
}
.pagenavi .dot span {
  color: #aaaaaa;
}
.pagenavi .current {
  background-color: #3ebde0;
}
.pagenavi .first a,
.pagenavi .last a,
.pagenavi .prev a,
.pagenavi .next a {
  background-image: url(http://static.idaiyan.cn/website/static/modules/home/images/pagenavi.png);
  background-repeat: no-repeat;
}
.pagenavi .first a {
  background-position: 0 -36px;
}
.pagenavi .first a:hover {
  background-position: 0 0;
}
.pagenavi .last a {
  background-position: -108px -36px;
}
.pagenavi .last a:hover {
  background-position: -108px 0;
}
.pagenavi .prev a {
  background-position: -36px -36px;
}
.pagenavi .prev a:hover {
  background-position: -36px 0;
}
.pagenavi .next a {
  background-position: -72px -36px;
}
.pagenavi .next a:hover {
  background-position: -72px 0;
}
/* 精彩活动 */
.actlist_wrap {
  padding-top: 20px;
}
.actlist {
  margin: 0 -12.5px;
}
.actlist li {
  float: left;
  width: 20%;
  padding: 12.5px;
}
.actlist .actimg {
  width: 180px;
  height: 180px;
}
.actlist .actimg img {
  display: block;
}
.actlist .acttitle {
  height: 54px;
  padding: 4px 0;
}
.actlist .acttitle a {
  font-size: 16px;
  line-height: 23px;
  color: #434343;
}
.actlist .acttitle a:hover {
  color: #3ebde0;
}
.actlist .actmate {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #919191;
}
/* 视频列表 */
.videolist_wrap {
  margin-top: 25px;
}
.videolist {
  margin-top: 25px;
}
.videolist li {
  background: #fff;
  margin-bottom: 30px;
}
.video {
  border: 1px solid #e2e2e2;
}
.video .videoimg {
  margin: -1px 20px -1px -1px;
  padding: 0 0;
  width: 480px;
}
.video .videoimg img {
  display: block;
  width: 480px;
  height: 300px;
}
.video .videomain {
  width: 500px;
  padding: 0 0;
  margin-right: -1px;
}
.video .videotitle {
  margin-top: 20px;
  font-size: 24px;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.video .videotitle a {
  color: #354052;
}
.video .videomate {
  color: #919191;
}
.video .videocontent {
  padding: 20px 20px 20px 0;
  color: #3c4452;
  height: 160px;
  line-height: 25px;
}
.video .videocontent p {
  height: 100px;
  overflow: hidden;
}
.video .readmore {
  display: block;
  width: 182px;
  height: 42px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #919191;
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100% #ededed));
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background-image: -ms-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background-image: -o-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background-image: linear-gradient(top, #f6f6f6 0%, #ededed 100%);
}
.video .readmore:hover {
  background: #fff;
}
.back2top {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 150px;
  padding-top: 8px;
  margin-left: 520px;
  width: 150px;
  text-align: center;
  border: 1px solid #e2e2e2;
  color: #919191;
  font-size: 12px;
  background: #f9f9f9;
}
.back2top .qrcode {
  background: #fff;
}
.back2top .qrcode p {
  padding-bottom: 6px;
}
.back2top .back2topbtn {
  height: 33px;
  border-top: 1px solid #e2e2e2;
  font-size: 13px;
  line-height: 34px;
  color: #434343;
  text-indent: 20px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/back2toparrow.gif) no-repeat 35px 50%;
  cursor: pointer;
}
.back2top .back2topbtn:hover {
  background-color: #fff;
}
.singlepage .title {
  padding: 60px 0;
  font-size: 48px;
  color: #3c4452;
  text-align: center;
}
.singlepage .content {
  padding: 0 55px;
  font-size: 18px;
  line-height: 32px;
  color: #919191;
}
.singlepage .content .deep {
  color: #434343;
}
.singlepage .content .center {
  text-align: center;
}
.errorpage .errorimg {
  margin-top: 124px;
  text-align: center;
}
.errorpage .errortext {
  text-align: center;
  color: #cfcfcf;
  font-size: 30px;
  line-height: 110px;
}
.errorpage .errorbtn {
  display: block;
  width: 380px;
  height: 50px;
  margin: 50px auto 100px auto;
  border-radius: 3px;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
  background-color: #3ebde0;
  box-shadow: 0 2px 0 0 #32a0be;
}
footer {
  margin: 20px 0 0;
  height: 42px;
  background: #282828;
  line-height: 42px;
  color: #6a6a6a;
}
footer .copy {
  font-family: "Helvetica Neue";
  text-align: center;
}
.video .videoimg {
  margin: 0 19px 0 0;
}
