.modifynav ul {
  border: 1px solid #c6c6c6;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  background-color: #f9f9f9;
}
.modifynav li {
  width: 25%;
  height: 69px;
  float: left;
  text-align: center;
  font-size: 18px;
  line-height: 68px;
  border-right: 1px solid #c6c6c6;
}
.modifynav li.active a {
  position: relative;
  z-index: 2;
  height: 70px;
  color: #434343;
  background: #fff;
}
.modifynav li:first-child a {
  border-radius: 4px 0 0 0;
}
.modifynav li:last-child {
  border-right: none;
}
.modifynav li:last-child a {
  border-radius: 0 4px 0 0;
}
.modifynav a {
  height: 69px;
  color: #919191;
  display: block;
}
