.news-detail-wrap {
  font-size: 13px;
}
.news-detail-wrap .header-wrap {
  position: relative;
  padding: 40px 0 8px 0;
  background: #fff;
}
.news-detail-wrap .header-wrap .header {
  position: relative;
}
.news-detail-wrap .header-wrap .header-text {
  width: 680px;
  color: #434343;
  text-align: left;
}
.news-detail-wrap .header-wrap .header-text .prod-describe {
  padding-left: 2px;
  height: 70px;
  border-left: 6px solid #00a1d7;
}
.news-detail-wrap .header-wrap .header-text .prod-describe div {
  display: inline-block;
}
.news-detail-wrap .header-wrap .header-text .prod-describe:before {
  width: 2px;
  height: 70px;
  content: '';
  float: left;
  margin-right: 25px;
  background: #00a1d7;
  display: inline-block;
}
.news-detail-wrap .header-wrap .header-text .prodtitle {
  width: 645px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 40px;
  line-height: 1;
}
.news-detail-wrap .header-wrap .header-text .proddesc {
  width: 645px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  margin-top: 8px;
  line-height: 1;
}
.news-detail-wrap .header-wrap .header-text .info-wrap {
  padding: 8px 0 0 35px;
}
.news-detail-wrap .header-wrap .header-text .info-wrap .author {
  margin-left: 30px;
}
.news-detail-wrap .header-wrap .header-text .info-wrap li {
  float: left;
  margin-right: 16px;
}
.news-detail-wrap .header-wrap .header-text .info-wrap li:last-child {
  margin-right: 0;
}
.news-detail-wrap .header-wrap .header-text .info-wrap li.like-num {
  color: #919191;
  padding-left: 18px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -88px;
}
.news-detail-wrap .header-wrap .header-text .info-wrap li.support-num {
  color: #919191;
  padding-left: 18px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -152px;
}
.news-detail-wrap .header-wrap .header-text .info-wrap li.look-num {
  color: #919191;
  padding-left: 18px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -58px;
}
.news-detail-wrap .header-wrap .header-text .info-wrap li.talk-num {
  color: #919191;
  padding-left: 18px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -121px;
}
.news-detail-wrap .header-wrap .header-text .info-wrap li.num {
  opacity: 0.5;
}
.news-detail-wrap .header-wrap .header-banner {
  right: 0;
  bottom: 10px;
  font-size: 0;
  position: absolute;
}
.news-detail-wrap .header-wrap .header-banner img {
  width: 290px;
  height: 100px;
  overflow: hidden;
  border-radius: 2px;
}
.news-detail-wrap .video-wrapper {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
  background: #fff;
}
.news-detail-wrap .video-wrap {
  width: 100%;
  height: 450px;
  background: #434343;
}
.news-detail-wrap .video-wrap .video {
  border: none;
}
.news-detail-wrap .detail-content {
  font-size: 13px;
  padding-top: 30px;
}
.news-detail-wrap .detail-content .left-content {
  width: 680px;
}
.news-detail-wrap .detail-content .left-content .article-desc {
  width: 100%;
  color: #919191;
  padding: 24px 36px;
  background: #f0f1f0;
  border-radius: 2px;
  border: 1px solid #e0e4e4;
}
.news-detail-wrap .detail-content .left-content .tips {
  color: #c6c6c6;
  font-size: 12px;
  padding: 10px 0;
}
.news-detail-wrap .detail-content .left-content .article-content {
  color: #6a6a6a;
  line-height: 20px;
}
.news-detail-wrap .detail-content .left-content .keyword-wrap {
  margin-top: 25px;
  color: #434343;
}
.news-detail-wrap .detail-content .left-content .keyword-wrap ul li {
  float: left;
  padding: 0 10px;
}
.news-detail-wrap .detail-content .left-content .qcode-wrap {
  height: 180px;
  margin-top: 8px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/temp/qcode-wrap.jpg) no-repeat;
}
.news-detail-wrap .detail-content .right-content {
  width: 290px;
  font-size: 13px;
}
.news-detail-wrap .detail-content .right-content a {
  color: #434343;
}
.news-detail-wrap .detail-content .right-content .btn-wrap {
  color: #6b7585;
  font-size: 18px;
  text-align: center;
  padding: 25px 0;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #e2e2e2;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .like-support {
  width: 266px;
  margin: auto;
  margin-bottom: 15px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e2e2e2;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .like-support div {
  width: 124px;
  height: 56px;
  line-height: 54px;
  float: left;
  text-align: left;
  padding-left: 60px;
  border-radius: 3px;
  background-repeat: no-repeat;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .like-support .like {
  color: #fff;
  margin-right: 18px;
  cursor: pointer;
  background-image: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/like-support.png);
  background-position: 23px -49px;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .like-support .like:hover {
  color: #6a6a6a;
  border: none;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  box-shadow: none;
  background-position: 20px 13px;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .like-support .like.liked {
  color: #6a6a6a;
  box-shadow: none;
  border: 1px solid #e2e2e2;
  background: #ffffff url(http://static.idaiyan.cn/website/static/modules/home/images/icons/like-support.png) no-repeat 20px 13px;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .like-support .like.liked:hover {
  color: #6a6a6a;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  box-shadow: none;
  background-position: 20px 13px;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .like-support .support {
  color: #fff;
  cursor: pointer;
  padding-left: 74px;
  background-image: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/like-support.png);
  background-position: 27px -120px;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .like-support .support:hover {
  color: #6a6a6a;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #e2e2e2;
  background-position: 25px -192px;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .like-support .support.supported {
  color: #6a6a6a;
  box-shadow: none;
  border: 1px solid #e2e2e2;
  background: #ffffff url(http://static.idaiyan.cn/website/static/modules/home/images/icons/like-support.png) no-repeat 25px -192px;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .like-support .support.supported:hover {
  color: #6a6a6a;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: none;
  background-position: 25px -192px;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare {
  margin-top: 5px;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox {
  padding-left: 14px;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox a {
  height: 31px;
  width: 31px;
  margin-right: 7px;
  background-image: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/social.png);
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox a:last-child {
  margin-right: 0;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox a:hover {
  opacity: 1;
  filter: none;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_qzone {
  background-position: 0 100%;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_qzone:hover {
  background-position: 0 0;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_tsina {
  background-position: -39px 100%;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_tsina:hover {
  background-position: -39px 0;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_renren {
  background-position: -78px 100%;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_renren:hover {
  background-position: -78px 0;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_weixin {
  background-position: -117px 100%;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_weixin:hover {
  background-position: -117px 0;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_douban {
  background-position: -156px 100%;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_douban:hover {
  background-position: -156px 0;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_tqq {
  background-position: -195px 100%;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_tqq:hover {
  background-position: -195px 0;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_bdysc {
  background-position: -234px 100%;
}
.news-detail-wrap .detail-content .right-content .btn-wrap .bdshare .bdsharebuttonbox .bds_bdysc:hover {
  background-position: -234px 0;
}
.news-detail-wrap .detail-content .right-content .item-wrap {
  margin-top: 25px;
}
.news-detail-wrap .detail-content .right-content .hot-title {
  height: 45px;
  color: #434343;
  font-size: 18px;
  line-height: 44px;
  padding-left: 20px;
  border-bottom: 1px solid #e2e2e2;
  background: #f8f8f8;
}
.news-detail-wrap .detail-content .right-content .hot-item {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 30px;
  border: 1px solid #e2e2e2;
  background: #fff;
}
.news-detail-wrap .detail-content .right-content .hot-item li {
  width: 265px;
  margin: auto;
  border-bottom: 1px solid #e2e2e2;
}
.news-detail-wrap .detail-content .right-content .related-user li {
  width: 255px;
  padding: 24px 0 20px 0;
}
.news-detail-wrap .detail-content .right-content .related-user .user-img img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 3px;
}
.news-detail-wrap .detail-content .right-content .related-user .user-info {
  padding-left: 16px;
}
.news-detail-wrap .detail-content .right-content .related-user .user-desc {
  color: #919191;
  pading-top: 4px;
}
.news-detail-wrap .detail-content .right-content .related-user .user-desc span {
  margin-right: 10px;
}
.news-detail-wrap .detail-content .right-content .related-user .care-icon {
  width: 24px;
  height: 24px;
  right: 10px;
  top: 10px;
  margin-top: 14px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/home/follow.png) no-repeat 0 -29px;
}
.news-detail-wrap .detail-content .right-content .related-user .care-icon:hover {
  background-position: 0 -1px;
}
.news-detail-wrap .detail-content .right-content .related-user .care-icon.hover {
  background-position: 0 -85px;
}
.news-detail-wrap .detail-content .right-content .related-user .care-icon.hover:hover {
  background-position: 0 -58px;
}
.news-detail-wrap .detail-content .right-content .related-article li {
  width: 255px;
  padding: 20px 0 12px 0;
}
.news-detail-wrap .detail-content .right-content .related-article .title-content {
  width: 170px;
}
.news-detail-wrap .detail-content .right-content .hot-product .product-wrap li {
  padding: 16px 0;
}
.news-detail-wrap .detail-content .right-content .hot-product .product-wrap li .product-img {
  width: 132px;
  height: 98px;
  overflow: hidden;
}
.news-detail-wrap .detail-content .right-content .hot-product .product-wrap li .product-img img {
  width: 132px;
  height: 98px;
  border-radius: 2px;
}
.news-detail-wrap .detail-content .right-content .hot-product .product-wrap li .product-desc {
  width: 108px;
  margin-left: 16px;
}
.news-detail-wrap .detail-content .right-content .hot-product .product-wrap li .product-desc .prodtitle {
  height: 40px;
  color: #434343;
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 12px;
}
.news-detail-wrap .detail-content .right-content .hot-product .product-wrap li .product-desc .num-wrap .look-num {
  color: #919191;
  padding-left: 15px;
  padding-right: 3px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -58px;
}
.news-detail-wrap .detail-content .right-content .hot-product .product-wrap li .product-desc .num-wrap .like-num {
  color: #919191;
  padding-left: 18px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -87px;
}
.news-detail-wrap .detail-content .right-content .hot-product .product-wrap li .product-desc .num-wrap .num {
  opacity: 0.5;
}
.news-detail-wrap .detail-content .right-content .hot-read .read-list li {
  padding: 15px 0 18px 0;
}
.news-detail-wrap .detail-content .right-content .hot-read .read-list li .order {
  color: #3ebde0;
  font-size: 20px;
  position: relative;
  bottom: 7px;
  font-weight: bold;
  margin-right: 14px;
}
.news-detail-wrap .detail-content .right-content .hot-read .read-list li .read-wrap {
  width: 235px;
}
.news-detail-wrap .detail-content .right-content .hot-read .read-list li .read-wrap .readtitle {
  color: #434343;
}
.news-detail-wrap .detail-content .right-content .hot-read .read-list li .read-wrap .read-content {
  color: #919191;
  height: 40px;
  overflow: hidden;
  margin-top: 5px;
  position: relative;
}
.news-detail-wrap .detail-content .right-content .hot-read .read-list li .read-wrap .read-content img {
  width: 130px;
  height: 80px;
  float: left;
  margin-right: 2px;
}
.news-detail-wrap .detail-content .right-content .hot-read .read-list li .read-wrap .read-content .left-img:hover .mask {
  display: block;
}
.news-detail-wrap .detail-content .right-content .hot-read .read-list li .read-wrap .read-content .mask {
  width: 130px;
  height: 80px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7) url(http://static.idaiyan.cn/website/static/modules/home/images/icons/video-on.png) no-repeat center center;
}
.news-detail-wrap .comment-wrap {
  height: 200px;
  color: #434343;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  background: #fff;
}
.news-detail-wrap .comment-wrap .comment-content {
  width: 680px;
}
.news-detail-wrap .comment-wrap .user-comment-title {
  font-size: 18px;
  line-height: 1;
  padding: 15px 0 20px 0;
}
.news-detail-wrap .comment-wrap .comment-frame .user-portrait {
  margin-right: 17px;
}
.news-detail-wrap .comment-wrap .comment-frame .user-portrait span {
  display: inline-block;
  width: 52px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-detail-wrap .comment-wrap .comment-frame .user-portrait img {
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 2px;
  border-radius: 3px;
}
.news-detail-wrap .comment textarea {
  width: 610px;
  height: 64px;
  resize: none;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
}
.news-detail-wrap .comment textarea:focus {
  border-color: #00a1d7;
}
.news-detail-wrap .comment .btn-wrap {
  margin-top: 10px;
}
.news-detail-wrap .comment .btn-wrap input {
  width: 130px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
}
.news-detail-wrap .comment .btn-wrap input:focus {
  border-color: #00a1d7;
}
.news-detail-wrap .comment .btn-wrap .valid-img {
  width: 120px;
  height: 42px;
  margin-left: 10px;
  border-radius: 2px;
  border: 1px solid #ededed;
}
.news-detail-wrap .comment .btn-wrap .publish {
  width: 120px;
  height: 42px;
  font-size: 16px;
  line-height: 42px;
}
.news-detail-wrap .hide-comment {
  display: none;
  margin: 10px 0 20px 0;
}
.news-detail-wrap .comment-item-wrap {
  padding-top: 25px;
}
.news-detail-wrap .comment-item-wrap .comment-item {
  width: 680px;
}
.news-detail-wrap .comment-item-wrap .comment-item .title {
  padding-bottom: 5px;
}
.news-detail-wrap .comment-item-wrap .comment-item .look-more {
  width: 100%;
  height: 40px;
  color: #919191;
  cursor: pointer;
  line-height: 38px;
  margin-top: 15px;
  border: 1px solid #e2e2e2;
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  text-align: center;
}
.news-detail-wrap .comment-item-wrap .comment-item .look-more:hover {
  background: #fff;
}
.news-detail-wrap .comment-item-wrap .comment-item li {
  padding-top: 15px;
  padding-bottom: 5px;
  border-top: 1px solid #e2e2e2;
}
.news-detail-wrap .comment-item-wrap .comment-item li .user-portrait {
  font-size: 0;
}
.news-detail-wrap .comment-item-wrap .comment-item li .user-portrait img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment {
  width: 615px;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .more-reply {
  text-align: right;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .date {
  color: #919191;
  font-size: 12px;
  margin-left: 10px;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .content {
  padding-top: 6px;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .self-comment {
  margin-top: -5px;
  font-size: 12px;
  padding-top: 5px;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .self-comment .num-wrap .support-num {
  color: #919191;
  display: inline-block;
  padding-left: 18px;
  padding-right: 2px;
  margin-right: 10px;
  cursor: pointer;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -152px;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .self-comment .num-wrap .talk-num {
  color: #919191;
  display: inline-block;
  padding-left: 18px;
  cursor: pointer;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -121px;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .self-comment .num-wrap .num {
  opacity: 0.5;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .other-comment-wrap {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e2e2e2;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .other-comment-wrap .other-user-portrait {
  font-size: 0;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .other-comment-wrap .other-user-portrait img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: 10px;
  border: 1px solid #e2e2e2;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .other-comment-wrap .other-comment {
  width: 561px;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .other-comment-wrap .other-comment .user-info {
  margin-top: -5px;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .other-comment-wrap .other-comment .user-info a {
  display: inline-block;
  height: 20px;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .other-comment-wrap .date-wrap {
  margin-top: 15px;
  text-align: right;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .other-comment-wrap .date-wrap .reply {
  color: #ff8062;
  display: none;
  cursor: pointer;
  margin-right: 5px;
}
.news-detail-wrap .comment-item-wrap .comment-item li .main-comment .other-comment-wrap .more-reply {
  margin-top: 10px;
  text-align: right;
}
