body {
  padding: 0;
  font-size: 13px;
}
footer {
  position: static;
}
a {
  color: #434343;
}
.left-content {
  width: 680px;
}
.left-content .filter-wrap {
  width: 100%;
  color: #919191;
  padding: 30px 20px 10px;
}
.left-content .filter-wrap .filter li {
  float: left;
  padding: 10px;
  line-height: 1;
  border: 1px solid #f8f8f8;
}
.left-content .filter-wrap .filter li:active {
  color: #434343;
  border-radius: 3px;
  border: 1px solid #6a6a6a;
  background: #fff;
}
.left-content .filter-wrap .filter li.active {
  color: #434343;
  border-radius: 3px;
  border: 1px solid #6a6a6a;
  background: #fff;
}
.left-content .filter-wrap .filter li a {
  color: #919191;
  line-height: 1;
  display: inline-block;
}
.left-content .filter-wrap .filter li a:hover {
  color: #434343;
}
.left-content .productlist-wrap {
  width: 100%;
}
.left-content .productlist-wrap .productlist li {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border: 1px solid #c6c6c6;
  background: #fff;
}
.left-content .productlist-wrap .productlist li:hover {
  box-shadow: 0 0 10px 0 #ccc;
}
.left-content .productlist-wrap .productlist li .image {
  width: 320px;
  height: 100%;
  overflow: hidden;
}
.left-content .productlist-wrap .productlist li .image img {
  width: 320px;
  height: 100%;
  overflow: hidden;
}
.left-content .productlist-wrap .productlist li .desc-wrap {
  width: 358px;
  padding: 14px 14px 0 23px;
}
.left-content .productlist-wrap .productlist li .desc-wrap .desc-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  line-height: 42px;
}
.left-content .productlist-wrap .productlist li .desc-wrap .desc-content {
  height: 94px;
  overflow: hidden;
  color: #6a6a6a;
  margin-bottom: 14px;
}
.left-content .productlist-wrap .productlist li .desc-wrap .item-info {
  color: #c6c6c6;
  font-size: 12px;
}
.left-content .productlist-wrap .productlist li .desc-wrap .item-info .nickname {
  max-width: 78px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
  color: #3ebde0;
  padding-right: 6px;
}
.left-content .productlist-wrap .productlist li .desc-wrap .item-info .look-num {
  padding-left: 15px;
  padding-right: 3px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -61px;
}
.left-content .productlist-wrap .productlist li .desc-wrap .item-info .talk-num {
  padding-left: 18px;
  padding-right: 3px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -124px;
}
.left-content .productlist-wrap .productlist li .desc-wrap .item-info .like-num {
  padding-left: 18px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -90px;
}
.left-content .productlist-wrap .productlist li .desc-wrap .item-info .num {
  opacity: 0.5;
  color: #919191;
}
.left-content .productlist-wrap .productlist li .desc-wrap .item-info .date {
  padding-right: 10px;
}
.left-content .productlist-wrap .look-more {
  width: 100%;
  height: 40px;
  color: #919191;
  cursor: pointer;
  line-height: 38px;
  margin-top: 15px;
  border: 1px solid #e2e2e2;
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  text-align: center;
}
.left-content .productlist-wrap .look-more:hover {
  background: #fff;
}
.left-content .productlist-wrap .look-more-tag {
  width: 100%;
  height: 40px;
  color: #919191;
  cursor: pointer;
  line-height: 38px;
  margin-top: 15px;
  border: 1px solid #e2e2e2;
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  text-align: center;
}
.left-content .productlist-wrap .look-more-tag:hover {
  background: #fff;
}
.right-content {
  width: 290px;
  float: right;
  position: relative;
  padding-top: 111px;
}
.right-content .btn-wrap {
  position: absolute;
  top: 30px;
  height: 111px;
}
.right-content .btn-wrap .publish-btn {
  width: 290px;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
}
.right-content .hot-title {
  height: 45px;
  color: #434343;
  font-size: 18px;
  line-height: 44px;
  padding-left: 20px;
  border-bottom: 1px solid #e2e2e2;
  background: #f8f8f8;
}
.right-content .hot-item {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 30px;
  border: 1px solid #e2e2e2;
  background: #fff;
}
.right-content .hot-item li {
  width: 265px;
  margin: auto;
  border-bottom: 1px solid #e2e2e2;
}
.right-content .hot-item li:last-child {
  border: none;
}
.right-content .hot-activity.has_btn_wrap {
  margin-top: 112px;
}
.right-content .hot-activity .images-list li {
  text-align: center;
  padding: 12px 0;
}
.right-content .hot-activity .images-list li img {
  width: 264px;
  height: 165px;
  display: block;
  overflow: hidden;
  border-radius: 2px;
}
.right-content .hot-product .product-wrap li {
  padding: 16px 0;
}
.right-content .hot-product .product-wrap li .product-img {
  width: 132px;
  height: 98px;
  overflow: hidden;
}
.right-content .hot-product .product-wrap li .product-img img {
  width: 132px;
  height: 98px;
  border-radius: 2px;
}
.right-content .hot-product .product-wrap li .product-desc {
  width: 108px;
  margin-left: 16px;
}
.right-content .hot-product .product-wrap li .product-desc .prodtitle {
  color: #434343;
  font-size: 14px;
  margin-bottom: 12px;
}
.right-content .hot-product .product-wrap li .product-desc .num-wrap {
  color: #919191;
}
.right-content .hot-product .product-wrap li .product-desc .num-wrap .look-num {
  padding-left: 15px;
  padding-right: 3px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -58px;
}
.right-content .hot-product .product-wrap li .product-desc .num-wrap .like-num {
  padding-left: 18px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number_s.png) no-repeat 0 -87px;
}
.right-content .hot-product .product-wrap li .product-desc .num-wrap .num {
  opacity: 0.5;
}
.right-content .hot-read .read-list li {
  padding: 15px 0 18px 0;
}
.right-content .hot-read .read-list li .order {
  color: #3ebde0;
  font-size: 20px;
  position: relative;
  bottom: 7px;
  font-weight: bold;
  margin-right: 14px;
}
.right-content .hot-read .read-list li .read-wrap {
  width: 235px;
}
.right-content .hot-read .read-list li .read-wrap .readtitle {
  color: #434343;
}
.right-content .hot-read .read-list li .read-wrap .read-content {
  color: #919191;
  height: 40px;
  overflow: hidden;
  margin-top: 5px;
  position: relative;
}
.right-content .hot-read .read-list li .read-wrap .read-content img {
  width: 130px;
  height: 80px;
  float: left;
  margin-right: 2px;
}
.right-content .hot-read .read-list li .read-wrap .read-content .left-img:hover .mask {
  display: block;
}
.right-content .hot-read .read-list li .read-wrap .read-content .mask {
  width: 130px;
  height: 80px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7) url(http://static.idaiyan.cn/website/static/modules/home/images/icons/video-on.png) no-repeat center center;
}
.banner {
  width: 100%;
  height: 255px;
}
.banner.house-life {
  background: #2e2e2e url(http://static.idaiyan.cn/website/static/modules/home/images/temp/news-banner.jpg) no-repeat right center;
}
.banner.walk-position {
  background: #2e2e2e url(http://static.idaiyan.cn/website/static/modules/home/images/temp/walk-position.jpg) no-repeat right center;
}
.banner.mobile {
  background: #2e2e2e url(http://static.idaiyan.cn/website/static/modules/home/images/temp/mobile.jpg) no-repeat right center;
}
.banner.intelligence {
  background: #2e2e2e url(http://static.idaiyan.cn/website/static/modules/home/images/temp/intelligence.jpg) no-repeat right center;
}
.banner.health {
  background: #2e2e2e url(http://static.idaiyan.cn/website/static/modules/home/images/temp/health.jpg) no-repeat right center;
}
.banner.virtual {
  background: #2e2e2e url(http://static.idaiyan.cn/website/static/modules/home/images/temp/virtual.jpg) no-repeat right center;
}
.banner.food {
  background: #2e2e2e url(http://static.idaiyan.cn/website/static/modules/home/images/temp/food.jpg) no-repeat right center;
}
.banner.official {
  background: #2e2e2e url(http://static.idaiyan.cn/website/static/modules/home/images/temp/official.jpg) no-repeat right center;
}
.banner.experience {
  background: #2e2e2e url(http://static.idaiyan.cn/website/static/modules/home/images/temp/experience.jpg) no-repeat right center;
}
.banner.other {
  background: #2e2e2e url(http://static.idaiyan.cn/website/static/modules/home/images/temp/other.jpg) no-repeat right center;
}
.banner .banner-content {
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.banner .banner-content .banner-title {
  font-size: 32px;
  font-weight: bold;
  padding: 25px 0 10px 0;
}
.banner .banner-content .care {
  width: 60px;
  height: 32px;
  line-height: 34px;
  margin: auto;
}
.banner .banner-content .describe {
  padding: 12px 0 0 0;
}
.banner .banner-content .divide-line {
  width: 170px;
  margin: 10px auto 0;
}
.banner .banner-content .divide-line .divide-text {
  padding-left: 28px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/number.png) no-repeat 0 -211px;
}
.banner .banner-content .divide-line:before {
  display: inline-block;
  width: 30px;
  height: 1px;
  content: '';
  margin-right: 2px;
  vertical-align: middle;
  background-color: #fff;
}
.banner .banner-content .divide-line:after {
  display: inline-block;
  width: 30px;
  height: 1px;
  content: '';
  margin-left: 6px;
  vertical-align: middle;
  background-color: #fff;
}
.banner .banner-content .portrait {
  width: 325px;
  margin: 12px auto 0;
}
.banner .banner-content .portrait li {
  float: left;
  margin-right: 5px;
}
.banner .banner-content .portrait li:last-child {
  margin: 0;
}
.banner .banner-content .portrait li img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 25px;
}
