body {
  background-color: #ececec;
}
.Validform_checktip {
  display: none;
}
.orange {
  color: #ff8062;
}
.red {
  color: #ff4861;
}
.common_color {
  color: #434343;
}
.uc_address {
  width: 1000px;
  margin: 46px auto 0;
  font-weight: normal;
}
.uc_address .manage_addresses {
  width: 998px;
  margin: 0 auto;
  padding-bottom: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  border-bottom: none;
}
.nav {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #c6c6c6;
  border-radius: 3px 3px 0 0;
  background-color: #f9f9f9;
}
.nav h1 {
  float: left;
  margin-left: 74px;
  line-height: 68px;
  font-size: 24px;
  color: #919191;
  font-weight: normal;
}
.nav .add_address {
  position: relative;
  float: right;
  height: 100%;
  line-height: 68px;
  margin-right: 74px;
  padding-left: 48px;
  font-size: 18px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/add_address.png) 0 13px no-repeat;
  cursor: pointer;
}
.addresses {
  width: 850px;
  margin: 17px auto 0;
}
.addresses .alert {
  font-size: 14px;
  line-height: 14px;
}
.addresses .address_box {
  width: 100%;
  height: 148px;
  margin-top: 18px;
  border: 1px solid #e2e2e2;
  background-color: #fcfcfc;
  border-radius: 3px;
  position: relative;
}
.addresses .address_box .information {
  width: 760px;
  height: 96px;
  margin: 16px 0 0 16px;
  color: #6a6a6a;
  font-size: 12px;
}
.addresses .address_box .information .name_where {
  width: 100%;
  height: 33px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.addresses .address_box .information ul li {
  float: left;
  width: 380px;
  height: 21px;
}
.addresses .address_box .information ul li span {
  display: block;
  float: left;
  width: 62px;
  text-align: right;
  color: #c6c6c6;
}
.addresses .address_box .information ul li p {
  width: 316px;
  float: right;
  text-align: left;
}
.addresses .address_box .settings {
  float: right;
  height: 24px;
  text-align: justify;
}
.addresses .address_box .settings a {
  display: block;
  float: left;
  margin-right: 25px;
  height: 100%;
  line-height: 24px;
  text-align: center;
  color: #00a1d7;
}
.addresses .address_box .img-active {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  height: 56px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/default.png) no-repeat;
}
.addresses .address_box:hover,
.addresses .hover {
  background-color: #fff;
}
.addresses .address_box:hover .settings,
.addresses .hover .settings {
  display: block;
}
.addresses .Imgactive {
  border-color: #87c80a;
  background: #fff;
}
.addresses .Imgactive .settings .default {
  display: none;
}
.addresses .Imgactive .img-active {
  display: block;
}
.add_address_box {
  margin: 0 auto;
  width: 998px;
  height: 72px;
  border: 1px solid #c6c6c6;
  border-radius: 0 0 3px 3px;
  background-color: #f9f9f9;
}
.add_address_box .btn {
  margin: 12px 0 0 74px;
  width: 244px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
}
.none {
  display: none;
}
.gray-bg {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  opacity: .1;
  background: #000;
}
#address {
  padding-top: 24px;
}
.shoots .shoot-window {
  display: none;
  width: 800px;
  left: 50%;
  top: 50%;
  position: fixed;
  margin-left: -400px;
  margin-top: -280px;
  border: solid 1px #c6c6c6;
  background: #fff;
  border-radius: 3px;
  color: #434343;
  z-index: 10000;
}
.shoots .shoot-window .title-wrap {
  width: 100%;
  height: 52px;
  border-bottom: solid 1px #c6c6c6;
  background: #f9f9f9;
  border-radius: 3px 3px 0 0;
  margin-bottom: 28px;
}
.shoots .shoot-window .title-wrap .title {
  height: 52px;
  line-height: 52px;
  padding-left: 37px;
}
.shoots .shoot-window .title-wrap .close-btn {
  width: 30px;
  height: 30px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/close-btn.png) no-repeat center center;
  margin-right: 36px;
  margin-top: 12px;
  cursor: pointer;
}
.shoots .shoot-window .name-wrap {
  margin: 0 0 24px;
  line-height: 42px;
}
.shoots .shoot-window .name-wrap label {
  width: 116px;
  text-align: right;
  margin-right: 27px;
}
.shoots .shoot-window .name-wrap label i {
  color: #ff4861;
  padding-right: 4px;
}
.shoots .shoot-window .name-wrap label.margin-rn {
  margin-right: 0;
}
.shoots .shoot-window .name-wrap input {
  width: 248px;
  margin-right: 10px;
}
.shoots .shoot-window .name-wrap input.w70 {
  width: 70px;
  margin-right: 0;
}
.shoots .shoot-window .name-wrap input.w180 {
  width: 180px;
}
.shoots .shoot-window .name-wrap select {
  width: 150px;
}
.shoots .shoot-window .name-wrap select.zone {
  width: 170px;
}
.shoots .shoot-window .name-wrap .text {
  color: #c6c6c6;
}
.shoots .shoot-window .name-wrap .text-address {
  margin-right: 20px;
}
.shoots .shoot-window .name-wrap .text-tel {
  margin-right: 10px;
}
.shoots .shoot-window .name-wrap .line {
  color: #c6c6c6;
  width: 10px;
  text-align: center;
}
.shoots .shoot-window .bottom {
  margin-left: 140px;
}
.shoots .shoot-window .bottom .save {
  line-height: 37px;
  width: 250px;
  height: 37px;
  cursor: pointer;
  color: #fff;
  margin-right: 65px;
  margin-bottom: 28px;
}
#Validform_msg {
  display: none;
}
.Validform_right {
  display: none;
}
.errmsg {
  height: 20px;
  line-height: 20px;
  margin: -20px 0 0 140px;
  color: #ff8062;
}
.Validform_wrong {
  color: #ff8062;
  white-space: nowrap;
  display: block;
  clear: left;
  heigit: 20px;
  line-height: 20px;
  margin-left: 140px;
}
