/*!uc-leftmenu*/
body {
  min-height: 1351px;
}
.uc-leftmenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 170px;
  height: 100%;
  padding-top: 60px;
  background: #3a3a39;
}
.uc-leftmenu .uc_userinfo {
  padding: 48px 0 16px;
}
.uc-leftmenu .uc_userinfo .uc_avatar img {
  display: block;
  width: 80px;
  height: 80px;
  border: 2px solid #afafaf;
  border-radius: 40px;
  margin: 0 auto;
}
.uc-leftmenu .uc_userinfo .uc_nickname {
  height: 32px;
  font-size: 18px;
  text-align: center;
  line-height: 32px;
  color: #e2e2e2;
}
.uc-leftmenu .actives-menu {
  border-bottom: 1px solid #353534;
}
.uc-leftmenu .dots {
  display: none;
}
.uc-leftmenu .main-menu {
  margin-top: 60px;
  border-bottom: 1px solid #353534;
}
.uc-leftmenu .has-submenu {
  position: relative;
}
.uc-leftmenu .has-submenu a:after {
  content: " ";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 0;
  height: 0;
  border: 3px solid;
  border-color: transparent #b0b0b0 #b0b0b0 transparent;
}
.uc-leftmenu a {
  display: block;
  height: 60px;
  padding: 20px 0 0 20px;
  color: #c6c6c6;
  line-height: 20px;
  vertical-align: middle;
  border-top: 1px solid #353534;
}
.uc-leftmenu .has-submenu .sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 170px;
  padding-left: 12px;
}
.uc-leftmenu .has-submenu .sub-menu a {
  height: 40px;
  padding: 10px 0 0 0;
  text-align: center;
  border: none;
}
.uc-leftmenu .has-submenu .sub-menu a:after {
  border: none;
}
.uc-leftmenu .has-submenu .item-list {
  position: relative;
  width: 116px;
  padding: 13px 0;
  border-radius: 3px;
  background-color: #3a3a39;
}
.uc-leftmenu .has-submenu .item-list:after {
  content: " ";
  position: absolute;
  left: -20px;
  top: 20px;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent #3a3a39 transparent transparent;
}
.uc-leftmenu li a {
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -ms-transition: background 0.2s;
  transition: background 0.2s;
}
.uc-leftmenu li:hover a {
  color: #fff;
  border-color: #494947;
  background-color: #494947;
}
.uc-leftmenu li:hover .icon-new {
  background-position: -100px 0;
}
.uc-leftmenu li:hover .icon-seachfriend {
  background-position: -120px 0;
}
.uc-leftmenu li:hover .icon-sendmessage {
  background-position: -140px 0;
}
.uc-leftmenu li:hover .icon-follow {
  background-position: -160px 0;
}
.uc-leftmenu li:hover .icon-quote {
  background-position: -180px 0;
}
.uc-leftmenu li:hover .icon-product {
  background-position: -100px -20px;
}
.uc-leftmenu li:hover .icon-order {
  background-position: -120px -20px;
}
.uc-leftmenu li:hover .icon-set {
  background-position: -140px -20px;
}
.uc-leftmenu li:hover .icon-account {
  background-position: -160px -20px;
}
.uc-leftmenu li:hover .icon-message {
  background-position: -180px -20px;
}
.uc-leftmenu li:hover .icon-myfollow {
  background-position: -100px -40px;
}
.uc-leftmenu li:hover .icon-video {
  background-position: -120px -40px;
}
.uc-leftmenu li:hover .icon-media {
  background-position: -140px -40px;
}
.uc-leftmenu li:hover .icon-task {
  background-position: -160px -40px;
}
.uc-leftmenu .has-submenu:hover a:after {
  border-color: transparent #fff #fff transparent;
}
.uc-leftmenu .has-submenu:hover .sub-menu {
  display: block;
}
.uc-leftmenu .has-submenu:hover .sub-menu a {
  color: #c6c6c6;
  background-color: #3a3a39;
  border-color: #353534;
}
.uc-leftmenu .has-submenu:hover li:hover a {
  color: #fff;
  background-color: #494947;
}
.uc-leftmenu .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  vertical-align: middle;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/uc_menu.png) no-repeat 0 0;
}
.uc-leftmenu .icon-new {
  background-position: 0 0;
}
.uc-leftmenu .icon-seachfriend {
  background-position: -20px 0;
}
.uc-leftmenu .icon-sendmessage {
  background-position: -40px 0;
}
.uc-leftmenu .icon-follow {
  background-position: -60px 0;
}
.uc-leftmenu .icon-quote {
  background-position: -80px 0;
}
.uc-leftmenu .icon-product {
  background-position: 0 -20px;
}
.uc-leftmenu .icon-order {
  background-position: -20px -20px;
}
.uc-leftmenu .icon-set {
  background-position: -40px -20px;
}
.uc-leftmenu .icon-account {
  background-position: -60px -20px;
}
.uc-leftmenu .icon-message {
  background-position: -80px -20px;
}
.uc-leftmenu .icon-myfollow {
  background-position: 0 -40px;
}
.uc-leftmenu .icon-video {
  background-position: -20px -40px;
}
.uc-leftmenu .icon-media {
  background-position: -40px -40px;
}
.uc-leftmenu .icon-task {
  background-position: -60px -40px;
}
.uc-leftmenu.small {
  width: 60px;
}
.uc-leftmenu.small .actives-menu-wrap .dots {
  display: block;
  padding: 0;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}
.uc-leftmenu.small .actives-menu-wrap:hover {
  color: #fff;
  background: #494947;
}
.uc-leftmenu.small .uc_userinfo {
  padding: 48px 0 16px;
}
.uc-leftmenu.small .uc_userinfo .uc_avatar img {
  width: 46px;
  height: 46px;
  border-radius: 25px;
}
.uc-leftmenu.small .uc_userinfo .uc_nickname {
  display: none;
}
.uc-leftmenu.small li a {
  height: 60px;
  overflow: hidden;
  padding: 0;
}
.uc-leftmenu.small .actives-menu {
  border: 0;
}
.uc-leftmenu.small .actives-menu li .icon-wrap {
  display: none;
}
.uc-leftmenu.small .actives-menu li .text {
  height: 20px;
  line-height: 20px;
  font-size: 13px;
}
.uc-leftmenu.small .icon-wrap {
  display: block;
  height: 60px;
  padding: 20px;
}
.uc-leftmenu.small .icon {
  display: block;
  margin: 0 auto;
}
.uc-leftmenu.small .text {
  display: block;
  height: 60px;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
}
.uc-leftmenu.small .has-submenu .sub-menu {
  left: 60px;
}
.uc-leftmenu .menu-control {
  width: 100%;
  position: absolute;
  bottom: 42px;
}
.uc-leftmenu .menu-control a {
  padding: 0;
  text-align: center;
  line-height: 60px;
}
.uc-leftmenu .menu-control:hover a {
  color: #fff;
  background: #494947;
}
