body {
  background: #F8F8F8;
}
.Validform_wrong {
  color: #ff8062;
}
.Validform_right {
  display: none;
}
.regist_wrap {
  font-size: 15px;
  width: 600px;
  margin: auto;
}
.regist_wrap .header {
  height: 160px;
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
}
.regist_wrap .header .title {
  font-size: 36px;
  color: #434343;
  line-height: 50px;
  font-weight: lighter;
}
.regist_wrap .header .subtitle {
  font-size: 13px;
  color: #919191;
  width: 490px;
  margin: 5px auto;
}
.regist_wrap .header .sub_title {
  color: #919191;
  font-size: 16px;
  line-height: 44px;
}
.regist_wrap .header .sub_title a:hover {
  text-decoration: underline;
}
.regist_wrap .header .underline {
  color: #6a6a6a;
}
.regist_wrap .pass_head .sub_title {
  font-size: 13px;
  width: 375px;
  line-height: 20px;
  margin: 10px auto;
}
.regist_wrap .regist_form {
  width: 600px;
  margin-left: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
}
.regist_wrap .regist_form .regist_left {
  position: relative;
  padding-top: 15px;
  width: 285px;
  height: 335px;
  text-align: left;
}
.regist_wrap .regist_form .regist_left .formitem {
  display: block;
  width: 240px;
  height: 42px;
  border-radius: 3px;
  margin-bottom: 15px;
  line-height: 40px;
  cursor: pointer;
  padding-left: 70px;
  background: #fff;
}
.regist_wrap .regist_form .regist_left .mcromsg {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/tplogin.png) 10px 0 no-repeat #ffffff;
  border: 1px solid #87c80a;
  color: #87c80a;
}
.regist_wrap .regist_form .regist_left .mcromsg:hover {
  color: #fff;
  background-color: #69c41f;
  background-position: 10px -120px;
}
.regist_wrap .regist_form .regist_left .weibo {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/tplogin.png) 10px -40px no-repeat #ffffff;
  border: 1px solid #fc605c;
  color: #fc605c;
}
.regist_wrap .regist_form .regist_left .weibo:hover {
  color: #fff;
  background-color: #fc605c;
  background-position: 10px -160px;
}
.regist_wrap .regist_form .regist_left .qq {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/tplogin.png) 10px -80px no-repeat #ffffff;
  border: 1px solid #12b6eb;
  color: #12b6eb;
}
.regist_wrap .regist_form .regist_left .qq:hover {
  color: #fff;
  background-color: #12b6eb;
  background-position: 10px -200px;
}
.regist_wrap .regist_form .regist_left .text {
  width: 240px;
  color: #c6c6c6;
  font-size: 12px;
  margin-top: -10px;
}
.regist_wrap .regist_form .regist_right {
  position: relative;
  width: 305px;
  padding-left: 44px;
  color: #c6c6c6;
  font-size: 13px;
  padding-top: 15px;
  border-left: 1px solid #e2e2e2;
}
.regist_wrap .regist_form .regist_right .formitem {
  margin-bottom: 10px;
}
.regist_wrap .regist_form .regist_right .formitem input {
  width: 260px;
  height: 42px;
  color: #6a6a6a;
  padding-left: 10px;
  border: 1px solid #c6c6c6;
}
.regist_wrap .regist_form .regist_right .formitem input:focus {
  background-color: #f2fafd;
  border-color: #00a1d7;
}
.regist_wrap .regist_form .regist_right .number input {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icon.png) no-repeat 230px 6px #ffffff;
}
.regist_wrap .regist_form .regist_right .pass input {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icon.png) no-repeat 230px -48px #ffffff;
}
.regist_wrap .regist_form .regist_right .rewrite input {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icon.png) no-repeat 230px -48px #ffffff;
}
.regist_wrap .regist_form .regist_right .notice {
  position: relative;
  color: #3c4452;
}
.regist_wrap .regist_form .regist_right .notice a {
  position: absolute;
  top: -2px;
  right: -4px;
}
.regist_wrap .regist_form .regist_right .notice a:hover {
  text-decoration: underline;
}
.regist_wrap .regist_form .regist_right .notice label {
  position: absolute;
  top: 0;
  left: 25px;
}
.regist_wrap .regist_form .regist_right .notice input {
  width: 20px;
  height: 20px;
  background-color: #fff;
  color: #123ade;
}
.regist_wrap .regist_form .regist_right .puretxt {
  font-size: 12px;
}
.regist_wrap .regist_form .regist_right .sign {
  width: 260px;
  height: 42px;
  text-align: center;
  color: #fff;
  line-height: 42px;
  font-size: 16px;
}
.regist_wrap .regist_form .regist_right .check input {
  width: 130px;
  float: left;
}
.regist_wrap .regist_form .regist_right .check .checkcode {
  display: inline-block;
  width: 120px;
  height: 42px;
  margin-left: 10px;
}
.regist_wrap .regist_form .regist_right .or {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  z-index: 2;
  height: 40px;
  width: 29px;
  text-align: center;
  margin: auto;
  line-height: 40px;
  color: #c6c6c6;
  background: #f8f8f8;
}
.regist_wrap .regist_form .password {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 250px;
  border: 0;
  width: 260px;
  left: -15px;
}
.regist_wrap .regist_form .rewrite input {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icon.png) no-repeat 230px -48px;
}
.regist_wrap .regist_form .notice {
  position: relative;
  color: #3c4452;
}
.regist_wrap .regist_form .notice a {
  position: absolute;
  top: -2px;
  right: -4px;
}
.regist_wrap .regist_form .notice a:hover {
  text-decoration: underline;
}
.regist_wrap .regist_form .notice label {
  position: absolute;
  top: -2px;
  left: 25px;
}
.regist_wrap .regist_form .notice input {
  width: 20px;
  height: 20px;
  background-color: #fff;
  color: #123ade;
}
.regist_wrap .regist_form .sign {
  width: 260px;
  height: 42px;
  text-align: center;
  color: #fff;
  line-height: 42px;
  font-size: 16px;
}
.regist_wrap .regist_form .check input {
  width: 130px;
  float: left;
}
.regist_wrap .regist_form .check .checkcode {
  display: inline-block;
  width: 120px;
  height: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  margin-left: 10px;
  overflow: hidden;
}
.regist_wrap .regist_form .login {
  height: 290px;
  margin-bottom: 160px;
}
.regist_wrap .regist_form .password {
  margin: 0 auto;
  margin-bottom: 250px;
}
.regist_wrap .complete1 .regist_left {
  position: relative;
}
.regist_wrap .complete1 .regist_left .pre_text {
  text-align: center;
  color: #919191;
  font-size: 16px;
  width: 240px;
}
.regist_wrap .complete1 .regist_left .text {
  margin-top: 5px;
  width: 240px;
}
.regist_wrap .complete1 .regist_left .portrait {
  width: 240px;
  text-align: center;
}
.regist_wrap .complete1 .regist_left .portrait .avatar {
  width: 62px;
  height: 62px;
  border-radius: 31px;
}
.regist_wrap .complete1 .regist_left .three_icon {
  width: 240px;
  height: 30px;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
}
.regist_wrap .complete1 .regist_left .three_icon a {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 15px;
  border: 1px solid #cbcbcb;
  margin: 0 5px -25px;
}
.regist_wrap .complete1 .regist_left .three_icon a.qq_icon {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/miniqq.png) no-repeat 0 -1px #ffffff;
}
.regist_wrap .complete1 .regist_left .three_icon a.qq_icon:hover {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/miniqq.png) no-repeat -90px -2px #ffffff;
  border-color: #12b6eb;
}
.regist_wrap .complete1 .regist_left .three_icon a.msg_icon {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/miniqq.png) no-repeat -30px 0 #ffffff;
}
.regist_wrap .complete1 .regist_left .three_icon a.msg_icon:hover {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/miniqq.png) no-repeat -119px 0 #ffffff;
  border-color: #6bc423;
}
.regist_wrap .complete1 .regist_left .three_icon a.weibo_icon {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/miniqq.png) no-repeat -60px -1px #ffffff;
}
.regist_wrap .complete1 .regist_left .three_icon a.weibo_icon:hover {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/miniqq.png) no-repeat -150px -1px #ffffff;
  border-color: #FC605C;
}
.regist_wrap .complete1 .regist_right .sign {
  margin-top: 25px;
}
.regist_wrap .complete1 .regist_right .puretxt {
  color: #919191;
  font-size: 12px;
}
.regist_wrap .complete1 .regist_right .puretxt span {
  color: #7d879b;
  font-size: 14px;
  font-weight: bold;
}
.regist_wrap .complete2 .regist_left .sign {
  margin-top: 5px;
}
.regist_wrap .complete2 .regist_left .com2 {
  color: #c6c6c6;
}
.regist_wrap .complete2 .regist_left .text {
  border-bottom: none;
  padding-bottom: 18px;
}
.regist_wrap #reset_form .puretxt {
  color: #919191;
  font-size: 15px;
}
.regist_wrap #reset_form .puretxt span {
  letter-spacing: 1.1px;
  color: #434343;
  font-size: 19px;
}
.regist_wrap #reset_form .puretxt a {
  padding-top: 4px;
}
.regist_wrap #reset_form .Validform_checktip {
  display: block;
  clear: left;
}
.regist_wrap #reset_form .checkcode {
  border: none;
  height: 40px;
}
.forget {
  width: 600px;
  height: 260px;
  margin: 60px auto;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  color: #919191;
  background: #fff;
}
.forget .btn {
  line-height: 44px;
  margin-top: 30px;
  padding-left: 130px;
  font-size: 16px;
}
.forget .btn a {
  width: 110px;
  height: 44px;
  line-height: 44px;
}
.forget .forget_wrap {
  text-align: left;
  padding: 30px 50px 0 50px;
}
.forget .forget_wrap .hello {
  font-size: 18px;
}
.forget .forget_wrap .txt2 {
  line-height: 40px;
}
.forget .forget_wrap .back {
  margin-right: 25px;
}
.forget .success_wrap {
  text-align: center;
  padding-top: 40px;
}
.forget .success_wrap .btn {
  padding-left: 220px;
}
.forget .success_wrap .btn .login {
  width: 160px;
  height: 44px;
}
.forget .success_wrap .hello {
  font-size: 30px;
  line-height: 70px;
}
.forget .success_wrap .txt1 span {
  color: #ff7300;
}
