body {
  color: #d7ecb1;
}
body a {
  color: #d7ecb1;
}
.sharepic {
  display: none;
}
.swiper-container {
  position: relative;
  z-index: 12;
}
/* background */
.anim-bg-width {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 640px;
  height: 100%;
}
.anim-bg {
  position: absolute;
  top: -700px;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  width: 2000px;
  height: 2000px;
  margin-left: -1000px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 500s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  background: #000000 url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/body-bg.jpg);
  background-size: 2000px 2000px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.swiper-slide {
  overflow: visible;
  color: #fff;
  background: transparent;
}
/* cover */
.slide-cover .ui-center-space {
  height: 10%;
}
.slide-cover .ui-center-smallspace {
  height: 5%;
}
.slide-cover .ui-logos {
  width: 100%;
  height: 84px;
}
.slide-cover .ui-logos .ui-logo-left {
  float: left;
  width: 160px;
  height: 84px;
  margin-left: 45px;
  -webkit-animation: bounceIn .3s linear 0 1;
  -moz-animation: bounceIn .3s linear 0 1;
  -ms-animation: bounceIn .3s linear 0 1;
  animation: bounceIn .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/cover1.png) no-repeat -40px 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-cover .ui-logos .ui-logo-right {
  float: right;
  width: 140px;
  height: 50px;
  margin-right: 45px;
  -webkit-animation: bounceIn .3s linear 0 1;
  -moz-animation: bounceIn .3s linear 0 1;
  -ms-animation: bounceIn .3s linear 0 1;
  animation: bounceIn .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/cover1.png) no-repeat -450px 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-cover .ui-main-image {
  position: relative;
  width: 100%;
  height: 603px;
  -webkit-animation: bounceIn .3s linear 0 1;
  -moz-animation: bounceIn .3s linear 0 1;
  -ms-animation: bounceIn .3s linear 0 1;
  animation: bounceIn .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/cover1.png) no-repeat center -85px;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-cover .ui-main-recruit {
  position: absolute;
  top: 70%;
  width: 100%;
  height: 45px;
  -webkit-animation: bounceIn .3s linear 0 1;
  -moz-animation: bounceIn .3s linear 0 1;
  -ms-animation: bounceIn .3s linear 0 1;
  animation: bounceIn .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/2015.png) no-repeat center top;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-cover .ui-swiper-tip {
  font-size: 24px;
  line-height: 1.2;
  bottom: 10%;
  width: 30px;
  -webkit-animation: fadeInUp .3s linear 0 1;
  -moz-animation: fadeInUp .3s linear 0 1;
  -ms-animation: fadeInUp .3s linear 0 1;
  animation: fadeInUp .3s linear 0 1;
  opacity: 0;
  color: #c8d594;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* product */
.slide-product .ui-top-largerspace {
  height: 10%;
}
.slide-product .ui-center-man {
  height: 413px;
  -webkit-animation: lightSpeedInUp .3s linear 0 1;
  -moz-animation: lightSpeedInUp .3s linear 0 1;
  -ms-animation: lightSpeedInUp .3s linear 0 1;
  animation: lightSpeedInUp .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/spin-man.png) center no-repeat;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-product .ui-center-space {
  height: 10%;
}
.slide-product .ui-bottom-text {
  font-size: 30px;
  color: #d7ecb1;
  line-height: 1.5;
  text-align: center;
  height: 150px;
  -webkit-animation: moveInLeft .5s linear .5s 1;
  -moz-animation: moveInLeft .5s linear .5s 1;
  -ms-animation: moveInLeft .5s linear .5s 1;
  animation: moveInLeft .5s linear .5s 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/*product1*/
.slide-product1 .ui-top-largerspace {
  height: 10%;
}
.slide-product1 .ui-center-man {
  height: 413px;
  -webkit-animation: lightSpeedInUp .3s linear 0 1;
  -moz-animation: lightSpeedInUp .3s linear 0 1;
  -ms-animation: lightSpeedInUp .3s linear 0 1;
  animation: lightSpeedInUp .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/php.png) center no-repeat;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-product1 .ui-center-space {
  height: 5%;
}
.slide-product1 .ui-bottom-text {
  font-size: 30px;
  color: #d7ecb1;
  line-height: 1.5;
  text-align: left;
  height: 150px;
  padding-left: 80px;
  -webkit-animation: moveInLeft .5s linear .5s 1;
  -moz-animation: moveInLeft .5s linear .5s 1;
  -ms-animation: moveInLeft .5s linear .5s 1;
  animation: moveInLeft .5s linear .5s 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-product1 .ui-bottom-text ul {
  list-style-type: disc;
}
.slide-product1 .ui-bottom-text li {
  font-size: 24px;
  margin-top: 20px;
}
/*product2*/
.slide-product2 .ui-top-largerspace {
  height: 10%;
}
.slide-product2 .ui-center-man {
  height: 413px;
  -webkit-animation: lightSpeedInUp .3s linear 0 1;
  -moz-animation: lightSpeedInUp .3s linear 0 1;
  -ms-animation: lightSpeedInUp .3s linear 0 1;
  animation: lightSpeedInUp .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/fe.png) center no-repeat;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-product2 .ui-center-space {
  height: 5%;
}
.slide-product2 .ui-bottom-text {
  font-size: 30px;
  color: #d7ecb1;
  line-height: 1.5;
  text-align: left;
  height: 150px;
  padding-left: 80px;
  -webkit-animation: moveInLeft .5s linear .5s 1;
  -moz-animation: moveInLeft .5s linear .5s 1;
  -ms-animation: moveInLeft .5s linear .5s 1;
  animation: moveInLeft .5s linear .5s 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-product2 .ui-bottom-text ul {
  list-style-type: disc;
}
.slide-product2 .ui-bottom-text li {
  font-size: 24px;
  margin-top: 20px;
}
/*product3*/
.slide-product3 .ui-top-largerspace {
  height: 10%;
}
.slide-product3 .ui-center-man {
  height: 413px;
  -webkit-animation: lightSpeedInUp .3s linear 0 1;
  -moz-animation: lightSpeedInUp .3s linear 0 1;
  -ms-animation: lightSpeedInUp .3s linear 0 1;
  animation: lightSpeedInUp .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/ui.png) center no-repeat;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-product3 .ui-center-space {
  height: 5%;
}
.slide-product3 .ui-bottom-text {
  font-size: 30px;
  color: #d7ecb1;
  line-height: 1.5;
  text-align: left;
  height: 150px;
  padding-left: 80px;
  -webkit-animation: moveInLeft .5s linear .5s 1;
  -moz-animation: moveInLeft .5s linear .5s 1;
  -ms-animation: moveInLeft .5s linear .5s 1;
  animation: moveInLeft .5s linear .5s 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-product3 .ui-bottom-text ul {
  list-style-type: disc;
}
.slide-product3 .ui-bottom-text li {
  font-size: 24px;
  margin-top: 20px;
}
/* ceo */
.slide-ceo .ui-top-space {
  height: 10%;
}
.slide-ceo .ui-top-image {
  position: relative;
  z-index: 2;
  height: 383px;
  -webkit-animation: flashIn .3s linear 0 1;
  -moz-animation: flashIn .3s linear 0 1;
  -ms-animation: flashIn .3s linear 0 1;
  animation: flashIn .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/team.png) center no-repeat;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-ceo .ui-center-space {
  height: 7%;
}
.slide-ceo .ui-center-text {
  font-size: 30px;
  color: #d7ecb1;
  line-height: 1.5;
  text-align: center;
  z-index: 2;
  height: 71px;
  -webkit-animation: bounceIn .3s linear .5s 1;
  -moz-animation: bounceIn .3s linear .5s 1;
  -ms-animation: bounceIn .3s linear .5s 1;
  animation: bounceIn .3s linear .5s 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-ceo .ui-center-smallspace {
  height: 3%;
}
.slide-ceo .ui-team-group {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 79px;
}
.slide-ceo .ui-team-group .ui-team-idy {
  float: left;
  width: 126px;
  height: 79px;
  margin-left: 51px;
  -webkit-animation: bounceIn .3s linear 1s 1;
  -moz-animation: bounceIn .3s linear 1s 1;
  -ms-animation: bounceIn .3s linear 1s 1;
  animation: bounceIn .3s linear 1s 1;
  opacity: 0;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/team-group.png) no-repeat 0 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-ceo .ui-team-group .ui-team-tauren {
  float: left;
  width: 70px;
  height: 79px;
  margin-left: 54px;
  -webkit-animation: bounceIn .3s linear 1s 1;
  -moz-animation: bounceIn .3s linear 1s 1;
  -ms-animation: bounceIn .3s linear 1s 1;
  animation: bounceIn .3s linear 1s 1;
  opacity: 0;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/team-group.png) no-repeat -180px 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-ceo .ui-team-group .ui-team-darkhorse {
  float: left;
  width: 70px;
  height: 79px;
  margin-left: 57px;
  -webkit-animation: bounceIn .3s linear 1s 1;
  -moz-animation: bounceIn .3s linear 1s 1;
  -ms-animation: bounceIn .3s linear 1s 1;
  animation: bounceIn .3s linear 1s 1;
  opacity: 0;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/team-group.png) no-repeat -297px 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-ceo .ui-team-group .ui-team-mentor {
  float: left;
  width: 113px;
  height: 79px;
  margin-left: 50px;
  -webkit-animation: bounceIn .3s linear 1s 1;
  -moz-animation: bounceIn .3s linear 1s 1;
  -ms-animation: bounceIn .3s linear 1s 1;
  animation: bounceIn .3s linear 1s 1;
  opacity: 0;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/team-group.png) no-repeat 100% 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-ceo .ui-team-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 288px;
  -webkit-animation: fadeInUp .3s linear .8s 1;
  -moz-animation: fadeInUp .3s linear .8s 1;
  -ms-animation: fadeInUp .3s linear .8s 1;
  animation: fadeInUp .3s linear .8s 1;
  opacity: 0;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/team-bg.png) no-repeat 100% 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* intro */
.slide-intro .ui-top-space {
  height: 16%;
}
.slide-intro .ui-top-image {
  height: 324px;
  -webkit-animation: bounceIn .3s linear 0 1;
  -moz-animation: bounceIn .3s linear 0 1;
  -ms-animation: bounceIn .3s linear 0 1;
  animation: bounceIn .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/welfare.png) center no-repeat;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-intro .ui-center-space {
  height: 18%;
}
.slide-intro .ui-center-text {
  font-size: 30px;
  color: #d7ecb1;
  line-height: 1.5;
  text-align: center;
  height: 110px;
  -webkit-animation: moveInLeft .3s linear .5s 1;
  -moz-animation: moveInLeft .3s linear .5s 1;
  -ms-animation: moveInLeft .3s linear .5s 1;
  animation: moveInLeft .3s linear .5s 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* total */
.slide-total .ui-top-space {
  height: 5%;
}
.slide-total .ui-center-space {
  height: 3%;
}
.slide-total .ui-bottom-space {
  height: 3%;
}
.slide-total .ui-top-image {
  height: 443px;
  -webkit-animation: bounceIn .3s linear 0 1;
  -moz-animation: bounceIn .3s linear 0 1;
  -ms-animation: bounceIn .3s linear 0 1;
  animation: bounceIn .3s linear 0 1;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/speed.png) no-repeat center;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-total .ui-center-text {
  font-size: 24px;
  color: #d7ecb1;
  line-height: 2;
  text-align: center;
  height: 96px;
  -webkit-animation: bounceIn .3s linear .5s 1;
  -moz-animation: bounceIn .3s linear .5s 1;
  -ms-animation: bounceIn .3s linear .5s 1;
  animation: bounceIn .3s linear .5s 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-total .ui-center-text2 {
  font-size: 18px;
  color: #d7ecb1;
  line-height: 2;
  text-align: center;
  height: 50px;
  -webkit-animation: bounceIn .3s linear .5s 1;
  -moz-animation: bounceIn .3s linear .5s 1;
  -ms-animation: bounceIn .3s linear .5s 1;
  animation: bounceIn .3s linear .5s 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-total .ui-contact-us-text {
  height: 22px;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/speed-text.png) no-repeat center;
  -webkit-animation: bounceIn .3s linear .5s 1;
  -moz-animation: bounceIn .3s linear .5s 1;
  -ms-animation: bounceIn .3s linear .5s 1;
  animation: bounceIn .3s linear .5s 1;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slide-total .ui-bottom-btn {
  display: block;
  height: 92px;
  -webkit-animation: bounceIn .3s linear .8s 1;
  -moz-animation: bounceIn .3s linear .8s 1;
  -ms-animation: bounceIn .3s linear .8s 1;
  animation: bounceIn .3s linear .8s 1;
  opacity: 0;
  background: url(http://static.idaiyan.cn/special/h5_20150308_zhaopin/img/speed-btn.png) no-repeat center;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
