body {
  width: auto;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  font-family: "Adobe 黑体 Std R";
}
ul,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.apply-btn {
  display: block;
  width: 235px;
  height: 70px;
  margin: 482px auto 0;
  text-indent: -9999px;
}
.rightnav {
  position: fixed;
  z-index: 20;
  top: 29.64%;
  right: 150px;
  height: 80%;
  font-family: "FZLTHK GBK10";
}
.rightnav ul {
  height: 326px;
  width: 4px;
  padding-top: 29px;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/nav-line.jpg) repeat-y 3px 0;
  background-size: 1px 422px;
}
.rightnav li {
  position: relative;
  height: 19.5%;
}
.rightnav a {
  position: relative;
  font-size: 16px;
  line-height: 15px;
  display: inline-block;
  display: block;
  width: 9px;
  height: 32px;
  margin-right: -5px;
  color: #7c7c7c;
  background: #dedede;
}
.rightnav a .text {
  position: absolute;
  right: -119px;
  width: 110px;
  margin-top: 10px;
  padding-right: 5px;
  text-align: left;
}
.rightnav a:hover {
  opacity: 1;
  color: #009bf0;
  background: #009bf0;
  width: 9px;
  height: 32px;
}
.nav01 {
  width: 100%;
  height: 40px;
  background-color: #292929;
  color: #fff;
}
.nav01 .nav01-center {
  width: 1060px;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
}
.nav01 .nav01-center a {
  float: right;
  display: block;
  width: 80px;
  line-height: 40px;
}
.nav01 .nav01-center .text {
  float: left;
  padding-left: 20px;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/text.jpg) 0 10px no-repeat;
}
.nav01 .nav01-center .wave {
  float: right;
  width: 50px;
  height: 40px;
  border: 1px solid #1e1e1e;
  border-top: none;
  border-bottom: none;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/wave.jpg) center center no-repeat;
}
.nav01 .nav01-center .log-reg {
  width: 32px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav02 {
  width: 100%;
  height: 70px;
  background-color: #126eb8;
}
.nav02 .nav02-center {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/iheima-logo.png) no-repeat;
}
.nav02 .nav02-center ul {
  display: inline-block;
  width: 540px;
  height: 100%;
  margin-left: 278px;
}
.nav02 .nav02-center ul li {
  float: left;
  width: 80px;
}
.nav02 .nav02-center ul li a {
  display: block;
  line-height: 30px;
  margin-top: 25px;
  text-align: center;
}
.nav02 .nav02-center ul li a:hover {
  background-color: #fff;
  color: #126eb8;
}
.nav02 .nav02-center .search-bar {
  float: right;
  width: 310px;
  height: 40px;
}
.nav02 .nav02-center .search-bar form {
  width: 310px;
  height: 40px;
  margin-top: 15px;
  border: 1px solid #0c61a8;
  border-radius: 4px;
}
.nav02 .nav02-center .search-bar form input {
  float: left;
  padding: 0 0 0 10px;
  height: 40px;
  background-color: #0e65ad;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 16px;
  color: #009bf0;
}
.banner {
  width: 100%;
  height: 650px;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/banner.jpg) center center no-repeat;
}
.take-the-lead-first {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
}
.take-the-lead-first .block1 {
  width: 100%;
  height: 1062px;
}
.take-the-lead-first .block2 {
  width: 100%;
  height: 680px;
  background-color: #009bf0;
}
.take-the-lead-first .block3 {
  width: 100%;
  height: 770px;
  background-color: #fff;
}
.take-the-lead-first .block4 {
  width: 100%;
  height: 930px;
  background-color: #2c91d5;
}
.main-content {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  width: 1226px;
  height: auto;
  margin: auto;
}
.main-content .leaders {
  position: relative;
  width: 1190px;
  height: 457px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}
.main-content .leaders .title {
  width: 100%;
  height: 120px;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/leader-title.jpg) no-repeat;
}
.main-content .leaders .scroll-box {
  position: relative;
  width: 1050px;
  height: 283px;
  margin: 16px auto 0;
}
.main-content .leaders .scroll-box .arrow-box .arrow {
  width: 24px;
  height: 46px;
  margin: auto;
  cursor: pointer;
}
.main-content .leaders .scroll-box .arrow-box .left-arrow {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/left-arrow.jpg) 0 center no-repeat;
}
.main-content .leaders .scroll-box .arrow-box .right-arrow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/right-arrow.jpg) 0 center no-repeat;
}
.main-content .leaders .scroll-box .scroll {
  position: relative;
  float: left;
  width: 984px;
  height: 100%;
  margin-left: 30px;
  overflow: hidden;
}
.main-content .leaders .scroll-box .scroll ul {
  position: absolute;
  left: -246px;
  width: 2880px;
  height: 100%;
}
.main-content .leaders .scroll-box .scroll ul li {
  float: left;
  width: 192px;
  height: 100%;
  padding: 0 27px;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/dash-box.png) 29px 0 no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .pic {
  width: 162px;
  height: 182px;
  margin: 14px auto 0;
}
.main-content .leaders .scroll-box .scroll ul li .leader-titles {
  width: 162px;
  height: 36px;
  margin: 9px auto;
  font-family: "FZLTHK GBK10";
}
.main-content .leaders .scroll-box .scroll ul li .leader-titles p {
  line-height: 18px;
  font-size: 14px;
  color: #009bf0;
}
.main-content .leaders .scroll-box .scroll ul li .name {
  width: auto;
  height: 29px;
  line-height: 29px;
  text-align: center;
  margin: 0 auto 10px;
  font-size: 18px;
  color: #606060;
}
.main-content .leaders .scroll-box .scroll ul li .photo01 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/yy.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo02 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/wxb.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo03 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/chenlong.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo04 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/nww.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo05 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/lgz.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo06 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/qxf.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo07 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/chenlin.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo08 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/hxy.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo09 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/zsy.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo10 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/xzw.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo11 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/fc.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo12 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/chenliang.jpg) no-repeat;
}
.main-content .leaders .scroll-box .scroll ul li .photo13 {
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/zgb.jpg) no-repeat;
}
.main-content .project {
  width: 100%;
  height: 671px;
  overflow: hidden;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/project.jpg) 0 center no-repeat;
}
.main-content .experience {
  width: 100%;
  height: 554px;
  overflow: hidden;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/experience.jpg) 0 center no-repeat;
}
.main-content .introduction {
  width: 100%;
  height: 894px;
  overflow: hidden;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/introduction.jpg) 0 center no-repeat;
}
.main-content .friends {
  width: 100%;
  height: 693px;
  overflow: hidden;
  background: url(http://static.idaiyan.cn/special/web_20150417_dangxian/image/friends.jpg) 0 center no-repeat;
}
