footer {
  margin: 20px 0 0;
  height: 42px;
  background: #282828;
  line-height: 42px;
  color: #6a6a6a;
}
footer .copy {
  font-family: "Helvetica Neue";
  text-align: center;
}
footer .foot-info {
  margin: auto;
  margin-right: 125px;
}
footer .foot-info li {
  float: left;
  padding: 0 7px;
}
footer .foot-info li a {
  color: #c6c6c6;
}
footer .foot-info li a:hover {
  color: #fff;
}
