.founder_wrap .filterbox .filteritems {
  padding: 0;
}
.founder_wrap .filterbox li {
  border-top: none;
}
.founder_wrap #filter {
  height: 90px;
  padding-top: 30px;
}
.founder_wrap .founditem {
  margin-top: -1px;
  padding: 20px 15px;
  border: 1px solid #e2e2e2;
  background: #fff;
}
.founder_wrap .founditem:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 0 1px #e2e2e2;
  z-index: 10;
  position: relative;
}
.founder_wrap .founditem img {
  display: block;
}
.founder_wrap .founditem .portrait {
  float: left;
  margin-right: 10px;
}
.founder_wrap .founditem .portrait img {
  width: 110px;
  height: 110px;
}
.founder_wrap .founditem .foundinfo {
  float: left;
  margin-right: 10px;
  padding: 5px 0;
  width: 230px;
}
.founder_wrap .founditem .foundinfo h3 {
  font-size: 20px;
  height: 24px;
  font-weight: 400;
  line-height: 1;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.founder_wrap .founditem .foundinfo h3 a {
  color: #434343;
}
.founder_wrap .founditem .foundinfo .place {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/home/place.png) no-repeat 0 6px;
  color: #919191;
  font-size: 14px;
  padding: 3px 0 3px 12px;
  text-overflow: ellipsis;
}
.founder_wrap .founditem .foundinfo .number {
  margin-bottom: 8px;
}
.founder_wrap .founditem .foundinfo .number .people {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/user_number_s.png) no-repeat 0 3px;
  margin-right: 10px;
  padding-left: 20px;
}
.founder_wrap .founditem .foundinfo .number .like {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/user_number_s.png) no-repeat 0 -15px;
  padding-left: 20px;
}
.founder_wrap .founditem .foundinfo .contact div {
  width: 24px;
  height: 24px;
}
.founder_wrap .founditem .foundinfo .contact .email {
  display: none;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/home/email.png) no-repeat 0 1px;
}
.founder_wrap .founditem .foundinfo .contact .email:hover {
  background-position: 0 -26px;
}
.founder_wrap .founditem .foundinfo .contact .email.followed {
  background-position: 0 100%;
}
.founder_wrap .founditem .foundinfo .contact .add {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/home/follow.png) no-repeat 0 -29px;
  margin-right: 10px;
}
.founder_wrap .founditem .foundinfo .contact .add:hover {
  background-position: 0 -1px;
}
.founder_wrap .founditem .foundinfo .contact .add.hover {
  background-position: 0 -85px;
}
.founder_wrap .founditem .foundinfo .contact .add.hover:hover {
  background-position: 0 -58px;
}
.founder_wrap .founditem .picture {
  float: right;
}
.founder_wrap .founditem .picture img {
  width: 176px;
  height: 110px;
}
.founder_wrap .founditem .picture li {
  width: 176px;
  height: 110px;
  background: #f3f3f3;
  margin-right: 10px;
  float: left;
}
.founder_wrap .founditem .picture li.more {
  width: 50px;
  height: 110px;
  margin: 0;
  background: none;
}
.founder_wrap .founditem .picture li.more a {
  display: block;
  border: 1px solid #e2e2e2;
  height: 110px;
  background: #fcfcfc url(http://static.idaiyan.cn/website/static/modules/home/images/icons/dot_g.png) no-repeat center center;
}
.founder_wrap .founditem .picture li.more a:hover {
  background: #ff8062 url(http://static.idaiyan.cn/website/static/modules/home/images/icons/dot_w.png) no-repeat center center;
  border: none;
}
.founder_wrap .founditem .picture li.blank {
  border: 1px solid #e2e2e2;
}
