body {
  background-color: #f8f8f8;
}
.homeheader {
  height: 61px;
  padding: 14px 0 0;
  border-bottom: 1px solid #e2e2e2;
  background: #fff;
}
.homeheader .logo {
  padding: 0 40px 0 2px;
}
.homeheader .logo a,
.homeheader .logo img {
  display: block;
}
.homeheader .mainnav ul {
  float: left;
}
.homeheader .mainnav li {
  float: left;
  margin: 0 8px;
}
.homeheader .mainnav li a {
  padding: 0 8px;
  display: block;
  height: 32px;
  color: #434343;
  line-height: 32px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.homeheader .mainnav li a span {
  display: block;
  font-size: 0;
  height: 1px;
  width: 0;
  margin: 0 auto;
  border-bottom: 1px solid #ff8062;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -ms-transition: width 0.2s;
  transition: width 0.2s;
}
.homeheader .mainnav li a:hover {
  color: #ff8062;
}
.homeheader .mainnav li a:hover span {
  width: 100%;
}
.homeheader .userstatus {
  line-height: 38px;
  margin-top: -3px;
}
.homeheader .userstatus .avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #7d879b;
  border-radius: 20px;
  vertical-align: middle;
}
.homeheader .userstatus a {
  color: #434343;
}
.homeheader .userstatus a:hover {
  color: #3ebde0;
}
.homeheader .userstatus a:hover .icon-message {
  background-position: -280px -20px;
}
.homeheader .userstatus a:hover .icon-sendmessage {
  background-position: -200px -60px;
}
.homeheader .userstatus .login_regist a:hover {
  color: #ff8062;
  text-decoration: underline;
}
.homeheader .userstatus .pipe {
  margin: 0 10px;
  color: #c6c6c6;
}
.homeheader .userstatus .applybtn {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-right: 25px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  line-height: 28px;
  text-align: center;
  color: #6a6a6a;
  background: #f9f9f9;
}
.homeheader .userstatus .applybtn .icon-add {
  margin: -4px 5px 0 0;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/menu_add.png) no-repeat -5px -5px;
}
.homeheader .userstatus .applybtn:hover {
  color: #6a6a6a;
  border-color: #919191;
}
.homeheader .userstatus .applybtn:hover .icon-add {
  margin: -4px 5px 0 0;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/menu_add.png) no-repeat -65px -5px;
}
.homeheader .userstatus .applybtn:active {
  color: #6a6a6a;
  background-color: #fff;
}
.homeheader .userstatus .applybtn.small {
  width: 30px;
  overflow: hidden;
  margin-right: 17px;
}
.homeheader .userstatus .applybtn.small .icon-add {
  margin: -4px 0 0 0;
}
.homeheader .userstatus .uc_link {
  margin: 0 27px 0 9px;
}
.homeheader .userstatus .user_space {
  position: relative;
  z-index: 10;
  padding-bottom: 10px;
}
.homeheader .userstatus .user_space:hover .user_menu {
  display: block;
}
.homeheader .userstatus .user_menu {
  display: none;
  position: absolute;
  top: 49px;
  right: 0;
  width: 146px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: #ffffff;
}
.homeheader .userstatus .user_menu li {
  text-align: right;
}
.homeheader .userstatus .user_menu .bb1 {
  border-bottom: 1px solid #f3f3f3;
}
.homeheader .userstatus .user_menu a {
  display: block;
  padding: 0 27px;
}
.homeheader .userstatus .user_menu a:hover {
  color: #434343;
  background-color: #f9f9f9;
}
.homeheader .userstatus .user_menu a:hover .icon-home {
  background-position: -280px -40px;
}
.homeheader .userstatus .user_menu a:hover .icon-follow {
  background-position: -240px -60px;
}
.homeheader .userstatus .user_menu a:hover .icon-myfollow {
  background-position: -200px -40px;
}
.homeheader .userstatus .user_menu a:hover .icon-order {
  background-position: -200px -20px;
}
.homeheader .userstatus .user_menu a:hover .icon-set {
  background-position: -240px -20px;
}
.homeheader .userstatus .user_menu a:hover .icon-quit {
  background-position: -220px -60px;
}
.homeheader .userstatus .user_menu a:hover .icon-product {
  background-position: -220px -20px;
}
.homeheader .userstatus .user_menu .icon {
  margin: -4px 17px 0 0;
}
.homeheader .userstatus .user_menu_arrow {
  position: absolute;
  top: -9px;
  right: 54px;
}
.homeheader .userstatus .user_menu_arrow b {
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  bottom: 0;
  left: 0;
  border-bottom-color: #e2e2e2;
  top: -7px;
}
.homeheader .userstatus .user_menu_arrow i {
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  top: -7px;
  left: -8px;
}
.homeheader .userstatus .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 9px;
  vertical-align: middle;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/uc_menu.png) no-repeat 0 0;
}
.homeheader .userstatus .icon-home {
  background-position: -80px -40px;
}
.homeheader .userstatus .icon-follow {
  background-position: -40px -60px;
}
.homeheader .userstatus .icon-myfollow {
  background-position: 0 -40px;
}
.homeheader .userstatus .icon-order {
  background-position: 0 -20px;
}
.homeheader .userstatus .icon-set {
  background-position: -40px -20px;
}
.homeheader .userstatus .icon-quit {
  background-position: -20px -60px;
}
.homeheader .userstatus .icon-message {
  background-position: -80px -20px;
}
.homeheader .userstatus .icon-sendmessage {
  background-position: 0 -60px;
}
.homeheader .userstatus .icon-product {
  background-position: -20px -20px;
}
.listtitle h2 {
  font-size: 28px;
  color: #3c4452;
  line-height: 48px;
  font-weight: 400;
}
.listtitle h2 a {
  color: #3c4452;
}
.listtitle .more {
  margin-top: 20px;
  width: 57px;
  height: 22px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/home/more.png) no-repeat 0 0;
}
.listtitle .filter {
  float: left;
  margin: 18px 0 0 20px;
}
.listtitle .filter a {
  float: left;
  margin: 0 5px;
  color: #898b8d;
}
.listtitle .filter span {
  float: left;
  margin: 0 5px;
  color: #898b8d;
}
