.orange {
  color: #ff8062;
}
#orange-box {
  border-color: #ff8062;
  background-color: #fff;
}
#orange-box .special-orange {
  color: #ff8062;
}
#disabled-box {
  border-color: #e2e2e2;
  background-color: #f9f9f9;
}
#disabled-box .title,
#disabled-box .price,
#disabled-box .just-title {
  color: #e2e2e2;
}
#common-box {
  border-color: #c6c6c6;
  background-color: #f9f9f9;
}
.success {
  width: 1000px;
  height: 182px;
  margin: 50px auto 0;
  border: 1px solid #c6c6c6;
  box-shadow: 0 0 2px #c6c6c6;
}
.success .mark {
  float: left;
  width: 180px;
  height: 180px;
  border-right: 1px solid #c6c6c6;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/mark.png) 55px 55px no-repeat #f9f9f9;
}
.success .error {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/error-mark.png) 55px 55px no-repeat #f9f9f9;
}
.success .success-information {
  float: right;
  width: 816px;
  height: 100%;
  padding-left: 23px;
  background: #fff;
}
.success .success-information h1 {
  height: 30px;
  line-height: 30px;
  margin-top: 26px;
  font-size: 24px;
  font-weight: normal;
}
.success .success-information p {
  height: 22px;
  line-height: 22px;
  margin-top: 4px;
  font-size: 18px;
  color: #919191;
}
.success .success-information ul {
  height: 51px;
  margin-top: 24px;
}
.success .success-information ul li {
  line-height: 17px;
  color: #6a6a6a;
}
.choose-payment-type {
  width: 1000px;
  margin: 50px auto 0;
}
.choose-payment-type h2 {
  line-height: 18px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
}
.choose-payment-type .choose-payment-box {
  width: 100%;
  border: 1px solid #c6c6c6;
  box-shadow: 0 0 2px #c6c6c6;
  background-color: #f9f9f9;
}
.choose-payment-type .choose-payment-box .main-choice {
  width: 100%;
  height: 504px;
  border-bottom: 1px solid #c6c6c6;
}
.choose-payment-type .choose-payment-box .main-choice .left-bar {
  float: left;
  width: 184px;
  height: 100%;
  border-right: 1px solid #c6c6c6;
}
.choose-payment-type .choose-payment-box .main-choice .left-bar h3 {
  width: 136px;
  margin: 28px auto 0;
  font-size: 14px;
  font-weight: normal;
}
.choose-payment-type .choose-payment-box .main-choice .left-bar p {
  width: 136px;
  margin: 12px auto 0;
  font-size: 12px;
  line-height: 14px;
  color: #919191;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible {
  float: right;
  width: 814px;
  height: 100%;
  background: #f3f3f3;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .select {
  position: relative;
  height: 121px;
  border-bottom: 1px solid #c9c9c9;
  background-color: #fff;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .select .label-outer {
  width: 670px;
  padding: 50px 0 0 30px;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .select .label-outer .label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 180px;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .select .label-outer .label input {
  margin-righ: 30px;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .select .label-outer .label .payment_logo {
  display: inline-block;
  vertical-align: top;
  margin-top: -8px;
  width: 132px;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .select .label-outer .label .payment_logo img {
  border: 1px solid #c6c6c6;
  cursor: pointer;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .select .triangle-box {
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 21px;
  height: 20px;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .select .triangle-box .triangle-border {
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 10px;
  border-style: dashed dashed solid dashed;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .select .triangle-box .tb-border {
  bottom: -20px;
  border-color: transparent transparent #aeaeae transparent;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .select .triangle-box .tb-background {
  margin-top: -19px;
  border-color: transparent transparent #f3f3f3  transparent;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .QR_code_box {
  width: 272px;
  height: 320px;
  margin: 30px 0 0 30px;
  padding: 0 31px;
  background-color: #fff;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .QR_code_box h4 {
  padding-top: 20px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .QR_code_box img {
  display: block;
  margin: 0 auto 0;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .QR_code_box p {
  padding-top: 9px;
  text-align: center;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .QR_code_box .tips {
  overflow: hidden;
  text-align: center;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .QR_code_box .tips a {
  color: #3ebde0;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .QR_code_box .tips a span {
  margin: 0 5px;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .QR_code_box .iframe-wrap {
  width: 180px;
  height: 180px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .QR_code_box .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: scale(2.4);
  -ms-transform: scale(2.4);
  transform: scale(2.4);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
.choose-payment-type .choose-payment-box .main-choice .select-flexible .wx .tips {
  text-align: center;
}
.choose-payment-type .choose-payment-box .choose-button-box {
  width: 100%;
  height: 78px;
  background: #f3f3f3;
}
.choose-payment-type .choose-payment-box .choose-button-box button,
.choose-payment-type .choose-payment-box .choose-button-box a {
  display: block;
  float: right;
  width: 140px;
  height: 38px;
  line-height: 38px;
  margin: 19px 18px 0 0;
  font-size: 16px;
}
.choose-payment-type .choose-payment-box .choose-button-box .edit-btn {
  color: #fff;
}
.choose-payment-type .choose-payment-box .choose-button-box .confirm-btn {
  margin-right: 58px;
  color: #fff;
}
