body {
  background: #fff;
}
.Validform_checktip {
  display: none;
}
.Validform_wrong {
  color: #ff8062;
  white-space: nowrap;
  display: block;
  clear: left;
  height: 20px;
  line-height: 20px;
  margin-left: 140px;
}
.order-infowrap {
  padding-top: 50px;
}
.order-infowrap .ordercontent {
  width: 1000px;
  margin: 0 auto;
  border: solid 1px #c6c6c6;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.order-infowrap .addresswrap {
  padding: 0 42px;
}
.order-infowrap .addresswrap .title {
  font-size: 18px;
  color: #434343;
  margin-top: 40px;
  margin-bottom: 19px;
}
.order-infowrap .addresswrap .address-list ul {
  padding: 0;
  margin: 0;
}
.order-infowrap .addresswrap .address-list li {
  float: left;
  width: 272px;
  height: 162px;
  margin-right: 26px;
  margin-bottom: 26px;
  border: solid 1px #c6c6c6;
  background: #f9f9f9;
  position: relative;
}
.order-infowrap .addresswrap .address-list li .contant {
  width: 250px;
  border-bottom: solid 1px #c6c6c6;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #434343;
  margin: 0 10px;
}
.order-infowrap .addresswrap .address-list li .address {
  margin: 10px 10px;
  line-height: 24px;
}
.order-infowrap .addresswrap .address-list li .default {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 8px;
}
.order-infowrap .addresswrap .address-list li .default a {
  color: #6a6a6a;
  font-size: 12px;
}
.order-infowrap .addresswrap .address-list li .default a:hover {
  color: #ff8062;
}
.order-infowrap .addresswrap .address-list li .edit {
  display: none;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 16px;
  height: 16px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/editdel.png) no-repeat 0 0;
  cursor: pointer;
}
.order-infowrap .addresswrap .address-list li .edit.hover,
.order-infowrap .addresswrap .address-list li :hover {
  background-position: -32px 0;
}
.order-infowrap .addresswrap .address-list li .add {
  margin-top: 50px;
  position: relative;
  height: 34px;
  cursor: pointer;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/add.png) no-repeat center center;
}
.order-infowrap .addresswrap .address-list li .tip {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  color: #6a6a6a;
}
.order-infowrap .addresswrap .address-list li.hover,
.order-infowrap .addresswrap .address-list li:hover {
  cursor: pointer;
  background: #fff;
}
.order-infowrap .addresswrap .address-list li.hover .edit,
.order-infowrap .addresswrap .address-list li:hover .edit {
  display: block;
}
.order-infowrap .addresswrap .address-list li.hover .default,
.order-infowrap .addresswrap .address-list li:hover .default {
  display: block;
}
.order-infowrap .addresswrap .address-list li.active {
  border-color: #ff8062;
  background: #fff;
}
.order-infowrap .addresswrap .address-list li.active .edit {
  display: block;
}
.order-infowrap .addresswrap .address-list li.active .default {
  display: block;
}
.order-infowrap .pay-warp {
  padding: 0 42px;
  color: #434343;
}
.order-infowrap .pay-warp .pay-title {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 19px;
}
.order-infowrap .pay-warp .pay-list {
  float: left;
  width: 162px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border: solid 1px #c6c6c6;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  background: #f9f9f9;
}
.order-infowrap .pay-warp .pay-list:hover,
.order-infowrap .pay-warp .hover {
  background: #fff;
}
.order-infowrap .pay-warp .pay-list.active {
  background: #fff;
  border: solid 1px #ff8062;
}
.order-infowrap .pay-warp .confirm {
  width: 100%;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  margin-top: 18px;
  color: #434343;
}
.order-infowrap .info-wrap {
  background: #fff;
}
.order-infowrap .info-wrap .list-support {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #f9f9f9;
  color: #919191;
  font-size: 14px;
}
.order-infowrap .info-wrap .list-support table {
  width: 912px;
  margin: 0 42px;
}
.order-infowrap .info-wrap .list-warp {
  margin: 0 42px;
}
.order-infowrap .info-wrap .list-warp .list-item {
  width: 912px;
  padding: 20px 0;
  border-bottom: solid 1px #e2e2e2;
}
.order-infowrap .info-wrap .list-warp .list-item .list-item-content {
  color: #434343;
}
.order-infowrap .info-wrap .list-warp .list-item .list-item-content table tr {
  width: 912px;
  font-size: 14px;
}
.order-infowrap .info-wrap .list-warp .list-item .list-item-content table tr td {
  text-align: center;
  vertical-align: middle;
}
.order-infowrap .info-wrap .list-warp .list-item .list-item-content .table-thumb img {
  width: 83px;
  height: 83px;
  border: solid 1px #e2e2e2;
  vertical-align: middle;
}
.order-infowrap .info-wrap .list-warp .list-item .list-item-content .thumb-text {
  padding-left: 10px;
  display: inline-block;
  text-align: left;
  font-size: 12px;
  color: #919191;
  vertical-align: middle;
  width: 545px;
}
.order-infowrap .info-wrap .list-warp .list-item .list-item-content .thumb-text .title {
  color: #434343;
  font-size: 14px;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit {
  width: 906px;
  padding: 20px 0;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content {
  color: #434343;
  height: 220px;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content table tr {
  width: 100%;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content table tr td {
  color: #434343;
  text-align: center;
  vertical-align: top;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content table tr td .number {
  height: 34px;
  line-height: 34px;
  text-align: right;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content table tr td .number .text {
  text-align: right;
  width: 100px;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb {
  padding: 0;
  margin: 0;
  position: relative;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .result-t {
  color: #ff8062;
  position: absolute;
  top: 36px;
  left: 0;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .result-t .yhclose {
  cursor: pointer;
  margin-left: 10px;
  display: none;
  width: 11px;
  height: 11px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/yhclose.png) no-repeat center center;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .result-t:hover .yhclose {
  display: inline-block;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .title {
  cursor: pointer;
  height: 34px;
  line-height: 34px;
  text-align: left;
  font-size: 14px;
  position: relative;
  width: 110px;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .title .arrow {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 0;
  height: 0;
  content: ' ';
  border-width: 6px 4px 0 4px;
  border-style: solid;
  border-color: #d9dbdc transparent transparent  transparent;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .title.active .arrow {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 0;
  height: 0;
  content: ' ';
  border-width: 0 4px 6px 4px;
  border-style: solid;
  border-color: transparent transparent #d9dbdc transparent;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon {
  display: none;
  margin-top: 5px;
  background: #fff;
  position: absolute;
  width: 392px;
  border: solid 1px #ff8062;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon .top {
  height: 36px;
  line-height: 36px;
  border-bottom: solid 1px #e2e2e2;
  position: relative;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon .top .left {
  padding-left: 20px;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon .top .right {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 7px;
  height: 7px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/close.png) no-repeat center center;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon ul li {
  cursor: pointer;
  height: 50px;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon ul li .ticket {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/yhq.png) no-repeat 0 0;
  width: 62px;
  height: 25px;
  line-height: 25px;
  margin: 12px 17px;
  color: #fff;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon ul li .discount {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/yhq.png) no-repeat 0 -50px;
  width: 62px;
  height: 25px;
  line-height: 25px;
  margin: 12px 17px;
  color: #fff;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon ul li .cash {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/yhq.png) no-repeat 0 -100px;
  width: 62px;
  height: 25px;
  line-height: 25px;
  margin: 12px 17px;
  color: #fff;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon ul li .deduct {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/yhq.png) no-repeat 0 -150px;
  width: 62px;
  height: 25px;
  line-height: 25px;
  margin: 12px 17px;
  color: #fff;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon ul li .date-wrap {
  text-align: left;
  margin-top: 9px;
  font-size: 12px;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon ul li .date-wrap .condition {
  color: #6a6a6a;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon ul li .date-wrap .date {
  color: #919191;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon ul li:hover,
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon ul .hover {
  cursor: pointer;
  background-color: #f3f3f3;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon .user_menu_arrow {
  position: absolute;
  top: -9px;
  left: 54px;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon .user_menu_arrow b {
  position: absolute;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  bottom: 0;
  left: 0;
  border-bottom-color: #ff8062;
  top: -9px;
}
.order-infowrap .info-wrap .list-warp .list-item-benefit .list-item-content .table-thumb .user_coupon .user_menu_arrow i {
  position: absolute;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: #fff;
  top: -8px;
  left: -9px;
}
.order-infowrap .info-wrap .bottom {
  height: 78px;
  border-top: solid 1px #c6c6c6;
  background: #f3f3f3;
}
.order-infowrap .info-wrap .bottom .qr {
  line-height: 38px;
  width: 140px;
  height: 38px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  margin-right: 65px;
  margin-top: 19px;
}
.order-infowrap .info-wrap .bottom .fh {
  font-size: 16px;
  margin-top: 19px;
  line-height: 38px;
  width: 140px;
  height: 38px;
  color: #fff;
  cursor: pointer;
  margin-right: 15px;
}
.gray-bg {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  opacity: .1;
  background: #000;
}
#address {
  padding-top: 24px;
}
.shoots .shoot-window {
  display: none;
  width: 800px;
  left: 50%;
  top: 50%;
  position: fixed;
  margin-left: -400px;
  margin-top: -280px;
  border: solid 1px #c6c6c6;
  background: #fff;
  border-radius: 3px;
  color: #434343;
  z-index: 10000;
}
.shoots .shoot-window .title-wrap {
  width: 100%;
  height: 52px;
  border-bottom: solid 1px #c6c6c6;
  background: #f9f9f9;
  border-radius: 3px 3px 0 0;
}
.shoots .shoot-window .title-wrap .title {
  height: 52px;
  line-height: 52px;
  padding-left: 37px;
}
.shoots .shoot-window .title-wrap .close-btn {
  width: 30px;
  height: 30px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/close-btn.png) no-repeat center center;
  margin-right: 36px;
  margin-top: 12px;
  cursor: pointer;
}
.shoots .shoot-window .name-wrap {
  margin: 0 0 24px;
  line-height: 42px;
}
.shoots .shoot-window .name-wrap label {
  width: 116px;
  text-align: right;
  margin-right: 27px;
}
.shoots .shoot-window .name-wrap label i {
  color: #ff4861;
  padding-right: 4px;
}
.shoots .shoot-window .name-wrap label.margin-rn {
  margin-right: 0;
}
.shoots .shoot-window .name-wrap input {
  width: 248px;
  margin-right: 10px;
}
.shoots .shoot-window .name-wrap input.w70 {
  width: 70px;
  margin-right: 0;
}
.shoots .shoot-window .name-wrap input.w180 {
  width: 180px;
}
.shoots .shoot-window .name-wrap select {
  width: 150px;
}
.shoots .shoot-window .name-wrap select.zone {
  width: 170px;
}
.shoots .shoot-window .name-wrap .text {
  color: #c6c6c6;
}
.shoots .shoot-window .name-wrap .text-address {
  margin-right: 20px;
}
.shoots .shoot-window .name-wrap .text-tel {
  margin-right: 10px;
}
.shoots .shoot-window .name-wrap .line {
  color: #c6c6c6;
  width: 10px;
  text-align: center;
}
.shoots .shoot-window .bottom {
  margin-left: 140px;
}
.shoots .shoot-window .bottom .save {
  line-height: 37px;
  width: 250px;
  height: 37px;
  cursor: pointer;
  color: #fff;
  margin-right: 65px;
  margin-bottom: 28px;
}
.errmsg {
  height: 20px;
  line-height: 20px;
  margin: -20px 0 0 140px;
  color: #ff8062;
}
.margin-none {
  margin-right: none;
}
.none {
  display: none;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.orange {
  color: #ff8062;
}
.w600 {
  width: 600px;
}
.w120 {
  width: 120px;
}
.w86 {
  width: 86px;
}
.w100 {
  width: 100px;
}
.w670 {
  width: 670px;
}
.w236 {
  width: 236px;
}
.w220 {
  width: 220px;
}
.w66 {
  width: 66px;
}
.w648 {
  width: 648px;
}
.fs24 {
  font-size: 24px;
}
.margin-t20 {
  margin-top: 20px;
}
#Validform_msg {
  display: none;
}
.Validform_right {
  display: none;
}
