body {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/bg2.jpg) no-repeat 50% 0;
  height: 2709px;
  overflow: hidden;
}
#top {
  position: relative;
  overflow: hidden;
}
#top .star1 {
  width: 475px;
  height: 755px;
  float: left;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/star-bg_01.png) no-repeat;
}
#top .star2 {
  width: 373px;
  height: 755px;
  float: right;
  margin-left: 80%;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/star-bg_03.png) no-repeat;
}
#top .blink1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 425px;
  top: 400px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/star-blink.png) -6px 1px no-repeat;
}
#top .blink2 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 225px;
  top: 100px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/star-blink.png) -22px -237px no-repeat;
}
#top .blink3 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 325px;
  top: 460px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/star-blink.png) -22px -130px no-repeat;
}
#top .blink4 {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 410px;
  top: 350px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/star-blink.png) -8px -172px no-repeat;
}
#top .blink5 {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 150px;
  top: 350px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/star-blink.png) -14px -71px no-repeat;
}
.special-wrap {
  width: 100%;
  height: 1000px;
  color: #01c6ff;
}
.special-wrap .content-wrap {
  width: 100%;
  position: relative;
}
.special-wrap .content-wrap div {
  position: absolute;
}
.special-wrap .content-wrap .title {
  font-size: 48px;
  line-height: 58px;
  font-family: Arial;
  top: 150px;
  width: 417px;
}
.special-wrap .content-wrap .intro {
  width: 340px;
  font-size: 13px;
  line-height: 25px;
  text-align: left;
  right: 195px;
  font-weight: bold;
  top: 160px;
}
.special-wrap .content-wrap .icon-item1 {
  width: 260px;
  height: 141px;
  top: 312px;
  left: 10px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -160px;
}
.special-wrap .content-wrap .icon-item2 {
  width: 244px;
  height: 160px;
  top: 460px;
  left: 65px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -817px;
}
.special-wrap .content-wrap .icon-item3 {
  width: 194px;
  height: 197px;
  top: 540px;
  left: 210px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -293px;
}
.special-wrap .content-wrap .icon-item4 {
  width: 207px;
  height: 187px;
  top: 520px;
  left: 407px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -484px;
}
.special-wrap .content-wrap .icon-item5 {
  width: 261px;
  height: 162px;
  top: 550px;
  left: 650px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -668px;
}
.special-wrap .content-wrap .icon-item6 {
  width: 275px;
  height: 145px;
  top: 710px;
  left: 740px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -1675px;
}
.special-wrap .content-wrap .icon-item7 {
  width: 342px;
  height: 162px;
  top: 900px;
  right: 20px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -1167px;
}
.special-wrap .content-wrap .icon-item8 {
  width: 309px;
  height: 190px;
  top: 1005px;
  right: 180px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -983px;
}
.special-wrap .content-wrap .step2 {
  width: 330px;
  left: 240px;
  top: 890px;
}
.special-wrap .content-wrap .step2 .tit2 {
  top: 0;
}
.special-wrap .content-wrap .step2 .main-content {
  font-size: 24px;
  top: 60px;
  left: 100px;
}
.special-wrap .content-wrap .step3 {
  left: 130px;
  top: 1202px;
}
.special-wrap .content-wrap .icon-item9 {
  width: 295px;
  height: 143px;
  top: 1310px;
  left: 10px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -1855px;
}
.special-wrap .content-wrap .icon-item10 {
  width: 160px;
  height: 187px;
  top: 1439px;
  left: 140px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -1491px;
}
.special-wrap .content-wrap .icon-item11 {
  width: 286px;
  height: 160px;
  top: 1439px;
  left: 370px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 0px;
}
.special-wrap .content-wrap .icon-item12 {
  width: 286px;
  height: 160px;
  top: 1257px;
  left: 525px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/365/icon.png) no-repeat 0 -1330px;
}
.special-wrap .bottom {
  position: absolute;
  width: 580px;
  top: 2450px;
  color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 24px;
  line-height: 74px;
  margin-bottom: 110px;
}
.special-wrap .bottom .btn {
  float: left;
  margin: auto;
  width: 247px;
  height: 74px;
  cursor: pointer;
  border-radius: 10px;
}
.special-wrap .bottom .bluebtn {
  line-height: 74px;
  background: #00baff;
  box-shadow: 0 4px 2px #065189;
}
.special-wrap .bottom .bluebtn:active {
  background: #065189;
}
.special-wrap .bottom .pinkbtn {
  margin-right: 86px;
  background: #ff8062;
  box-shadow: 0 4px 2px #af513b;
}
.special-wrap .bottom .pinkbtn:active {
  background: #af513b;
}
.special-wrap .copyright {
  left: 0;
  right: 0;
  margin: auto;
  width: 1000px;
  text-align: center;
  position: absolute;
  top: 2630px;
}
.special-wrap .item {
  opacity: 0.9;
}
.special-wrap .item:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -webkit-transition: all 1s;
}
.blink-m2 {
  -webkit-animation: m2star 4s ease-in-out alternate infinite;
}
.blink-m1 {
  -webkit-animation: m1star 2s ease-in-out alternate infinite;
}
.rotate {
  -webkit-animation: rotate 20s linear  infinite;
  -webkit-transform-origin: 25px 25px;
}
.rotate-r {
  -webkit-animation: rotate-r 20s linear infinite;
  -webkit-transform-origin: 25px 25px;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-r {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes m2star {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes m1star {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
