.choosen-product {
  width: 1000px;
  height: 132px;
  margin: 60px auto 0;
}
.choosen-product img {
  float: left;
  border: 1px solid #e2e2e2;
}
.choosen-product .introduce-text {
  float: right;
  width: 435px;
  height: 132px;
  margin-right: 412px;
}
.choosen-product .introduce-text h1 {
  line-height: 26px;
  font-weight: normal;
  font-size: 24px;
}
.choosen-product .introduce-text p {
  margin-top: 10px;
  font-size: 12px;
  color: #919191;
}
.choosen-product .introduce-text .origin-price {
  width: 176px;
  height: 44px;
  margin-top: 34px;
  font-size: 24px;
}
.choosen-product .introduce-text .origin-price .num {
  display: inline-block;
  font-size: 36px;
}
.filterbox {
  margin-top: 25px;
}
.orange {
  color: #ff8062;
  font-weight: bold;
}
.blue {
  color: #00a1d7;
  font-weight: bold;
}
.pink {
  color: #ff4861;
  font-weight: bold;
}
.green {
  color: #87c80a;
  font-weight: bold;
}
.list-wrap table {
  border: 1px solid #e2e2e2;
  margin-top: 25px;
  color: #6a6a6a;
  width: 100%;
}
.list-wrap table thead {
  background: #f9f9f9;
  line-height: 40px;
  color: #434343;
  border-bottom: 1px solid #e2e2e2;
}
.list-wrap table thead th {
  width: 25%;
  height: 40px;
}
.list-wrap table thead th.user-info {
  text-align: left;
  padding-left: 32px;
}
.list-wrap table thead th.money {
  text-align: right;
  padding-right: 52px;
}
.list-wrap table tbody {
  background: #fff;
}
.list-wrap table tbody tr {
  border-bottom: 1px solid #f3f3f3;
}
.list-wrap table tbody tr:last-child {
  border-bottom: none;
}
.list-wrap table tbody td {
  vertical-align: middle;
  width: 25%;
  height: 80px;
  text-align: center;
}
.list-wrap table tbody td.activity {
  width: 35.2%;
}
.list-wrap table tbody td.address {
  text-align: left;
}
.list-wrap table tbody td.right {
  text-align: center;
  color: #919191;
  font-size: 12px;
  width: 14.8%;
}
.list-wrap table tbody td.right .num {
  color: #434343;
  font-size: 18px;
}
.list-wrap table tbody td span {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
  position: relative;
  top: -2px;
}
.list-wrap table tbody td.img-td {
  text-align: left;
  color: #919191;
  padding: 10px 0 0 14px;
}
.list-wrap table tbody td.img-td .name {
  color: #434343;
  margin-left: 0;
}
.list-wrap table tbody td img {
  width: 36px;
  height: 36px;
  overflow: hidden;
}
#dk1-prodname {
  width: 277px;
  margin-left: 0;
}
#dk1-prodname .dk-selected {
  width: 277px;
  text-align: left;
  padding-left: 10px;
}
#dk1-prodname #dk1-listbox {
  width: 277px;
}
#dk1-prodname .dk-select-options li {
  width: 277px;
  text-align: left;
  padding-left: 10px;
}
#dk0-select-industry {
  float: right;
}
#dk2-select-user {
  float: right;
}
.select-wrap .dk-selected {
  text-align: left;
  padding-left: 10px;
}
.select-wrap .dk-select-options li {
  text-align: left;
  padding-left: 10px;
}
#filter-form {
  display: none;
}
