/*trade style*/
.trade-wrap {
  padding-top: 50px;
}
/*筛选*/
.trade-wrap {
  padding-top: 50px;
}
.serial-number {
  border: solid 1px #c6c6c6;
  border-radius: 3px;
}
.serial-number table tr:nth-child(2n) td {
  background: #f9f9f9;
}
.serial-number .w134 {
  width: 13.4%;
  padding-left: 34px;
}
.serial-number .w185 {
  width: 18.5%;
  padding-left: 30px;
}
.serial-number .w156 {
  width: 15.6%;
  padding-left: 26px;
}
.serial-number .w164 {
  width: 16.4%;
  padding-left: 33px;
}
.serial-number .w109 {
  width: 10.9%;
  padding-left: 34px;
}
.serial-number .w115 {
  width: 11.5%;
  padding-left: 33px;
}
.serial-number .w132 {
  width: 13.2%;
  padding-left: 26px;
  text-align: center;
}
.serial-number .pay {
  line-height: 24px;
  display: block;
  display: inline-block;
  width: 68px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: #ff8062;
  box-shadow: 0 2px #f87252;
}
.serial-number .gray {
  display: block;
  color: #c6c6c6;
}
.serial-number .orange {
  font-weight: 700;
  color: #ff8062;
}
.serial-number table {
  width: 100%;
}
.serial-number table thead tr {
  line-height: 40px;
  width: 100%;
  height: 40px;
  border-bottom: solid 1px #c6c6c6;
  background: #f9f9f9;
}
.serial-number table thead tr th {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #6a6a6a;
}
.serial-number table tbody tr {
  background: #fff;
}
.serial-number table tbody tr td {
  font-size: 14px;
  height: 70px;
  text-align: left;
  vertical-align: middle;
  color: #919191;
  border: none;
}
.filterbox {
  margin-top: 5px;
  margin-bottom: 25px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
}
.filterbox .filterstatus {
  height: 40px;
  padding-left: 24px;
  border-bottom: 1px solid #eee;
}
.filterbox .filterstatus .leftlabel {
  line-height: 40px;
}
.filterbox .filterstatus a {
  line-height: 22px;
  float: left;
  height: 22px;
  margin: 8px 10px 0 0;
  padding: 0 25px 0 6px;
  color: #898b8d;
  background: #ffffff url(http://static.idaiyan.cn/website/static/modules/home/images/home/close.gif) no-repeat 100% 50%;
}
.filterbox .leftlabel {
  float: left;
  margin-right: 18px;
  color: #898b8d;
}
.filterbox .filteritems {
  padding: 15px 0;
  background: #fff;
}
.filterbox li {
  height: 36px;
  border-top: 1px solid #eee;
}
.filterbox li .leftlabel {
  line-height: 36px;
  padding-left: 24px;
}
.filterbox li a {
  line-height: 22px;
  float: left;
  height: 22px;
  margin: 6px 8px 0 0;
  padding: 0 6px;
  color: #898b8d;
}
.filterbox li a:hover {
  background: #f9f9f9;
}
.filterbox li:first-child {
  border: none;
}
