/* ! UC */
body {
  background-color: #f9f9f9;
}
.ucheader {
  height: 60px;
  padding: 14px 0 0;
  background: #2e2e2e;
}
.ucheader .logo {
  padding: 0 40px 0 2px;
}
.ucheader .logo a,
.ucheader .logo img {
  display: block;
}
.ucheader .mainnav ul {
  float: left;
}
.ucheader .mainnav li {
  float: left;
  margin: 0 8px;
}
.ucheader .mainnav li a {
  padding: 0 8px;
  display: block;
  height: 32px;
  color: #c6c6c6;
  line-height: 32px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.ucheader .mainnav li a span {
  display: block;
  font-size: 0;
  height: 1px;
  width: 0;
  margin: 0 auto;
  border-bottom: 1px solid #ff8062;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -ms-transition: width 0.2s;
  transition: width 0.2s;
}
.ucheader .mainnav li a:hover {
  color: #fff;
}
.ucheader .mainnav li a:hover span {
  width: 100%;
}
.ucheader .userstatus {
  line-height: 38px;
  margin-top: -3px;
}
.ucheader .userstatus .avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #7d879b;
  border-radius: 20px;
  vertical-align: middle;
}
.ucheader .userstatus a {
  color: #434343;
}
.ucheader .userstatus a:hover {
  color: #3ebde0;
}
.ucheader .userstatus a:hover .icon-message {
  background-position: -180px -20px;
}
.ucheader .userstatus a:hover .icon-sendmessage {
  background-position: -100px -60px;
}
.ucheader .userstatus .login_regist a:hover {
  color: #ff8062;
  text-decoration: underline;
}
.ucheader .userstatus .pipe {
  margin: 0 10px;
  color: #c6c6c6;
}
.ucheader .userstatus .applybtn {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-right: 25px;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
  color: #ff8062;
  background: #434343;
}
.ucheader .userstatus .applybtn .icon-add {
  margin: -4px 0 0 0;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/menu_add.png) no-repeat -35px -5px;
}
.ucheader .userstatus .applybtn:hover {
  color: #ff8062;
  border-color: #919191;
}
.ucheader .userstatus .applybtn:hover .icon-add {
  margin: -4px 0 0 0;
}
.ucheader .userstatus .applybtn.small {
  width: 30px;
  overflow: hidden;
  margin-right: 17px;
}
.ucheader .userstatus .uc_link {
  margin: 0 27px 0 9px;
}
.ucheader .userstatus .user_space {
  position: relative;
  z-index: 10;
  padding-bottom: 10px;
}
.ucheader .userstatus .user_space:hover .user_menu {
  display: block;
}
.ucheader .userstatus .user_menu {
  display: none;
  position: absolute;
  top: 49px;
  right: 0;
  width: 146px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: #ffffff;
}
.ucheader .userstatus .user_menu li {
  text-align: right;
}
.ucheader .userstatus .user_menu .bb1 {
  border-bottom: 1px solid #f3f3f3;
}
.ucheader .userstatus .user_menu a {
  display: block;
  padding: 0 27px;
}
.ucheader .userstatus .user_menu a:hover {
  color: #434343;
  background-color: #f9f9f9;
}
.ucheader .userstatus .user_menu a:hover .icon-home {
  background-position: -280px -40px;
}
.ucheader .userstatus .user_menu a:hover .icon-follow {
  background-position: -240px -60px;
}
.ucheader .userstatus .user_menu a:hover .icon-myfollow {
  background-position: -200px -40px;
}
.ucheader .userstatus .user_menu a:hover .icon-order {
  background-position: -220px -20px;
}
.ucheader .userstatus .user_menu a:hover .icon-set {
  background-position: -240px -20px;
}
.ucheader .userstatus .user_menu a:hover .icon-quit {
  background-position: -220px -60px;
}
.ucheader .userstatus .user_menu a:hover .icon-product {
  background-position: -200px -20px;
}
.ucheader .userstatus .user_menu .icon {
  margin: -4px 17px 0 0;
}
.ucheader .userstatus .user_menu_arrow {
  position: absolute;
  top: -9px;
  right: 54px;
}
.ucheader .userstatus .user_menu_arrow b {
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  bottom: 0;
  left: 0;
  border-bottom-color: #e2e2e2;
  top: -7px;
}
.ucheader .userstatus .user_menu_arrow i {
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  top: -7px;
  left: -8px;
}
.ucheader .userstatus .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 9px;
  vertical-align: middle;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/uc_menu.png) no-repeat 0 0;
}
.ucheader .userstatus .icon-home {
  background-position: -80px -40px;
}
.ucheader .userstatus .icon-follow {
  background-position: -40px -60px;
}
.ucheader .userstatus .icon-myfollow {
  background-position: 0 -40px;
}
.ucheader .userstatus .icon-order {
  background-position: -20px -20px;
}
.ucheader .userstatus .icon-set {
  background-position: -40px -20px;
}
.ucheader .userstatus .icon-quit {
  background-position: -20px -60px;
}
.ucheader .userstatus .icon-message {
  background-position: -80px -20px;
}
.ucheader .userstatus .icon-sendmessage {
  background-position: 0 -60px;
}
.ucheader .userstatus .icon-product {
  background-position: 0 -20px;
}
.main_wrap {
  width: 764px;
  margin-top: 15px;
}
.listtitle {
  padding: 0;
}
.listtitle h2 {
  font-size: 30px;
}
.listtitle .subtitle {
  margin-left: 10px;
  font-size: 18px;
  color: #e2e2e2;
}
.prodlist {
  padding: 0;
  margin-left: 0;
  margin-right: -10px;
}
.prodlist li {
  position: relative;
  width: 248px;
  height: 310px;
  margin: 0 10px 10px 0;
}
.prodlist li .prodimg {
  width: 248px;
  height: 155px;
}
.prodlist li .prodimg img {
  width: 248px;
  height: 155px;
}
.prodlist li .prodtitle {
  height: 55px;
  padding: 11px;
  font-size: 13px;
  line-height: 16.5px;
}
.prodlist li .prodrate {
  position: relative;
  z-index: 3;
  height: 5px;
  padding: 4px 0 0;
}
.prodlist li:hover {
  border-color: #c6c6c6;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.prodlist .releasebtn_wrap {
  position: relative;
  height: 310px;
  border-width: 2px;
  border-style: dashed;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/uc/add.png) no-repeat 50% 70px;
}
.prodlist .releasebtn_wrap a {
  display: block;
  width: 100%;
  height: 100%;
}
.prodlist .releasebtn_wrap .nulltip {
  position: absolute;
  bottom: 115px;
  color: #c6c6c6;
  text-align: center;
}
.prodlist .releasebtn_wrap .uc_releasebtn {
  position: absolute;
  bottom: 31px;
  display: block;
  width: 170px;
  height: 44px;
  padding: 0;
  border-radius: 3px;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background-color: #3dd7cf;
  box-shadow: 0 3px 0 0 #33a7a1;
}
.prodlist .releasebtn_wrap:hover {
  border-color: #c6c6c6;
  box-shadow: none;
  background-color: #fff;
}
.prodlist .operate {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  display: none;
  height: 60px;
  line-height: 60px;
  font-size: 12px;
  background-color: #f9f9f9;
}
.prodlist .operate .delete,
.prodlist .operate .edit {
  display: block;
  width: 50%;
  padding-left: 60px;
  color: #919191;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/uc_editicon.png) no-repeat 0 0;
  cursor: pointer;
}
.prodlist .operate .delete {
  background-position: 38px 0;
}
.prodlist .operate .edit {
  border-left: 1px solid #e2e2e2;
  background-position: 38px -60px;
}
.prodlist .operate .delete:hover,
.prodlist .operate .edit:hover {
  background-color: #fff;
}
.orderlist_wrap {
  padding-top: 20px;
}
.orderlist li {
  height: 100px;
  width: 100%;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
  background: #fff;
}
.orderlist .orderimg {
  float: left;
  width: 100px;
  height: 100px;
  margin: -1px 0 -1px -1px;
}
.orderlist .orderimg a,
.orderlist .orderimg img {
  display: block;
  width: 100px;
  height: 100px;
}
.orderlist .orderprodinfo {
  float: left;
  width: 358px;
  height: 98px;
  padding: 0 44px 0 20px;
  border-right: 1px solid #e2e2e2;
}
.orderlist .prodtitle {
  padding: 15px 0;
}
.orderlist .prodtitle a {
  font-size: 14px;
  line-height: 18px;
  color: #434343;
}
.orderlist .prodtitle a:hover {
  color: #3ebde0;
}
.orderlist .ordermate {
  font-size: 12px;
  color: #919191;
}
.orderlist .orderprice {
  float: left;
  width: 130px;
  height: 98px;
  padding-top: 30px;
  border-right: 1px solid #e2e2e2;
  text-align: center;
}
.orderlist .pricetitle {
  color: #919191;
}
.orderlist .pricenum {
  color: #ff8062;
}
.orderlist .orderstatus {
  float: left;
  width: 175px;
  height: 98px;
  padding-top: 25px;
  text-align: center;
}
.orderlist .remain {
  color: #919191;
}
.orderlist .status {
  margin: 5px auto 0;
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}
.orderlist .status.will {
  background-color: #46AECD;
}
.orderlist .status.doing {
  background-color: #9ec80a;
}
.orderlist .status.done {
  background-color: #999999;
}
.pagenavi_wrap {
  padding: 40px 0 60px 0;
}
footer {
  margin: 20px 0 0;
  height: 42px;
  background: #282828;
  line-height: 42px;
  color: #6a6a6a;
}
footer .copy {
  font-family: "Helvetica Neue";
  text-align: center;
}
/*有人说要显示边框*/
.prodlist li .prodimg {
  width: 246px;
  height: 153px;
  margin: 0;
}
.orderlist .orderimg {
  width: 98px;
  height: 98px;
  margin: 0 1px 0 0;
}
.orderlist .orderimg a,
.orderlist .orderimg img {
  display: block;
  width: 98px;
  height: 98px;
}
.orderlist .status {
  margin-top: 12px;
}
/*获奖名单*/
.winnerlist_wrap select {
  margin-top: 8px;
  height: 34px;
  line-height: 32px;
  padding-right: 24px;
  background: #ffffff url(http://static.idaiyan.cn/website/static/modules/home/images/uc/selectarrow.png) no-repeat 100% 50%;
}
.winnerlist table {
  width: 100%;
  border: 1px solid #e2e2e2;
}
.winnerlist table th {
  padding: 6px 0;
  border: 1px solid #e2e2e2;
}
.winnerlist table td {
  padding: 13px 0;
  color: #919191;
  text-align: center;
  border: 1px solid #e2e2e2;
  background: #fff;
}
.winnerlist table .col1 {
  width: 17.01570681%;
}
.winnerlist table .col2 {
  width: 24.86910995%;
}
.winnerlist table .col3 {
  width: 58.11518325%;
}
/*我的资产*/
.myproperty {
  background-color: #fff;
}
.myproperty .mymoney {
  position: relative;
  width: 498px;
  height: 128px;
  border: 1px solid #e2e2e2;
  border-right: none;
  padding: 25px 0 0 30px;
}
.myproperty .mymoney h3 {
  color: #434343;
  font-size: 13px;
}
.myproperty .mymoney .money {
  color: #ff8062;
}
.myproperty .mymoney .money .unit {
  font-size: 18px;
}
.myproperty .mymoney .money .num {
  font-size: 48px;
}
.myproperty .mymoney .help {
  position: absolute;
  right: 20px;
  bottom: 20px;
  line-height: 18px;
  color: #00a1d7;
  text-decoration: underline;
}
.myproperty .myticket {
  width: 266px;
  height: 128px;
}
.myproperty .myticket .worth-wrap {
  height: 92px;
  padding: 15px 0 0 30px;
  background-color: #f99c1c;
}
.myproperty .myticket .worth-wrap .worth {
  font-size: 48px;
  color: #fff;
}
.myproperty .myticket .worth-wrap .unit {
  position: relative;
  color: #fff;
}
.myproperty .myticket .worth-wrap .icon-rmb {
  position: absolute;
  top: -26px;
  left: 0;
  width: 19px;
  height: 21px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/rmb.png) no-repeat 0 0;
}
.myproperty .myticket .desc {
  height: 36px;
  border: 1px solid #f99c1c;
  text-align: center;
  line-height: 36px;
}
