.bind_wrap {
  margin-top: 50px;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.bind_wrap .header {
  width: 100%;
  padding-left: 70px;
  height: 70px;
  border-bottom: 1px solid #c6c6c6;
  background: #f9f9f9;
}
.bind_wrap .header .title {
  color: #919191;
  font-size: 24px;
  line-height: 70px;
}
.bind_wrap .bind_content {
  width: 100%;
  padding: 60px 75px 0;
  background: #fff;
}
.bind_wrap .bind_content .tip {
  font-size: 13px;
  color: #c6c6c6;
}
.bind_wrap .bind_content .rank {
  margin-bottom: 25px;
}
.bind_wrap .bind_content .rank .item_title {
  color: #919191;
  font-size: 18px;
}
.bind_wrap .bind_content .rank .item_title span {
  color: #87c80a;
}
.bind_wrap .bind_content .rank .line {
  padding: 10px 15px 0 10px;
  float: left;
}
.bind_wrap .bind_content .rank .line .green {
  width: 180px;
  height: 6px;
  background-color: #87c80a;
}
.bind_wrap .bind_content .rank .line .gray {
  width: 52px;
  height: 6px;
  background-color: #ececec;
}
.bind_wrap .bind_content .rank .tip {
  line-height: 30px;
}
.bind_wrap .bind_content .info_wrap {
  font-size: 14px;
  line-height: 1.5;
}
.bind_wrap .bind_content .info_wrap .binditem {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/many_icon.png) no-repeat;
  height: 50px;
  width: 848px;
  display: table;
  padding-left: 95px;
  margin-bottom: 25px;
}
.bind_wrap .bind_content .info_wrap .binditem .tablecell {
  display: table-cell;
  vertical-align: middle;
}
.bind_wrap .bind_content .info_wrap .binditem.email {
  background-position: 0 -505px;
}
.bind_wrap .bind_content .info_wrap .binditem.email.bind {
  background-position: 0 0;
}
.bind_wrap .bind_content .info_wrap .binditem.tel {
  background-position: 0 -401px;
}
.bind_wrap .bind_content .info_wrap .binditem.tel.bind {
  background-position: 0 -50px;
}
.bind_wrap .bind_content .info_wrap .binditem.weibo {
  background-position: 0 -453px;
}
.bind_wrap .bind_content .info_wrap .binditem.weibo.bind {
  background-position: 0 -100px;
}
.bind_wrap .bind_content .info_wrap .binditem.msg {
  background-position: 0 -250px;
}
.bind_wrap .bind_content .info_wrap .binditem.msg.bind {
  background-position: 0 -150px;
}
.bind_wrap .bind_content .info_wrap .binditem.qq {
  background-position: 0 -200px;
}
.bind_wrap .bind_content .info_wrap .binditem.qq.bind {
  background-position: 0 -350px;
}
.bind_wrap .bind_content .info_wrap .binditem.none_msg {
  background-position: 0 -250px;
}
.bind_wrap .bind_content .info_wrap .binditem.none_msg.bind {
  background-position: 0 -150px;
}
.bind_wrap .bind_content .info_wrap .binditem.pay {
  background-position: 0 -556px;
}
.bind_wrap .bind_content .info_wrap .binditem.pay.bind {
  background-position: 0 -300px;
}
.bind_wrap .bind_content .info_wrap .label {
  width: 100%;
  color: #434343;
}
.bind_wrap .bind_content .info_wrap .binded {
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/yes.png) no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;
}
.bind_wrap .bind_content .info_wrap .change a {
  text-align: right;
  display: block;
}
.bind_wrap .bind_content .info_wrap .change:hover {
  text-decoration: underline;
}
.bind_wrap .bind_content .section1 {
  padding-bottom: 50px;
  border-bottom: 1px solid #ececec;
}
.bind_wrap .bind_content .section2 {
  padding: 45px 0 50px 0;
  border-bottom: 1px solid #ececec;
}
.bind_wrap .bind_content .section3 {
  padding: 45px 0 50px 0;
}
