body {
  min-height: 1351px;
}
.modify_wrap {
  margin-top: 50px;
}
.edit_wrap {
  border: 1px solid #c6c6c6;
  background-color: #fff;
}
.email_wrap {
  width: 752px;
  margin: 0 auto;
  padding: 50px 0 80px 0;
}
.change_line {
  height: 70px;
}
.change_line .line {
  position: relative;
  float: left;
  width: 250px;
  height: 6px;
  text-align: center;
}
.change_line .line span {
  display: inline-block;
}
.change_line .line .text {
  font-size: 13px;
  margin-top: 22px;
}
.change_line .num {
  font-size: 18px;
  position: absolute;
  left: 108px;
  width: 35px;
  height: 35px;
  margin-top: -17.5px;
  padding-top: 5px;
  color: #fff;
  border-radius: 17.5px;
}
.change_line .green {
  background-color: #87c80a;
}
.change_line .green .num {
  background-color: #87c80a;
}
.change_line .green .text {
  color: #87c80a;
}
.change_line .gray {
  z-index: 1;
  background-color: #ececec;
}
.change_line .gray .num {
  background-color: #ececec;
}
.change_line .gray .text {
  color: #c6c6c6;
}
.formitem_wrap.step1 {
  margin-top: 50px;
  padding-left: 75px;
}
.formitem_wrap.step2 {
  position: relative;
  display: none;
  padding: 50px 0 0 195px;
}
.formitem_wrap.step2.stepshow {
  display: block;
}
.formitem_wrap.step2 .formitem {
  margin-bottom: 0;
}
.formitem_wrap.step2 .labletxt {
  font-size: 18px;
  line-height: 50px;
  color: #87c80a;
}
.formitem_wrap.step2 .formobject {
  font-size: 18px;
  line-height: 50px;
  color: #434343;
}
.formitem_wrap.step2 .emil_txt {
  font-size: 13px;
  line-height: 20px;
  color: #919191;
}
.formitem_wrap.step2 .red_txt {
  line-height: 30px;
  color: #ff8062;
}
.formitem_wrap.step2 .bingo {
  position: absolute;
  top: 55px;
  left: 125px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: url(http://static.idaiyan.cn/website/static/modules/home/images/icons/bingo.png) no-repeat #87c80a;
}
.formitem_wrap.step3 {
  padding: 34px 0 0 75px;
}
.formitem_wrap.step3 .email {
  float: left;
  width: 340px;
}
.formitem_wrap.step4 .bingo {
  top: 60px;
}
.formitem_wrap .formitem {
  line-height: 40px;
  margin-bottom: 15px;
}
.formitem_wrap .formitem input {
  background-color: #fcfcfc;
}
.formitem_wrap .formitem .formlabel {
  width: 100px;
  margin-right: 15px;
  text-align: right;
}
.formitem_wrap .formitem .check_img {
  width: 135px;
  height: 42px;
  margin: 0 15px 0 25px;
  border: 1px solid #e2e2e2;
}
.formitem_wrap .formitem .change a:hover {
  text-decoration: underline;
}
.formitem_wrap .formitem #code {
  float: left;
  width: 180px;
  height: 42px;
  background-color: #fcfcfc;
}
.opacity {
  opacity: .5;
}
.formsubmit {
  height: 72px;
  padding-top: 15px;
  border: 1px solid #c6c6c6;
  border-top: none;
  background: #f9f9f9;
}
.formsubmit .savebtn {
  font-size: 16px;
  width: 245px;
  height: 42px;
  margin: 0 auto;
}
.formsubmit .disablebtn {
  line-height: 42px;
  text-align: center;
  color: #6a6a6a;
  border-radius: 3px;
  background-color: #e2e2e2;
}
.Validform_checktip {
  margin-left: 10px;
}
.Validform_wrong {
  color: #ff8062;
}
.Validform_right {
  display: none;
}
